@import "../../../../css/colors";

.schedule-field-container {
  color: $FOFMainColor;

  .schedule-row {
    padding: .5rem;
    border-bottom: $FOFMainColor 1px dashed;

    &:first-of-type {
      border-top: $FOFMainColor 1px dashed;
    }

    .schedule-container {
      .chooser-container, .info-container {
        width: 100%;
        padding: 1rem 0;
      }

      .chooser-container {

        border: solid 1px $FOFMainColor;
        border-radius: 1rem;

        &.active {
          color: white;
          background-color: $FOFMainColor;
        }
      }

      .info-container {
        cursor: not-allowed;
      }

      .chooser-container {
        cursor: pointer;
      }
    }
  }
}
