{varType FKSDB\Models\Events\Model\Holder\BaseHolder $holder}
<p>
    {if $holder->getPerson()->gender->value == 'F'}Milá řešitelko,{else}Milý řešiteli,{/if}<br>
    pouze Ti připomínáme pozvánku na {$holder->event->event_type->name}. Pokud víš, že nepojedeš, budeme rádi, pokud v přihlášce
    odmítneš účast. V takovém případě místo tebe pozveme{if strpos($holder->getModelState(), 'spare') === 0} další{/if}
    náhradníky.
</p>

<hr>

{include 34j.cs.latte}
