{block outerContent}
    <div class="panel color-auto">
        <div class="container">
            <a href="{plink :Shop:Admin:schedule}">{_'Schedule payment dashboard'}</a>
    </div>
    </div>
    {control grid}
{/block}
