{varType FKSDB\Models\ORM\Models\Schedule\PersonScheduleModel[] $rests}
{varType string $lang}
{block outerContent}
    <div class="panel color-auto">
        <div class="container-fluid">
            {control allRests}
        </div>
    </div>
{/block}
