{if $parametrize}
    {control parametrizeForm}
{/if}

{if $error}
    {$error}
{else}
<p>
    <a n:href="csv!">Uložit CSV</a>,
    <a n:href="csv! header => false">Uložit CSV (bez hlavičky)</a>
</p>
    
    {control grid}
{/if}