{varType FKSDB\Models\ORM\Models\PaymentModel $model}
{varType string $lang}
{block outerContent}
    <div class="panel color-auto">
        <div class="container">
            {var $progress = 0}
            {switch $model->state->value}
                {case FKSDB\Models\ORM\Models\PaymentState::IN_PROGRESS}
                {php $progress = 1}
                {case FKSDB\Models\ORM\Models\PaymentState::WAITING}
                {php $progress = 2}
                {case FKSDB\Models\ORM\Models\PaymentState::RECEIVED}
                {php $progress = 3}
            {/switch}
            {*<div class="state-line mt-3 mb-3">
                    <div class="{($progress >= 1?'done':'ongoing') . ' circle'}">
                        <span>{_'Select items'}</span>
                    </div>
                    <div class="{($progress >= 2?'done':'ongoing') . ' line'}"></div>
                    <div class="{($progress >= 2?'done':'ongoing') . ' circle'}">
                        <span>{_'Generate payment'}</span>
                    </div>
                    <div class="{($progress >= 3?'done':'ongoing') . ' line'}"></div>
                    <div class="{($progress >= 3?'done':'ongoing') . ' circle'}">
                        <span>{_'Payment received'}</span>
                    </div>
            </div>*}
            {switch $model->state->value}
                {case FKSDB\Models\ORM\Models\PaymentState::WAITING}
                <p>O prijatí a úspešnom spracovaní platby budete informovaný emailom. Ak ste potvrenie neobdržali do 5
                    pracovných dní od platby, prosím kontaktujte nás TODO email</p>
            {case FKSDB\Models\ORM\Models\PaymentState::IN_PROGRESS}
                <p>Platba je stále rozpracovaná, ak ste vybrali všetky položky ktoré ste vybrali kliknite na TODO, a tým
                    vytvoríte platobné pokny. Po vygenrovaní pokynov sa položky už nedajú z platby odstrániť ani meniť,
                    platba sa dá avšak ešte celá zrušiť!</p>
            {case FKSDB\Models\ORM\Models\PaymentState::RECEIVED}
                <p>Platbu sme úspešne prijali, Ďakujeme</p>
            {/switch}
            {if $model->want_invoice}
                <p>
                    K tejto platbe evudujeme záujem o vystvenie faktúry. Faktura bude poslaná na váš email, do niekoľkých dní po obdržaní paltby.
                </p>
            {/if}
        </div>
    </div>

    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Payer information'}</h2>
            {control columnTable ['person.full_name','person_info.email'], $model, 1024}
        </div>
    </div>

    {if $model->hasGeneratedSymbols()}
        <div class="panel color-auto">
            <div class="container">
                <h2>{_'Payment info'}</h2>
                {if $model->currency === Fykosak\Utils\Price\Currency::CZK}
                    {control columnTable [
                    'payment.constant_symbol',
                    'payment.variable_symbol',
                    'payment.bank_account',
                    'payment.bank_name',
                    'payment.recipient',
                    'payment.iban',
                    'payment.price',
                    ],$model,1024}
                {else}
                    {control columnTable [
                    'payment.bank_name',
                    'payment.recipient',
                    'payment.iban',
                    'payment.swift',
                    'payment.price',
                    ],$model,1024}
                {/if}
            </div>
        </div>
    {/if}
    {if $model->state->value === FKSDB\Models\ORM\Models\PaymentState::WAITING}
        <div class="panel color-auto">
            <div class="container">
                <h2>{_'Scan and pay'}</h2>
                {control paymentQRCode}
            </div>
        </div>
    {/if}
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Payments contains'}</h2>
            {foreach $model->getRelatedPersonSchedule() as $personSchedule}
                {varType FKSDB\Models\ORM\Models\Schedule\PersonScheduleModel $personSchedule}
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-1">
                                <i class="{$personSchedule->schedule_item->schedule_group->schedule_group_type->getIconName()}"></i>
                            </div>
                            <div class="col-3"><small class="text-muted">{_'Block'}
                                    : </small>{$personSchedule->schedule_item->schedule_group->name->getText($lang)}
                            </div>
                            <div class="col-3"><small class="text-muted">{_'Variant'}
                                    : </small>{$personSchedule->schedule_item->name->getText($lang)}</div>
                            <div class="col-3"><small class="text-muted">{_'Person'}
                                    : </small>{$personSchedule->person->getFullName()}</div>
                            <div class="col-2">{$personSchedule->schedule_item->getPrice()->getPrice($model->getCurrency())->__toString()}</div>
                        </div>
                    </div>
                </div>
            {/foreach}
            {if isset($model->price)}
                <div class="card text-bg-primary mb-2">
                    <div class="card-body">
                        <div class="row">
                            <strong class="offset-7 col-3">{_'Total: '}</strong>
                            <strong class="col-2">{$model->getPrice()->__toString()}</strong>
                        </div>
                    </div>
                </div>
            {/if}
            {if $model->canEdit()}
                <a class="btn-outline-primary btn" href="{plink 'edit', 'id'=>$model->getPrimary()}">{_'Edit items'}</a>
            {/if}
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Actions'}</h2>
            {control buttonTransition}
        </div>
    </div>
{/block}
