{block nav-right}
    {control seriesChooser}
    {include #parent}
{/block}

{block content}
    {control composeForm}
    {if $control->getStoredQuery()}
        <h2>{_'Výsledek dotazu'}</h2>
        {control adhocResultsComponent}
    {/if}
{/block}
