{varType FKSDB\Components\Charts\Core\Chart[] $charts}
{block outerContent}
    {foreach $charts as $action=>$chart}
        <div class="panel color-auto">
            <div class="container">
                <h2>{$chart->getTitle()->toHtml()}</h2>
                <p>{$chart->getDescription()}</p>
                {control $action}
            </div>
        </div>
    {/foreach}
{/block}
