{layout none}

{varType FKSDB\Models\ORM\Models\EventParticipantModel $model}

{define subject}Pozvánka na podzimní soustředění FYKOSu{/define}

{block body}
    <p>Ahoj,<br>
        protože ses zatím nijak neozval{if $model->person->gender->value == 'F'}a{/if},
        tak Ti připomínáme, že by se nám hodilo znát Tvé rozhodnutí co nejdříve.
    </p>
    <p>Níže přikládáme zvací e-mail.</p>
    <p>______</p>
    {include 'init->invite.latte'}
{/block}
