{block content}
    <a href="{plink Email:default}" class="btn btn-primary">{_'Change email'}</a>
    <a href="{plink PostContact:default}" class="btn btn-primary">{_'Edit post contact information'}</a>
{/block}
