{layout none}
{varType FKSDB\Models\ORM\Models\EmailMessageModel $model}

<div style="max-width:800px;margin-left:auto;margin-right:auto">
    {$model->inner_text|noescape}
    <!-- Footer -->
    <footer>
        <div
            style="text-align: center; color: grey; font-family: 'Inter', sans-serif; font-size: 1rem; padding-top: 0.5rem;">
            {block footer}{/block}
        </div>
    </footer>
</div>
