{layout './@layout.latte'}
{varType string $code}
{block footer}
    Pokud již nechcete dostávat podobné e-maily, klikněte <a
        href="{plink '//:Core:Unsubscribe:default' 'token'=>$code}">zde</a>.
{/block}

