{layout './@layout.latte'}
{varType FKSDB\Models\ORM\Models\AuthTokenModel $token}
{block footer}
    Ak si neprajete dostávať emaily tohoto typu,
    môžete preferencie upraviť <a href="{plink '//:Profile:Email:default' 'at'=>$token->token}">zde</a>.
{/block}
