{layout './@layout.latte'}
{block footer}
    Ak si neprajete dostávať emaily tohoto typu,
    môžete preferencie upraviť <a href="{plink '//:Profile:Email:default' 'at'=>$token->token}">zde</a>.
{/block}
