{layout './@layout.latte'}
{varType string $code}
{block footer}
    Kliknutím <a
        href="{plink '//:Core:Unsubscribe:default' 'token'=>$code}">zde</a> se odhlásite z dostávania týchto emailov.
{/block}

