{layout ../../../templates/@layout.v4.latte}
{block content}

    {control baseInfo}

    {control login}

    {control address}

    {control personHistory}

    {control contestant}

    {control org}

    {control eventParticipant}

    {control eventOrg}

{/block}
