app/config/config.local.neon
log/*
!log/archive.sh
temp
upload
vendor
node_modules

coverage.html
install.sh.log
tools/soap-dev/request.soap
.idea/*
.vscode/*
*.map
.install-lock
nbproject

typescript/**/*.js
typescript/**/*.jsx
dist/*
www/**/.sass-cache/

docker
!docker/config
!docker/entrypoint.sh
i18n/messages.pot
i18n/i18n-data.ts
i18n/**/*.po~
i18n/**/*.mo
