[submodule "libs/facebook-sdk"]
	path = libs/facebook-sdk
	url = https://github.com/facebook/facebook-php-sdk.git
[submodule "libs/libfks"]
	path = libs/libfks
	url = https://github.com/fykosak/php-libfks.git
[submodule "libs/BootstrapFormRenderer"]
	path = libs/BootstrapFormRenderer
	url = https://github.com/Werkov/BootstrapFormRenderer.git
[submodule "libs/Nette-ajax"]
	path = libs/Nette-ajax
	url = https://github.com/vojtech-dobes/nette.ajax.js.git
[submodule "libs/jquery.confirm"]
	path = libs/jquery.confirm
	url = https://github.com/myclabs/jquery.confirm.git
[submodule "libs/graph-dracula"]
	path = libs/graph-dracula
	url = https://github.com/strathausen/dracula.git
[submodule "tester"]
	path = tester

	url = https://github.com/fykosak/nette-tester.git
[submodule "www/css/bootstrap"]
	path = www/css/bootstrap
	url = https://github.com/twbs/bootstrap.git
