[submodule "libs/facebook-sdk"]
	path = libs/facebook-sdk
	url = https://github.com/facebook/facebook-php-sdk.git
[submodule "libs/Nette-ajax"]
	path = libs/Nette-ajax
	url = https://github.com/vojtech-dobes/nette.ajax.js.git
[submodule "libs/graph-dracula"]
	path = libs/graph-dracula
	url = https://github.com/strathausen/dracula.git
