includes:
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    phpVersion: 80100 # php 8.1
    level: 7
    paths:
        - app
        - libs
        #- tools
        #- tests
    ignoreErrors:
        - '#Parameter .* of .* should be contravariant with parameter .* of method .*#'
    excludePaths:
        - app/Models/Persons/Deduplication/*.php
        - app/Components/Controls/Breadcrumbs/*.php
        - app/Components/EntityForms/RegisterTeacherFormComponent.php
        - app/Models/Results/Models/SchoolCumulativeResultsModel.php
        - app/Models/News.php
        - libs/Forms/KdybyReplicator/KdybyReplicator.php
        #- app/Models/WebService/*
        - app/Models/WebService/AESOP/*
    treatPhpDocTypesAsCertain: false
    strictRules:
        allRules: false
        requireParentConstructorCall: true
        overwriteVariablesWithLoop: true
        closureUsesThis: true
        matchingInheritedMethodNames: true
        noVariableVariables: true
        switchConditionsMatchingType: true
        disallowedConstructs: true
