@mixin navigation-item($color,$background) {
  height: 12rem;
  width: 12rem;
  text-align: center;
  color: $color;
  background-color: $background;
  transition-duration: 200ms;
  .icon {
    font-size: 5rem;
  }

  &:hover, &:focus {
    transition-duration: 200ms;
    background-color: $color;
    color: $background;
  }

  @media (max-width: 767px) {
    text-align: start;
    height: initial;
    width: 100%;
    .icon, & {
      font-size: 1.2rem;
    }
  }
}
