{layout ../@layout.latte}
{block content}
    <div class="btn-group">
        {foreach $buttons as $button}
            <a href="{link transition! $button->getId()}" n:class="'btn btn-outline-'.$button->getBehaviorType()">
                {$button->getLabel()}
            </a>
        {/foreach}
    </div>
{/block}
