<div class="btn-group">
    {foreach $buttons as $button}
        <a href="{link transition! $button->getId()}" n:class="'btn btn-'.$button->getType()">
            {$button->getLabel()}
        </a>
    {/foreach}
</div>
