services:
    field.event.event_year: FKSDB\Components\DatabaseReflection\Event\EventYearRow
    field.event.name: FKSDB\Components\DatabaseReflection\Event\NameRow
    field.event.begin: FKSDB\Components\DatabaseReflection\Event\BeginRow
    field.event.end: FKSDB\Components\DatabaseReflection\Event\EndRow
    field.event.registration_begin: FKSDB\Components\DatabaseReflection\Event\RegistrationBeginRow
    field.event.registration_end: FKSDB\Components\DatabaseReflection\Event\RegistrationEndRow
    field.event.report: FKSDB\Components\DatabaseReflection\Event\ReportRow
    field.event.parameters: FKSDB\Components\DatabaseReflection\Event\ParametersRow
    field.event.year: FKSDB\Components\DatabaseReflection\Event\YearRow
    field.event.event_type: FKSDB\Components\DatabaseReflection\Event\EventTypeRow
