{layout '../@layout.latte'}
{varType Fykosak\NetteORM\TypedGroupedSelection|FKSDB\Models\ORM\Models\EventModel[] $events}
{varType Fykosak\NetteORM\TypedGroupedSelection|FKSDB\Models\ORM\Models\ContestModel[] $contests}
{varType string $lang}

{define eventCard FKSDB\Models\ORM\Models\EventModel$event}
    <div class="col">
        <div class="card h-100 border-{$event->event_type->getSymbol()}">
            <img src="{$basePath}/images/contests/{$event->event_type->getSymbol()}.svg" class="card-img-top m-3"
                 alt="{$event->getName()->getText($lang)}"
                 style="max-height: 7rem">
            <div class="card-body text-center">
                <h3 class="card-title text-{$event->event_type->getSymbol()}">{$event->getName()->getText($lang)}</h3>
                <p>{_'Registration end'} {$event->registration_end->format(_('__date_time'))}</p>
                <p class="card-text">{$event->description->getText($lang)}</p>
                {if $event->isTeamEvent()}
                    <a class="btn btn-{$event->event_type->getSymbol()}"
                       href="{plink ':Event:TeamApplication:create' ,'eventId'=>$event->event_id}">{_'Register team!'}</a>
                {else}
                    <a class="btn btn-{$event->event_type->getSymbol()}"
                       href="{plink ':Event:Application:create','eventId'=>$event->event_id}">{_'Register!'}</a>
                {/if}
            </div>
        </div>
    </div>
{/define}

{block outerContent}
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Contests'}</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4 mt-3">
                {foreach $contests as $contest}
                    {var FKSDB\Models\ORM\Models\ContestModel[] $years = $contest->getActiveYears()}
                    {if count($years)}
                        <div class="col">
                            <div class="card h-100 border-{$contest->getContestSymbol()}">
                                <img src="{$basePath}/images/contests/{$contest->getContestSymbol()}.svg"
                                     class="card-img-top m-3" alt="{$contest->name}"
                                     style="max-height: 7rem">
                                <div class="card-body text-center">
                                    <h3 class="card-title text-{$contest->getContestSymbol()}">{$contest->name}</h3>
                                    {switch $contest->contest_id}
                                        {case FKSDB\Models\ORM\Models\ContestModel::ID_FYKOS}
                                        <p class="card-text">{_'Physics correspondence competition of CUNI MFF for high-school students.'}</p>
                                    {case FKSDB\Models\ORM\Models\ContestModel::ID_VYFUK}
                                        <p class="card-text">{_'Physics correspondence seminar of CUNI MFF for the students of elementary schools.'}</p>
                                    {/switch}
                                    <a class="btn btn-{$contest->getContestSymbol()}"
                                       href="{plink 'year' ,'contestId'=>$contest->contest_id}">{sprintf(_('Register to %s'),$contest->name)}</a>
                                </div>
                            </div>
                        </div>
                    {/if}
                {/foreach}
            </div>
        </div>
    </div>
    {if $events->count('*')}
        <div class="panel color-auto">
            <div class="container">
                <h2>{_'Events with open registration'}</h2>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-3">
                    {foreach $events as $event}
                        {include eventCard $event}
                    {/foreach}
                </div>
            </div>
        </div>
    {/if}
    {*<div class="panel color-auto">
        <div class="container">
            <h2>{_'Teacher'}</h2>
            <a href="{plink teacher}">Link</a>
        </div>
    </div>*}
{/block}
