<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="template.css">
        <title>Fyziklani diplom</title>
    </head>
<body>
    <div id="top">
        <div id="top_left">
            <a href="https://fykos.cz/">
                <p>
                    Fyzikální korespondenční seminář,<br> 
                    který zastřešuje
                </p>
            </a>
        </div>
        <div id="top_right">
            <a href="https://www.mff.cuni.cz/">
                <img src="img/logotyp_fakulty3.png">
            </a>
        </div>
    </div>
    <div id="center">
        <p>uděluje</p>
        <p id="font_certificate">DIPLOM</p>
        <p>týmu</p>
        <p id="font_team">team_name</p>
        <p>ve složení person1 person2 person3 person4 person5 z school name</p>
        <p id="font_team">za 3. místo v kategorii A</p>
        <p id="font_place_cat">(5. místo v celkovém pořadí)</p>
        <p>v year_no ročníku mezinárodní soutěže v řešení fyzikálních úloh</p>
        <a href="https://fyziklani.cz/">
            <p id="font_certificate">Fyziklání 2021</p>
        </a>
        <p>pořádané dne 12. února 2021 na internetových stránkách <a href="https://fyziklani.cz/">fyziklani.cz</a></p>
    </div>

    <div id="signatures">
        <div id="signatures_one">
            <img src="img/podpis_Franc.png">
            <br>
            Podpis_vlevo
            <br>
            Funkce_vlevo
        </div>
        <div id="space">&nbsp;</div>
        <div id="signatures_one">
            <img src="img/podpis_Dupkala.png">
            <br>
            Podpis_center
            <br>
            Funkce_center
        </div>
        <div id="space">&nbsp;</div>
        <div id="signatures_one">
            <img src="img/podpis_Kulich.png">
            <br>
            Podpis_right
            <br>
            Funkce_right
        </div>
    </div>

    <div id="footer">
        <p>
            <a href="https://fyziklani.cz/">Fyziklání 2021</a> je soutěž vyhlašovaná 
            <a href="https://www.mff.cuni.cz/">Univerzitou Karlovou, Matematicko-fyzikální 
            fakultou</a>. Financována je přes Oddělení propagace 
            a mediální komunikace MFF UK. 
            Spoluvyhlašovatelem soutěže je Ministerstvo 
            školství, mládeže
            a tělovýchovy. Soutěž připravují 
            organizátoři Fyzikálního korespondenčního 
            semináře MFF UK. Zaštítěna je Ústavem teoretické
            fyziky, Ústavem jaderné a částicové fyziky a Katedrou
            didaktiky fyziky MFF UK. Samotná soutěž probíhá
            na serveru Katedry aplikované matematiky MFF UK.
             Základ herního systému pochází ze soutěže Interlos.
        </p>
    </div>

</body>
</html>