<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="template.css">
        <title>Fyziklani diplom</title>
    </head>
<body>
    <div id="top">
        <div id="top_left">
            <p>
                Fyzikální korespondenční seminář,<br> 
                který zastřešuje
            </p>
        </div>
        <div id="top_right">
            <a href="https://www.mff.cuni.cz/">
                <img src="img/logotyp_fakulty3.png">
            </a>
        </div>
    </div>
    <div id="center">
        <p>uděluje</p><p>DIPLOM</p>
        <p>týmu team_name</p>
        <p>ve složení person1 person2 person3 person4 person5 z school name</p>
        <p>za 3. místo v kategorii A</p>
        <p>(5. místo v celkovém pořadí)</p>
        <p>v year_no ročníku mezinárodní soutěže v řešení </p>
        <p>fyzikálních úloh</p>
        <p>Fyziklání 2021</p>
        <p>pořádané dne 12. února 2021 na internetových </p>
        <p>stránkách fyziklani.cz</p>
    </div>

    <div id="signatures">
        <div id="signatures_left">
            Podpis_vlevo
        </div>
        <div id="signatures_center">
            Podpis_uprostred
        </div>
        <div id="signatures_right">
            Podpis_vpravo
        </div>
    </div>

    <div id="footer">
        <p>
            Fyziklání 2021 je soutěž vyhlašovaná 
            Univerzitou Karlovou, Matematicko-fyzikální 
            fakultou. Financována je přes Oddělení propagace 
            a mediální komunikace MFF UK. 
            Spoluvyhlašovatelem soutěže je Ministerstvo 
            školství, mládeže
            a tělovýchovy. Soutěž připravují 
            organizátoři Fyzikálního korespondenčního 
            semináře MFF UK. Zaštítěna je Ústavem teoretické
            fyziky, Ústavem jaderné a částicové fyziky a Katedrou
            didaktiky fyziky MFF UK. Samotná soutěž probíhá
            na serveru Katedry aplikované matematiky MFF UK.
             Základ herního systému pochází ze soutěže Interlos.
        </p>
    </div>

</body>
</html>