{varType FKSDB\Models\ORM\Models\PaymentModel $model}
{varType string $lang}
{block outerContent}
    <div class="panel color-auto">
        <div class="container">
            <h2>{control printer:templateString '@payment.state', $model, 1024}</h2>
            {var int $progress = 0}
            {switch $model->state->value}
                {case FKSDB\Models\ORM\Models\PaymentState::IN_PROGRESS}
                {php $progress = 1}
                {case FKSDB\Models\ORM\Models\PaymentState::WAITING}
                {php $progress = 2}
                {case FKSDB\Models\ORM\Models\PaymentState::RECEIVED}
                {php $progress = 3}
            {/switch}
            <div class="state-line mt-3 mb-3">
                <div class="{($progress >= 1?'done':'ongoing') . ' circle'}">
                    <span>{_'Select items'}</span>
                </div>
                <div class="{($progress >= 2?'done':'ongoing') . ' line'}"></div>
                <div class="{($progress >= 2?'done':'ongoing') . ' circle'}">
                    <span>{_'Generate payment'}</span>
                </div>
                <div class="{($progress >= 3?'done':'ongoing') . ' line'}"></div>
                <div class="{($progress >= 3?'done':'ongoing') . ' circle'}">
                    <span>{_'Payment received'}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            {if $model->hasGeneratedSymbols()}
                <h2>{_'Payment info'}</h2>
                {control columnTable [
                'payment.constant_symbol',
                'payment.variable_symbol',
                'payment.specific_symbol',
                'payment.bank_account',
                'payment.bank_name',
                'payment.recipient',
                'payment.iban',
                'payment.swift',
                'payment.price',
                'payment.currency'
                ],$model,1024}
            {/if}
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Payer information'}</h2>
            {control columnTable ['person.full_name','person_info.email'], $model, 1024}
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Payments contains'}</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{_'Item'}</th>
                    <th>{_'Price'}</th>
                </tr>
                </thead>
                <tbody>
                {foreach $model->getRelatedPersonSchedule() as $personSchedule}
                    {varType FKSDB\Models\ORM\Models\Schedule\PersonScheduleModel $personSchedule}
                    <tr>
                        <td>{$personSchedule->getLabel(FKSDB\Modules\Core\Language::from($lang))}</td>
                        <td>{$personSchedule->schedule_item->getPrice()->getPrice($model->getCurrency())->__toString()}</td>
                    </tr>
                {/foreach}
        {if isset($model->price)}
                    <tr class="table-primary">
                        <td>{_'Sum'}</td>
                        <td>{$model->getPrice()->__toString()}</td>
                    </tr>
                {/if}
                </tbody>

            </table>
            <a class="btn-outline-primary btn" href="{plink 'edit', 'id'=>$model->getPrimary()}">{_'Edit items'}</a>

        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Actions'}</h2>
            {control buttonTransition}
        </div>
    </div>
{/block}
