{block content}
    {varType FKSDB\Models\ORM\Models\ModelPayment $model}
    {varType bool $isOrg}
    {varType array $items}
    <div class="h2">{control valuePrinter:onlyValue 'payment.state', $model}</div>
    {var $progress = 0}
    {switch $model->state}
        {case \FKSDB\Models\ORM\Models\ModelPayment::STATE_NEW}
        {php $progress = 1}
        {case \FKSDB\Models\ORM\Models\ModelPayment::STATE_WAITING}
        {php $progress = 2}
        {case \FKSDB\Models\ORM\Models\ModelPayment::STATE_RECEIVED}
        {php $progress = 3}
    {/switch}
    <div class="state-line mt-3 mb-3">
        <div class="{($progress >= 1?'done':'ongoing') . ' circle'}">
            <span>{_'Select items'}</span>
        </div>
        <div class="{($progress >= 2?'done':'ongoing') . ' line'}"></div>
        <div class="{($progress >= 2?'done':'ongoing') . ' circle'}">
            <span>{_'Confirm payment'}</span>
        </div>
        <div class="{($progress >= 3?'done':'ongoing') . ' line'}"></div>
        <div class="{($progress >= 3?'done':'ongoing') . ' circle'}">
            <span>{_'Payment recieved'}</span>
        </div>
    </div>
    <hr/>
    {if $model->hasGeneratedSymbols()}
        <h2>{_'Payment info'}</h2>
        {foreach ['constant_symbol','variable_symbol','specific_symbol','bank_account','bank_name','recipient','iban','swift','price','currency'] as $field}
            {if $model->{$field}}
                {control valuePrinter:row 'payment.' . $field, $model}
            {/if}
        {/foreach}
        <hr/>
    {/if}

    <h2>{_'Person information'}</h2>
    <div>
        {if $isOrg}
            {control valuePrinter:row 'person.person_link', $model}
        {else}
            {control valuePrinter:row 'person.full_name', $model}
        {/if}
        {control valuePrinter:row 'person_info.email', $model->getPerson()->getInfo()}
    </div>
    <hr/>
    <h2>{_'Items'}</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{_'Item'}</th>
            <th>{_'Price'}</th>
        </tr>
        </thead>
        <tbody>
        {foreach $items as $item}
            <tr>
                <td>{$item['label']}</td>
                <td>{$item['price']->__toString()}</td>
            </tr>
        {/foreach}
        {if !is_null($model->price)}
            <tr class="table-primary">
                <td>{_'Sum in '}{$model->getPrice()->getCurrency()->getLabel()}</td>
                <td>{$model->getPrice()->__toString()}</td>
            </tr>
        {/if}
        </tbody>

    </table>
    <a class="btn-outline-primary btn" href="{plink 'edit', 'id'=>$model->getPrimary()}">{_'Edit items'}</a>
    <hr/>

    {control transitionButtons}

{/block}
