{layout '../@layout.v4.latte'}
{block content}
    {if !$model->canEdit()}
        <div class="alert-danger alert">
            <h3>Platba má napočítanú cenu!</h3>
            Platba má napočítanú cenu, zmeny sa <b>nepremietnu</b> do výslednej ceny.
            Pred týmto zásahom kontaktujte aministrátovrov systému.
            Úpravy spôsobia nekonzistenciu dát.
            #mišovászabije
        </div>
    {/if}
    {control editForm}
{/block}
