{varType FKSDB\Modules\EventModule\PaymentPresenter $control}
{block outerContent}
    <div class="panel color-auto">
        <div class="container">
            {if $control->authorized('create')}
                {var $pageTitle = $control->titleCreate()}
                <a href="{plink create}" class="btn btn-outline-primary"><i
                            class="{$pageTitle->icon} me-1"></i>{$pageTitle->title}</a>
            {/if}
        </div>
    </div>
    {control grid}
{/block}
