/* general setting */
@import "/node_modules/bootstrap/scss/bootstrap";
@import "./mixins/navigation-item";

$fofMainColor: #e6060d;
$folMainColor: rgb(0, 174, 107);
$fykosMainColor: #1175da;
$vyfukMainColor: #ff4800;
$ctyrbojColor: #00a6cc;

$fofColor: #e6060d;
$folColor: #00ae6b;
$fykosColor: #1175da;
$dsefColor: #f2b72b;

$fyziklaniPoints5: #2d7dd2;
$fyziklaniPoints3: #98cc04;
$fyziklaniPoints2: #eeb902;
$fyziklaniPoints1: #f45d01;

@mixin color-variant($color,$index) {
  .border-#{$index} {
    border-color: $color;
  }
  .btn-#{$index} {
    @include button-outline-variant($color);
  }
  .bg-#{$index} {
    color: color-contrast($color);
    background-color: $color;
  }
  .text-#{$index} {
    color: $color;
  }
  $alert-background: shift-color($color, $alert-bg-scale);
  $alert-border: shift-color($color, $alert-border-scale);
  $alert-color: shift-color($color, $alert-color-scale);
  @if (contrast-ratio($alert-background, $alert-color) < $min-contrast-ratio) {
    $alert-color: mix($color, color-contrast($alert-background), abs($alert-color-scale));
  }
  .alert-#{$index} {
    @include alert-variant($alert-background, $alert-border, $alert-color);
  }
}

@mixin page-theme($color) {
  .navigation-item {
    @include navigation-item($color);
  }

  nav.navbar {
    background-color: $color;

    .navbar-brand {
      background-repeat: no-repeat;
      height: 2rem;
      width: 5rem;
      display: inline-block;
      background-size: 5rem;
    }

    @if (contrast-ratio($color, white) < $min-contrast-ratio) {
      @extend .navbar-light;
      .navbar-brand {
        background-image: url(../../www/images/logo/black.svg);
      }
    } @else {
      @extend .navbar-dark;
      .navbar-brand {
        background-image: url(../../www/images/logo/white.svg);
      }
    }
  }
  .bd-callout {
    border-left-color: $color;

    h4 {
      color: $color;
    }
  }
  hr {
    border-color: $color;
    background-color: $color;
  }
  footer {
    a {
      font-weight: bold;
      text-decoration: none;
    }
  }
}

.bg-category-fykos-1 {
  background-color: lighten($fykosMainColor, 20%);
}

.bg-category-fykos-2 {
  background-color: lighten($fykosMainColor, 10%);
}

.bg-category-fykos-3 {
  background-color: darken($fykosMainColor, 10%);
}

.bg-category-fykos-4 {
  background-color: darken($fykosMainColor, 20%);
}

.bg-category-vyfuk-6 {
  background-color: lighten($vyfukMainColor, 20%);
}

.bg-category-vyfuk-7 {
  background-color: lighten($vyfukMainColor, 10%);
}

.bg-category-vyfuk-8 {
  background-color: darken($vyfukMainColor, 10%);
}

.bg-category-vyfuk-9 {
  background-color: darken($vyfukMainColor, 20%);
}

.bg-category-vyfuk-unk {
  background-color: $vyfukMainColor;
}

.bg-category-all {
  background-color: #ccc;
}

