/* general setting */
@import "/node_modules/bootstrap/scss/mixins/buttons";
@import "/node_modules/bootstrap/scss/functions";
@import "./mixins/navigation-item";

$FOFMainColor: #e6060d;
$FOLMainColor: rgb(0, 174, 107);
$fykosMainColor: #1175da;
$vyfukMainColor: #ff4800;

$fyziklaniPoints5: #2d7dd2;
$fyziklaniPoints3: #98cc04;
$fyziklaniPoints2: #eeb902;
$fyziklaniPoints1: #f45d01;
:root {
  --color-fof-main: #{$FOFMainColor};
  --color-fol-main: #{$FOLMainColor};
  --color-fykos-main: #{$fykosMainColor};
  --color-vyfuk-main: #{$vyfukMainColor};

  --color-fof-points-5: #{$fyziklaniPoints5};
  --color-fof-points-3: #{$fyziklaniPoints3};
  --color-fof-points-2: #{$fyziklaniPoints2};
  --color-fof-points-1: #{$fyziklaniPoints1};
}

@mixin color-variant($color,$index) {
  .border-#{$index} {
    border-color: $color;
  }
  .btn-#{$index} {
    @include button-outline-variant($color);
  }
  .bg-#{$index} {
    color: color-contrast($color);
    background-color: $color;
  }
}

@mixin page-theme($color) {
  .navigation-item {
    @include navigation-item($color, white);
  }
  .bd-callout {
    border-left-color: $color;

    h4 {
      color: $color;
    }
  }
  hr {
    border-color: $color;
    background-color: $color;
  }
  footer {
    a {
      font-weight: bold;
      text-decoration: none;
    }
  }
}
