/* general setting */
@import "navigation-item";

$fyziklaniPoints5: #2d7dd2;
$fyziklaniPoints3: #98cc04;
$fyziklaniPoints2: #eeb902;
$fyziklaniPoints1: #f45d01;

@mixin page-theme($color, $nav-bg:$color) {
  nav.navbar {
    background-color: $nav-bg;

    .navbar-brand {
      background-repeat: no-repeat;
      height: 2rem;
      width: 5rem;
      display: inline-block;
      background-size: 5rem;
    }

    // TODO!!!!!
    @if (contrast-ratio($nav-bg, white) < $min-contrast-ratio) {
      --#{$prefix}navbar-color: rgba(0, 0, 0, .65);
      --#{$prefix}navbar-hover-color: rgba(0, 0, 0, .8);
      --#{$prefix}navbar-disabled-color: rgba(0, 0, 0, .3);
      --#{$prefix}navbar-active-color: rgba(0, 0, 0, 1);
      --#{$prefix}navbar-brand-color: rgba(0, 0, 0, 1);
      --#{$prefix}navbar-brand-hover-color: rgba(0, 0, 0, 1);
      --#{$prefix}navbar-toggler-border-color: rgba(0, 0, 0, 15);
      --#{$prefix}navbar-toggler-icon-bg: #{escape-svg($navbar-dark-toggler-icon-bg)};

      .navbar-brand {
        background-image: url(../../www/images/logo/black.svg);
      }
    } @else {
      --#{$prefix}navbar-color: rgba(255, 255, 255, .55);
      --#{$prefix}navbar-hover-color: rgba(255, 255, 255, .75);
      --#{$prefix}navbar-disabled-color: rgba(255, 255, 255, .25);
      --#{$prefix}navbar-active-color: #fff;
      --#{$prefix}navbar-brand-color: #fff;
      --#{$prefix}navbar-brand-hover-color: #fff;
      --#{$prefix}navbar-toggler-border-color: rgba(255, 255, 255, .1);
      --#{$prefix}navbar-toggler-icon-bg: #{escape-svg($navbar-light-toggler-icon-bg)};
      .navbar-brand {
        background-image: url(../../www/images/logo/white.svg);
      }
    }
  }
  .bd-callout {
    border-left-color: $color;

    h4 {
      color: $color;
    }
  }
  hr {
    --fks-hr-color: #{$color};
  }
}

.subtitle {
  color: var(--fks-page-theme-color);
}

hr {
  border-color: var(--fks-page-theme-color);
  background-color: var(--fks-page-theme-color);
}

.bg-category-fykos-1 {
  background-color: lighten($fykos-color, 20%);
}

.bg-category-fykos-2 {
  background-color: lighten($fykos-color, 10%);
}

.bg-category-fykos-3 {
  background-color: darken($fykos-color, 10%);
}

.bg-category-fykos-4 {
  background-color: darken($fykos-color, 20%);
}

.bg-category-vyfuk-6 {
  background-color: lighten($vyfuk-color, 20%);
}

.bg-category-vyfuk-7 {
  background-color: lighten($vyfuk-color, 10%);
}

.bg-category-vyfuk-8 {
  background-color: darken($vyfuk-color, 10%);
}

.bg-category-vyfuk-9 {
  background-color: darken($vyfuk-color, 20%);
}

.bg-category-vyfuk-unk {
  background-color: $vyfuk-color;
}

.bg-category-all {
  background-color: #ccc;
}

