@import "colors";
@import "mixins/navigation-item";
@import "node_modules/bootstrap/scss/bootstrap";

[data-style-id~="default"] {
  @include page-theme(#212529);
}

[data-style-id="contest-fykos"],
[data-style-id="event-type-3"],
[data-style-id="event-type-4"],
[data-style-id="event-type-5"],
[data-style-id="event-type-6"],
[data-style-id="event-type-7"],
[data-style-id="event-type-16"] {
  @include page-theme($fykosColor);
}

[data-style-id="contest-vyfuk"],
[data-style-id="event-type-10"],
[data-style-id="event-type-11"],
[data-style-id="event-type-12"],
[data-style-id="event-type-15"] {
  @include page-theme($vyfukMainColor);
}

[data-style-id="contest-ctyrboj"], [data-style-id~="event-type-17"] {
  @include page-theme($ctyrbojColor);
}

[data-style-id="event-type-1"] {
  @include page-theme($fofMainColor);
}

[data-style-id="event-type-2"], [data-style-id~="event-type-14"] {
  @include page-theme(#ff7431);
}

[data-style-id="event-type-9"] {
  @include page-theme($folMainColor);
}

[data-style-id="error"] {
  @include page-theme($danger);
}

.icon {
  &::before {
    display: inline-block;
    height: 1em;
    width: 1em;
    content: "";
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 1em 1em;
    // content: url(./../../www/images/contests/fykos.svg);
  }

  &.icon-fykos {
    &::before {
      background-image: url(./../../www/images/contests/fykos.svg);
    }
  }

  &.icon-vyfuk {
    &::before {
      background-image: url(./../../www/images/contests/vyfuk.svg);
    }
  }

}
