@import "colors";
@import "mixins/navigation-item";
@import "mixins/callout";


[data-contest~="event-type-1"] main:not(.no-bg) {
  h1, h2, h3 {
    font-weight: bold;
  }

  h2 {
    color: $FOFMainColor;
  }

  h1, h3 {
    color: black;
  }
}

.fyziklani-headline {
  color: black;
  font-weight: bold;
}

.fyziklani-headline-color, .fyziklani-headline-red {
  color: #f44336;
  font-weight: bold;
}
