$border-radius: 0;
$btn-border-radius-sm: 0;
$btn-border-radius-lg: 0;
$input-border-radius-lg: 0;
@import "/node_modules/bootstrap/scss/bootstrap";

@import "fyziklani-theme";
@import "inbox";
@import "../Modules/CoreModule/templates/Authentication/login";
@import "colors";
@import "fyziklani";
@import "points";
@import "storedquery-tag";
@import "contests";
@import "callout";
@import "badge";


.bg-white-container {
  background-color: rgba(255, 255, 255, .85);
}

h1 .small {
  font-weight: 300;
}

html, body {
  font-family: 'Inter', sans-serif;
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

$footerHeight: 65px;
body {
  margin: 0 auto;
  padding: $footerHeight 0;
}

main {
  min-height: 100%;
}

.list-piped {
  & > * {
    display: inline-block;
  }

  & > * + *:before {
    color: #CCCCCC;
    content: "| ";
    padding: 0;
  }
}

.clear-referenced {
  position: absolute;
  right: 1em;
  z-index: 3;
}

.right-inner-addon {
  position: relative;

  input {
    padding-right: 30px;
  }

  i {
    position: absolute;
    right: 0;
    padding: 8px 12px;
    cursor: pointer; /* TODO not general enough, might be a static icon */
  }
}

.required .control-label:before {
  color: #b94a48;
  content: '* ';
  display: inline;
}

.dispatch-logo {
  height: 10rem;
}

.bg-error {
  background-color: #dc3545;
}

.image-error {
  width: 100%;
  text-align: center;

  img {
    height: 20rem;
  }

}

.card-columns {
  -webkit-column-count: 2;
  column-count: 2;
}

@media (max-width: 767px) {
  .card-columns {
    -webkit-column-count: 1;
    column-count: 1;
  }
}

.state-timeline .line {
  height: 1px;
  border: solid 2px;
}

.phone-flag {
  img {
    height: 1em;
  }
}

.bg-pink {
  background-color: deeppink;
}

.border-pink {
  border-color: deeppink;
}

.t-shirt-color {
  height: 1rem;
  width: 1rem;
  border-radius: .5rem;
  display: inline-block;
  margin-right: .5rem
}

footer {
  min-height: $footerHeight;
  background-color: rgba(255, 255, 255, .7);
}

.legend {
  &.line-chart-legend {
    .legend-item {
      margin-bottom: 1rem;

      .legend-item-icon {
        display: flex;
        align-items: center;

        .line {
          border-width: 1rem;
          border-radius: 1rem;
          width: 100%;
          height: 2px;
        }
      }

      .legend-item-name {
        font-weight: bold;
      }
    }
  }
}

/*
.fa-vyfuk {
  background-image: url('/images/contests/vyfuk.svg');
}

.fa-fykos {
  background-image: url('/images/contests/fykos.svg');
}

.fa-vyfuk::before {
  content: url('/images/contests/vyfuk.svg');
}

.fa-fykos::before {
  content: url('/images/contests/fykos.svg');
}
*/
