@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/variables-dark";

$enable-rounded: false;
@import "variables";

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "node_modules/bootstrap/scss/maps";
$theme-colors-text: map-merge($theme-colors-text, $contest-colors-text-emphasis);
$theme-colors-bg-subtle: map-merge($theme-colors-bg-subtle, $contest-colors-bg-subtle);
$theme-colors-border-subtle: map-merge($theme-colors-border-subtle, $contest-colors-border-subtle);

$theme-colors-text-dark: map-merge($theme-colors-text-dark, $contest-colors-text-dark);
$theme-colors-bg-subtle-dark: map-merge($theme-colors-bg-subtle-dark, $contest-colors-bg-subtle-dark);
$theme-colors-border-subtle-dark: map-merge($theme-colors-border-subtle-dark, $contest-colors-border-subtle-dark);

@import "node_modules/bootstrap/scss/bootstrap";

@import 'node_modules/flag-icon-css/sass/flag-icon';
@import 'node_modules/codemirror/lib/codemirror.css';

@import "../Modules/CoreModule/templates/Authentication/login";
@import "../Components/Charts/style";
@import "colors";
@import "contests";
@import "callout";
@import "payment";
@import "panel";
@import "../Components/Game/Seating/seating";
@import "../Components/Game/Seating/print";

:root {
  --color-fof-points-5: #{$fyziklaniPoints5};
  --color-fof-points-3: #{$fyziklaniPoints3};
  --color-fof-points-2: #{$fyziklaniPoints2};
  --color-fof-points-1: #{$fyziklaniPoints1};

  --color-variant-color-1: #1f77b4;
  --color-variant-color-2: #ff7f0e;
  --color-variant-color-3: #2ca02c;
  --color-variant-color-4: #d62728;
  --color-variant-color-5: #9467bd;
  --color-variant-color-6: #8c564b;
  --color-variant-color-7: #e377c2;
  --color-variant-color-8: #cccccc;
  --color-variant-color-9: #bcbd22;
  --color-variant-color-10: #17becf;
  --color-variant-color-11: #000000;

  --color-contest-1: #{$fykos-color};
  --color-contest-2: #{$vyfuk-color};
  --color-contest-3: #{$ctyrboj-color};

  --color-event-type-1: #{$fof-color};
  --color-event-type-2: #{$dsef-color};
  --color-event-type-3: #{$fykos-color};
  --color-event-type-4: #{$fykos-color};
  --color-event-type-5: #{$fykos-color};
  --color-event-type-7: #{$fykos-color};

  --color-event-type-9: #{$fol-color};
  --color-event-type-10: #{$vyfuk-color};
  --color-event-type-11: #{$vyfuk-color};
  --color-event-type-12: #{$vyfuk-color};

  --color-event-type-14: #{$dsef-color};
  --color-event-type-15: #{$vyfuk-color};
  --color-event-type-16: #{$fykos-color};
  --color-event-type-17: #{$ctyrboj-color};
}

html, body {
  font-family: 'Inter', sans-serif;
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

$footer-height: 100px;
body {
  margin: 0 auto;
  padding: $footer-height 0;
}

main {
  min-height: 100%;
}

.right-inner-addon {
  position: relative;

  input {
    padding-right: 30px;
  }

  i {
    position: absolute;
    right: 0;
    padding: 8px 12px;
    cursor: pointer; /* TODO not general enough, might be a static icon */
  }
}

.required .control-label:before {
  color: #{$danger};
  content: '* ';
  display: inline;
}
.image-error {
  width: 100%;
  text-align: center;

  img {
    height: 20rem;
  }
}

.card-columns {
  -webkit-column-count: 2;
  column-count: 2;
}

@media (max-width: 767px) {
  .card-columns {
    -webkit-column-count: 1;
    column-count: 1;
  }
}

.state-timeline .line {
  height: 1px;
  border: solid 2px;
}

.t-shirt-color {
  height: 1rem;
  width: 1rem;
  border-radius: .5rem;
  display: inline-block;
  margin-right: .5rem
}

footer {
  min-height: $footer-height;
  background-color: #000000;
  color: white;

  a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
}

.fks-divider {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--fks-page-theme-color);
  line-height: 0.1em;
  margin: .5rem 0 1rem;

  span {
    background: #fff;
    padding: 0 .5rem;
  }
}

.form-group.required .form-label:after {
  content: "*";
  color: var(--bs-danger);
}
