.panel {
  padding: 2rem 0;
  background-color: rgba(var(--panel-bg-rgb), 0.95);

  &:first-of-type {
    padding-top: .5rem;
  }

  &.panel-dark, &.color-auto:nth-of-type(2n) {
    --panel-bg-rgb: var(--bs-secondary-bg-rgb);
  }

  &.panel-light, &.color-auto:nth-of-type(2n+1) {
    --panel-bg-rgb: var(--bs-body-bg-rgb);
  }

  .page-header {
    margin-bottom: 2.1rem;
  }

  .subtitle {
    font-weight: bold;
    font-size: 1.6rem;
  }

  h1, h2 {
    font-weight: 600;
    .badge{
      font-size: .5em;
    }
  }

  h2 {
    margin-bottom: 2.1rem;
  }
}
