@media all {
  @page {
    .page.page-b5-landscape {
      size: B5 landscape;
    }

    .page-b5-portrait {
      size: B5 portrait;
    }

    .page-a5-portrait {
      size: A5 portrait;
    }

    .page-a5-landscape {
      size: A5 landscape;
    }

    .page-a4-landscape {
      size: A4 landscape;
    }

    .page-a4-portrait {
      size: A4 portrait;
    }
  }

  .print-area {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*background-color: #FAFAFA;*/
    font-size: 12pt;

    .page {
      &.page-b5-portrait {
        width: 176mm;
        height: 250mm;
      }

      &.page-b5-landscape {
        width: 250mm;
        height: 176mm;
      }

      &.page-a5-portrait {
        width: 148mm;
        height: 210mm;
      }

      &.page-a5-landscape {
        width: 210mm;
        height: 148mm;
      }

      &.page-a4-landscape {
        width: 297mm;
        height: 210mm;
      }

      &.page-a4-portrait {
        width: 210mm;
        height: 297mm;
      }

      position: relative;
      page-break-before: always;
      page-break-after: always;
      margin: 0 auto;
      /* background: red;*/
      padding: 0;
    }
  }

  @page {
    margin: 0;
  }
}


@media screen {
  .print-area {
    .page {
      border: 1px dotted #ccc;
    }
  }
}
