{layout ../@layout.latte}
{varType FKSDB\Models\Transitions\Transition\Transition $transition}

{block content}
    <p class="alert-info alert">{_'Transition will be processed automatically: '}{$transition->source->label()}->{$transition->target->label()}</p>
    {control form}
{/block}
