{layout ../@layout.latte}
{varType FKSDB\Models\Transitions\Transition\Transition[] $transitions}
{varType FKSDB\Models\Transitions\Holder\ModelHolder $holder}

{block content}
    {if count($transitions)}
        {foreach $transitions as $transition}
            {var $className = 'btn btn-outline-' . $transition->behaviorType->value}
            {if $transition->isCreating()}
                <a href="{plink :Public:Application:default eventId => $holder->event->event_id}"
                   class="{$className}">{$transition->getLabel()}</a>
            {else}
                <a n:href="transition! $transition->getId()" class="{$className}">{$transition->getLabel()}</a>
            {/if}
        {/foreach}
    {elseif $showInfo}
        {FKSDB\Models\UI\NoTransitionBadge::getHtml()}
    {/if}
{/block}
