{block inner-content}
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            {control paymentList}
        </div>
        <div class="col">
            {control contestantList}
        </div>
        <div class="col">
            {control historyList}
        </div>
        <div class="col">
            {control orgList}
        </div>
        <div class="col">
            {control role}
        </div>
    </div>
{/block}
