<div class="panel color-auto">
    <div class="container">
        {control form}
    </div>
</div>
{foreach $logs as $log}
    <div class="panel color-auto">
        <div class="container">
            <h2>
                {*control valuePrinter:onlyValue person, person_link, $log['model']*}
                <a href="{plink :Org:Person:detail id=>$log['model']->person_id}">{$log['model']->getFullName()}</a>
                <span class="badge bg-secondary">#{$log['model']->person_id}</span>
            </h2>
            {foreach $log['log'] as $simpleLog}
                <div class="alert alert-{$simpleLog->level}"><b>{$simpleLog->testName}</b>: {$simpleLog->text}
                </div>
            {/foreach}
        </div>
    </div>
{/foreach}
