{control form}
<h2>{_'Persons'}</h2>
{foreach $logs as $log}
    <div class="mt-3">
        <h3>
            {*control valuePrinter:onlyValue person, person_link, $log['model']*}
            <a href="{plink :Common:Person:detail id=>$log['model']->person_id}">{$log['model']->getFullName()}</a>
            <span class="badge badge-secondary">#{$log['model']->person_id}</span>
        </h3>
        {foreach $log['log'] as $simpleLog}
            <div class="alert alert-{$simpleLog->getLevel()}"><b>{$simpleLog->testName}</b>: {$simpleLog->getMessage()}
            </div>
        {/foreach}
        <hr/>
    </div>
{/foreach}
