@import "../../../../css/colors";

.schedule-field-container {
  color: var(--color-fof);

  .schedule-row {
    padding: .5rem;
    border-bottom: var(--color-fof) 1px dashed;

    &:first-of-type {
      border-top: var(--color-fof) 1px dashed;
    }

    .schedule-container {
      .chooser-container, .info-container {
        width: 100%;
        padding: 1rem 0;
      }

      .chooser-container {

        border: solid 1px var(--color-fof);
        border-radius: 1rem;

        &.active {
          color: white;
          background-color: var(--color-fof);
        }
      }

      .info-container {
        cursor: not-allowed;
      }

      .chooser-container {
        cursor: pointer;
      }
    }
  }
}
