{layout ../../templates/@layout.latte}


{block user-info}

{if $control['languageChooser']->isValid()}
    {control languageChooser,null}
{/if}
{if $control['contestChooser']->isValid()}
    {control contestChooser}
{/if}
{include #parent}
{/block}
