{*layout '../@layout.v4.latte'*}
{block head}
    {include #parent}
    <link rel="stylesheet" href="{$basePath}/css/inbox.css"/>
{/block}

{block user-info}
    {include #parent}
    {control seriesChooser}
{/block}

{block content}
    {control inboxForm}
{/block}

