{block title}Příjem řešení{/block}

{block scripts}
{include #parent}
<script src="{$basePath}/js/jquery.ui.swappable.js"></script>
<script src="{$basePath}/js/inbox.js"></script>
{/block}

{block content}
{control formSelectSeries}


{control inboxForm}

