{block title}Rozdělení opravovatelům{/block}

{block scripts}
{include #parent}
<script src="{$basePath}/js/multipleTextSelect.js"></script>
{/block}

{block content}
{control formSelectSeries}


{control handoutForm}

