{varType Fykosak\Utils\UI\Title|null $title}
{varType string $buttonClassName}
{varType string $destination}
{varType array $params}
{varType bool $show}
{varType Nette\Application\UI\Control $linkControl}
{if $show}
    <a href="{$linkControl->link($destination,$params)}"
       class="{$buttonClassName}">{$title?$title->toHtml():$linkControl->link($destination,$params)}</a>
{/if}
