{varType Fykosak\NetteORM\Model|null $model}
{varType int|null $userPermission}
{if count($control->getComponents())}
    <div class="btn-group">
        {foreach $control->getComponents() as $button}
            {control $button $model,$userPermission}
        {/foreach}
    </div>
{/if}
