{define buttonGroup,Fykosak\NetteORM\Model\Model|null $model,int|null $userPermission,array $buttons}
    {if count($buttons)}
        <div class="btn-group">
            {foreach $buttons as $button}
                {control $button $model,$userPermission}
            {/foreach}
        </div>
    {/if}
{/define}
