transitions:
    dsef:
        machine: FKSDB\Models\Transitions\Machine\EventParticipantMachine
        stateEnum: FKSDB\Models\ORM\Models\EventParticipantStatus
        decorator: null
        transitions:
            __init->applied:
                label: _('Register')
                afterExecute:
                    - FKSDB\Models\Transitions\Callbacks\Dsef\ParticipantMailCallback()
            applied->participated:
                condition: and(FKSDB\Models\Transitions\Transition\Statements\Conditions\ImplicitEventRole('organizer'), FKSDB\Models\Events\Semantics\EventWas())
                label: _('Prezentovat')
            applied->missed:
                condition: and(FKSDB\Models\Transitions\Transition\Statements\Conditions\ImplicitEventRole('organizer'), FKSDB\Models\Events\Semantics\EventWas())
                label: _('Nepřijel')
                behaviorType: danger
            applied->cancelled:
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\ImplicitEventRole('organizer')
                label: _('Zrušit přihlášku')
                behaviorType: danger

