transitions:
    fof:
        machine: FKSDB\Models\Transitions\Machine\TeamMachine
        stateEnum: FKSDB\Models\ORM\Models\Fyziklani\TeamState
        decorator: null
        transitions:
            init->pending:
                label: _('Register team')
                icon: 'fas fa-plus'
                behaviorType: primary
                afterExecute:
                    - FKSDB\Models\Mail\FOF\MemberTransitionMail()
                    - FKSDB\Models\Mail\FOF\TeacherTransitionMail()
            pending->applied:
                label: _('Move to approved')
                behaviorType: success
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\ImplicitEventRole('organizer')
            pending->spare:
                label: _('Move to approved')
                behaviorType: warning
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\ImplicitEventRole('organizer')
                afterExecute:
                    - FKSDB\Models\Mail\FOF\MemberTransitionMail()
                    - FKSDB\Models\Mail\FOF\TeacherTransitionMail()
            spare->applied:
                label: _('Move to approved')
                behaviorType: success
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\ImplicitEventRole('organizer')
                afterExecute:
                    - FKSDB\Models\Mail\FOF\MemberTransitionMail()
                    - FKSDB\Models\Mail\FOF\TeacherTransitionMail()
            applied->pending:
                label: _('Move to approved')
                behaviorType: danger
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\ImplicitEventRole('organizer')
            applied->arrived:
                label: _('Arrived')
                behaviorType: success
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\ImplicitEventRole('organizer')
                afterExecute:
                    - FKSDB\Models\Mail\FOF\MemberTransitionMail()
                    - FKSDB\Models\Mail\FOF\TeacherTransitionMail()
            arrived->participated:
                label: _('Present')
                behaviorType: success
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\ImplicitEventRole('organizer')
            applied->missed:
                label: _('Did not come')
                behaviorType: danger
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\ImplicitEventRole('organizer')
            spare|applied|pending->cancelled:
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\ImplicitEventRole('organizer')
                label: _('Cancel')
                behaviorType: danger
                afterExecute:
                    #- FKSDB\Models\Mail\FOF\MemberTransitionMail()
                    #- FKSDB\Models\Mail\FOF\TeacherTransitionMail()
