transitions:
    fof:
        machine: FKSDB\Models\Transitions\Machine\TeamMachine
        stateEnum: FKSDB\Models\ORM\Models\Fyziklani\TeamState
        decorator: null
        transitions:
            init->applied:
                label: _('Register team')
                afterExecute:
                    - FKSDB\Models\Transitions\Callbacks\Fof\TeamMemberMailCallback()
                    - FKSDB\Models\Transitions\Callbacks\Fof\TeamTeacherMailCallback()
            pending->applied:
                behaviorType: success
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\ImplicitEventRole('organizer')
                afterExecute:
                    - FKSDB\Models\Transitions\Callbacks\Fof\MemberMail()
                    - FKSDB\Models\Transitions\Callbacks\Fof\TeacherMail()
                label: _('Move to approved')
            applied->spare:
                behaviorType: warning
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\ImplicitEventRole('organizer')
                label: _('Move to approved')
            applied->arrived:
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\ImplicitEventRole('organizer')
                label: _('Arrived')
            arrived->participated:
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\ImplicitEventRole('organizer')
                label: _('Present')
            applied->missed:
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\ImplicitEventRole('organizer')
                label: _('Did not come')
            spare|applied->cancelled:
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\ImplicitEventRole('organizer')
                label: _('Cancel')
                behaviorType: danger
