transitions:
    fol:
        machine: FKSDB\Models\Transitions\Machine\TeamMachine
        stateEnum: FKSDB\Models\ORM\Models\Fyziklani\TeamState
        decorator: null
        transitions:
            init->pending:
                label: _('Register team')
                afterExecute:
                    - FKSDB\Models\Transitions\Callbacks\Fol\TeamMemberMailCallback()
            pending->applied:
                behaviorType: success
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\EventRole('organizer')
                label: _('Schválit účast')
            pending->spare:
                behaviorType: warning
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\EventRole('organizer')
                label: _('Potvrdit jako náhradníka')
            applied|spare->participated:
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\Falsable()
                label: _('Prezentovat')
            applied|spare->missed:
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\Falsable()
                label: _('Nepřijel')
            pending|spare|applied->cancelled:
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\EventRole('organizer')
                label: _('Zrušit tým')
                behaviorType: danger
