parameters:
    fykosPayment:
        symbolGenerator:
            CZK:
                bank_account: 2402414686/2010
                bank_name: "Fio banka, a.s."
                recipient: "Fykos, z.s."
                iban: CZ55 2010 0000 0024 0241 4686
                constant_symbol: "0308"
            EUR:
                bank_name: "Fio banka, a.s."
                recipient: "Fykos, z.s."
                iban: CZ05 2010 0000 0022 0241 4681
                swift: FIOBCZPPXXX
services:
    priceCalculator: FKSDB\Models\Payment\PriceCalculator\PriceCalculator
    fykosPayment.symbolGenerator: FKSDB\Models\Payment\SymbolGenerator\Generators\DefaultGenerator(%fykosPayment.symbolGenerator%)
transitions:
    fykosPayment:
        machine: FKSDB\Models\Transitions\Machine\PaymentMachine
        stateEnum: FKSDB\Models\ORM\Models\PaymentState
        decorator: FKSDB\Models\Transitions\TransitionsGenerator\PaymentTransitions()
        transitions:
            init->in_progress:
                label: _('Add to card')
            in_progress->waiting:
                label: _('Generate payment')
                behaviorType: success
                successLabel: _('Payment information has been succefully created')
                beforeExecute:
                    - @fykosPayment.symbolGenerator
                    - @priceCalculator
                afterExecute:
                    - FKSDB\Models\Email\Payment\PaymentMail()
            in_progress|waiting->canceled:
                label: _('Cancel payment')
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\AnyContestRole('edit')
                behaviorType: danger
            waiting->received:
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\AnyContestRole('organizer')
                label: _('Paid')
                behaviorType: success
                afterExecute:
                    - FKSDB\Models\Email\Payment\PaymentMail()
