transitions:
    personSchedule:
        machine: FKSDB\Models\Transitions\Machine\PersonScheduleMachine
        stateEnum: FKSDB\Models\ORM\Models\Schedule\PersonScheduleState
        decorator: null
        transitions:
            applied->cancelled:
                label: _('Cancel')
            applied->missed:
                label: _('Missed')
            applied->participated:
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\IsPaid()
                label: _('Participated')


