<p>
    Jsi členem týmu <em>{$holder->getPrimaryHolder()->getModel()->__toString()}</em> pro {$event->name}.
</p>
{include 'inc/eventEdit.cs.latte' event => $event, token => $token}
{include 'inc/closing.cs.latte'}
