{varType FKSDB\Models\ORM\Models\AuthTokenModel $tokenModel}
<p>
Ahoj,<br/>
byl Ti vytvořen účet na fykos.cz. Pro první přihlášení a nastavení hesla
použij prosím tento odkaz:<br/>
<a n:href="//:Core:Settings:, at => $tokenModel->token">{link //:Core:Settings:, at => $tokenModel->token}</a>
</p>

{include 'inc/closing.cs.latte'}
