<p>
    You are now a member of the team <em>{$holder->getPrimaryHolder()->getModel()->__toString()}</em> at {$event->name}.
</p>
{include 'inc/eventEdit.en.latte' event => $event, token => $token}
{include 'inc/closing.en.latte'}
