{varType FKSDB\Models\Transitions\Holder\ParticipantHolder $holder}
<p>
    You are now a member of the team <em>{$holder->getModel()->__toString()}</em> at {$holder->getModel()->event->name}.
</p>
{include 'inc/eventEdit.en.latte'}
{include 'inc/closing.en.latte'}
