{varType FKSDB\Models\Transitions\Holder\ParticipantHolder $holder}
<p>
    Jsi členem týmu <em>{$model->__toString()}</em> pro {$model->event->name}.
</p>
{include 'inc/eventEdit.cs.latte'}
{include 'inc/closing.cs.latte'}
