{varType FKSDB\Models\Events\Model\Holder\Holder $holder}
<p>
    Jsi členem týmu <em>{$holder->primaryHolder->getModel2()->__toString()}</em> pro {$event->name}.
</p>
{include 'inc/eventEdit.cs.latte' event => $event, token => $token}
{include 'inc/closing.cs.latte'}
