{varType FKSDB\Models\Transitions\Holder\ParticipantHolder $holder}
<p>
    Jsi členem týmu <em>{$holder->getModel()->__toString()}</em> pro {$holder->getModel()->event->name}.
</p>
{include 'inc/eventEdit.cs.latte'}
{include 'inc/closing.cs.latte'}
