{varType FKSDB\Models\ORM\Models\AuthTokenModel $tokenModel}
{varType FKSDB\Models\ORM\Models\LoginModel $login}
<p>
    Bylo zažádáno o obnovu hesla na fykos.cz pro uživatele <em>{$login}</em>. Pokud jste žádali vy,
    tak použijte odkaz pro změnu hesla:<br/>
    <a n:href="//:Core:Settings:, at => $tokenModel->token">{link //:Core:Settings:, at => $tokenModel->token}</a>
</p>

<p>
    Odkaz je platný do <strong>{$tokenModel->until}</strong>.
</p>

{include 'inc/closing.cs.latte'}
