{varType FKSDB\Models\Events\Model\Holder\BaseHolder $holder}
<p>
    Application state of the team <em>{$holder->getModel()}</em> has changed. Current state &ndash;
    <em>{$holder->getModelState()->label()}</em>.
</p>
{include 'inc/eventEdit.en.latte'}
{include 'inc/closing.en.latte'}
