{varType FKSDB\Models\Transitions\Holder\ParticipantHolder $holder}
<p>
    Změna přihlášky týmu <em>{$holder->getModel()}</em>. Aktuální stav &ndash; <em>{$holder->getState()->label()}</em>.
</p>
{include 'inc/eventEdit.cs.latte'}
{include 'inc/closing.cs.latte'}
