{varType FKSDB\Models\Transitions\Holder\ParticipantHolder $holder}
<p>
    Application state of the team <em>{$holder->getModel()}</em> has changed. Current state &ndash;
    <em>{$holder->getState()->label()}</em>.
</p>
{include 'inc/eventEdit.en.latte'}
{include 'inc/closing.en.latte'}
