{var $state = $machine->getHolder()->getPrimaryHolder()->getModelState()}
<p>
    Application state of the team <em>{$application}</em> has changed. Current state &ndash;
    <em>{$machine->getPrimaryMachine()->getStateName($state)}</em>.
</p>
{include 'inc/eventEdit.en.latte' event => $event, token => $token}
{include 'inc/closing.en.latte'}
