{varType FKSDB\Models\Transitions\Holder\ParticipantHolder $holder}
<p>
    Změna stavu přihlášky osoby {$model->person->getFullName()} na akci <em>participant</em>.
    Nový stav <em>{$state = $holder->getState()->label()}</em>.
</p>
{include 'inc/eventEdit.cs.latte'}
{include 'inc/closing.cs.latte'}
