{var $state = $machine->getHolder()->getPrimaryHolder()->getModelState()}
<p>
    Změna stavu přihlášky osoby {$person->getFullname()} na akci <em>{$event}</em>.
    Nový stav <em>{$machine->getPrimaryMachine()->getStateName($state)}</em>.
</p>
{include 'inc/eventEdit.cs.latte' event => $event, token => $token}
{include 'inc/closing.cs.latte'}
