{varType FKSDB\Models\Events\Model\Holder\BaseHolder $holder}
{var $state = $holder->getModelState()}
<p>
    {$holder->getPerson()->getFullName()}'s application for <em>{$holder->event}</em> state has been updated.
    New state is <em>{$state->label()}</em>.
</p>
{include 'inc/eventEdit.en.latte'}
{include 'inc/closing.en.latte'}
