{varType FKSDB\Models\Events\Model\Holder\BaseHolder $holder}
{var $state = $holder->getModelState()}
<p>
    Změna stavu přihlášky osoby {$holder->getPerson()->getFullName()} na akci <em>{$holder->holder}</em>.
    Nový stav <em>{FKSDB\Models\Events\Machine\BaseMachine::getStateName($state)}</em>.
</p>
{include 'inc/eventEdit.cs.latte'}
{include 'inc/closing.cs.latte'}
