{varType FKSDB\Models\Events\Model\Holder\BaseHolder $holder}
<p>
    {$holder->getPerson()->getFullName()}'s application for <em>{$holder->getModel()->event}</em> state has been updated.
    New state is <em>{$holder->getModelState()->label()}</em>.
</p>
{include 'inc/eventEdit.en.latte'}
{include 'inc/closing.en.latte'}
