{varType FKSDB\Models\ORM\Models\PaymentModel $model}
{varType string $lang}
{block outerContent}
    <div class="panel color-auto">
        <div class="container">
            {var $progress = 0}
            {switch $model->state->value}
                {case FKSDB\Models\ORM\Models\PaymentState::IN_PROGRESS}
                {php $progress = 1}
                {case FKSDB\Models\ORM\Models\PaymentState::WAITING}
                {php $progress = 2}
                {case FKSDB\Models\ORM\Models\PaymentState::RECEIVED}
                {php $progress = 3}
            {/switch}
            {*<div class="state-line mt-3 mb-3">
                    <div class="{($progress >= 1?'done':'ongoing') . ' circle'}">
                        <span>{_'Select items'}</span>
                    </div>
                    <div class="{($progress >= 2?'done':'ongoing') . ' line'}"></div>
                    <div class="{($progress >= 2?'done':'ongoing') . ' circle'}">
                        <span>{_'Generate payment'}</span>
                    </div>
                    <div class="{($progress >= 3?'done':'ongoing') . ' line'}"></div>
                    <div class="{($progress >= 3?'done':'ongoing') . ' circle'}">
                        <span>{_'Payment received'}</span>
                    </div>
            </div>*}
            {switch $model->state->value}
                {case FKSDB\Models\ORM\Models\PaymentState::WAITING}
                {if $lang === 'cs'}
                    <p>
                        O přijetí a úspěšném zpracování platby budete informováni e-mailem. Pokud potvrzení neobdržíte zhruba
                        do týdne od provedení převodu, kontaktujte nás na <a href="mailto:dsef@fykos.cz">dsef@fykos.cz</a>.
                    </p>
                {else}
                    <p>
                        We will send you an email about the acceptance and successful processing of your payment. If
                        you do not receive a confirmation within one week of making the transfer, please contact us at
                        <a href="mailto:dsef@fykos.org">dsef@fykos.org</a>.
                    </p>
                {/if}
            {case FKSDB\Models\ORM\Models\PaymentState::IN_PROGRESS}
                {if $lang === 'cs'}
                    <p>
                        Platba je nyní rozpracovaná; pokud jste vybrali všechny položky, které chcete zaplatit, přejděte k
                        vygenerování platebních pokynů. Po tomto kroku už nelze platbu měnit, pouze celou zrušit.
                    </p>
                {else}
                    <p>
                        The payment is now in progress; if you have selected all the items you want to pay for,
                        proceed to generate the payment instructions. After this step, the payment cannot be changed, only
                        completely canceled.
                    </p>
                {/if}
            {case FKSDB\Models\ORM\Models\PaymentState::RECEIVED}
                {if $lang === 'cs'}
                    <p>Platbu jsme úspěšně přijali, děkujeme!</p>
                {else}
                    <p>We have successfully received your payment, thank you!</p>
                {/if}
            {/switch}
            {if $model->want_invoice}
                {if $lang === 'cs'}
                    <p>
                        U této platby evidujeme požadavek na vytvoření faktury. Do týdne od obdržení platby ji pošleme na váš e-mail.
                    </p>
                {else}
                    <p>
                        We have a request for an invoice for this payment. We will send it to your email within a week after receiving the payment.
                    </p>
                {/if}
            {/if}
        </div>
    </div>

    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Payer information'}</h2>
            {control columnTable ['person.full_name','person_info.email'], $model, 1024}
        </div>
    </div>

    {if $model->hasGeneratedSymbols()}
        <div class="panel color-auto">
            <div class="container">
                <h2>{_'Bank connection'}</h2>
                {include bankConnection from ../blocks/bankConnection.latte model:$model}
            </div>
        </div>
    {/if}
    {if $model->state->value === FKSDB\Models\ORM\Models\PaymentState::WAITING && $model->currency->value === Fykosak\Utils\Price\Currency::CZK}
        <div class="panel color-auto">
            <div class="container">
                <h2>{_'Scan and pay'}</h2>
                {control paymentQRCode}
            </div>
        </div>
    {/if}
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Payments contains'}</h2>
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>{_'Block'}</th>
                    <th>{_'Variant'}</th>
                    <th>{_'Person'}</th>
                    <th></th>
                    <th>{_'Payment deadline'}</th>
                </tr>
                </thead>
                <tbody>
                {foreach $model->getSchedulePayment() as $schedulePayment}
                    {varType FKSDB\Models\ORM\Models\Schedule\SchedulePaymentModel $schedulePayment}
                    <tr>
                        <td>
                            <i class="{$schedulePayment->person_schedule->schedule_item->schedule_group->schedule_group_type->getIconName()}"></i>
                        </td>
                        <td>
                            {$schedulePayment->person_schedule->schedule_item->schedule_group->name->getText($lang)}
                        </td>
                        <td>
                            {$schedulePayment->person_schedule->schedule_item->name->getText($lang)}
                        </td>
                        <td>
                            {$schedulePayment->person_schedule->person->getFullName()}
                        </td>
                        <td>
                            {$schedulePayment->person_schedule->schedule_item->getPrice()->getPrice($model->getCurrency())->__toString()}
                        </td>
                        <td>
                            {control printer:column '@person_schedule.payment_deadline', $schedulePayment->person_schedule,1024}
                        </td>
                    </tr>
                {/foreach}
                {if isset($model->price)}
                    <tr class="table-primary">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{_'Total'}</td>
                        <td>{$model->getPrice()->__toString()}</td>
                        <td></td>
                    </tr>
                {/if}
                </tbody>
            </table>
            {if $model->canEdit()}
                <a class="btn-outline-primary btn" href="{plink 'edit', 'id'=>$model->getPrimary()}">{_'Edit items'}</a>
            {/if}
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Actions'}</h2>
            {control buttonTransition}
        </div>
    </div>
{/block}
