{varType FKSDB\Models\ORM\Models\PaymentModel $model}
{varType string $lang}
{block outerContent}
    <div class="panel color-auto">
        <div class="container">
            {var $progress = 0}
            {switch $model->state->value}
                {case FKSDB\Models\ORM\Models\PaymentState::IN_PROGRESS}
                {php $progress = 1}
                {case FKSDB\Models\ORM\Models\PaymentState::WAITING}
                {php $progress = 2}
                {case FKSDB\Models\ORM\Models\PaymentState::RECEIVED}
                {php $progress = 3}
            {/switch}
            {*<div class="state-line mt-3 mb-3">
                    <div class="{($progress >= 1?'done':'ongoing') . ' circle'}">
                        <span>{_'Select items'}</span>
                    </div>
                    <div class="{($progress >= 2?'done':'ongoing') . ' line'}"></div>
                    <div class="{($progress >= 2?'done':'ongoing') . ' circle'}">
                        <span>{_'Generate payment'}</span>
                    </div>
                    <div class="{($progress >= 3?'done':'ongoing') . ' line'}"></div>
                    <div class="{($progress >= 3?'done':'ongoing') . ' circle'}">
                        <span>{_'Payment received'}</span>
                    </div>
            </div>*}
            {switch $model->state->value}
                {case FKSDB\Models\ORM\Models\PaymentState::WAITING}
                {if $lang === 'cs'}
                    <p>
                        O přijetí a úspěšném zpracování platby budete informováni e-mailem. Pokud potvrzení neobdržíte
                        do týdne od provedení převodu, kontaktujte nás na <a href="mailto:fyziklani@fykos.cz">fyziklani@fykos.cz</a>.
                    </p>
                {else}
                    <p>
                        You will be informed by email about the acceptance and successful processing of your payment. If
                        you do not receive a confirmation within one week of making the transfer, please contact us at
                        <a href="mailto:fyziklani@fykos.org">fyziklani@fykos.org</a>.
                    </p>
                {/if}
            {case FKSDB\Models\ORM\Models\PaymentState::IN_PROGRESS}
                {if $lang === 'cs'}
                    <p>
                        Platba stále nebyla vytvořena; pokud jste vybrali všechny položky, které chcete zaplatit,
                        přejděte k
                        vytvoření platebních pokynů. Po tomto kroku už nelze platbu měnit, pouze celou zrušit.
                    </p>
                {else}
                    <p>
                        The payment has still not been created; if you have selected all the items you want to pay for,
                        proceed to create the payment instructions. After this step, the payment cannot be changed, only
                        completely cancelled.
                    </p>
                {/if}
            {case FKSDB\Models\ORM\Models\PaymentState::RECEIVED}
                {if $lang === 'cs'}
                    <p>Platbu jsme úspěšně přijali, děkujeme!</p>
                {else}
                    <p>We have successfully received your payment, thank you!</p>
                {/if}
            {/switch}
            {if $model->want_invoice}
                {if $lang === 'cs'}
                    <p>
                        U této platby evidujeme požadavek na vytvoření faktury. Do několika dní od obdržení platby ji
                        pošleme na váš e-mail.
                    </p>
                {else}
                    <p>
                        We have a request for an invoice for this payment. We will send it to your email a few days
                        after receiving the payment.
                    </p>
                {/if}
            {/if}
        </div>
    </div>

    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Payer information'}</h2>
            {control columnTable ['person.full_name','person_info.email'], $model, 1024}
        </div>
    </div>

    {if $model->hasGeneratedSymbols()}
        <div class="panel color-auto">
            <div class="container">
                <h2>{_'Payment info'}</h2>
                {if $model->currency === Fykosak\Utils\Price\Currency::CZK}
                    {control columnTable [
                    'payment.constant_symbol',
                    'payment.variable_symbol',
                    'payment.bank_account',
                    'payment.bank_name',
                    'payment.recipient',
                    'payment.iban',
                    'payment.price',
                    ],$model,1024}
                {else}
                    {control columnTable [
                    'payment.bank_name',
                    'payment.recipient',
                    'payment.iban',
                    'payment.swift',
                    'payment.price',
                    ],$model,1024}
                {/if}
            </div>
        </div>
    {/if}
    {if $model->state->value === FKSDB\Models\ORM\Models\PaymentState::WAITING && $model->currency->value === Fykosak\Utils\Price\Currency::CZK}
        <div class="panel color-auto">
            <div class="container">
                <h2>{_'Scan and pay'}</h2>
                {control paymentQRCode}
            </div>
        </div>
    {/if}
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Payments contains'}</h2>
            {foreach $model->getSchedulePayment() as $schedulePayment}
                {varType FKSDB\Models\ORM\Models\Schedule\SchedulePaymentModel $schedulePayment}
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-1">
                                <i class="{$schedulePayment->person_schedule->schedule_item->schedule_group->schedule_group_type->getIconName()}"></i>
                            </div>
                            <div class="col-2"><small class="text-muted">{_'Block'}
                                    : </small>{$schedulePayment->person_schedule->schedule_item->schedule_group->name->getText($lang)}
                            </div>
                            <div class="col-3"><small class="text-muted">{_'Variant'}
                                    : </small>{$schedulePayment->person_schedule->schedule_item->name->getText($lang)}</div>
                            <div class="col-2"><small class="text-muted">{_'Person'}
                                    : </small>{$schedulePayment->person_schedule->person->getFullName()}</div>
                            <div class="col-2">{$schedulePayment->person_schedule->schedule_item->getPrice()->getPrice($model->getCurrency())->__toString()}</div>
                            {if $schedulePayment->person_schedule->payment_deadline}
                                <div class="col-2">
                                    <small class="text-muted">{_'Payment deadline'}: </small>
                                    {$schedulePayment->person_schedule->payment_deadline->format(_('__date_time'))}
                                </div>
                            {/if}
                        </div>
                    </div>
                </div>
            {/foreach}
            {if isset($model->price)}
                <div class="card text-bg-primary mb-2">
                    <div class="card-body">
                        <div class="row">
                            <strong class="offset-7 col-3">{_'Total'}: </strong>
                            <strong class="col-2">{$model->getPrice()->__toString()}</strong>
                        </div>
                    </div>
                </div>
            {/if}
            {if $model->canEdit()}
                <a class="btn-outline-primary btn" href="{plink 'edit', 'id'=>$model->getPrimary()}">{_'Edit items'}</a>
            {/if}
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Actions'}</h2>
            {control buttonTransition}
        </div>
    </div>
{/block}
