{varType FKSDB\Models\ORM\Models\Fyziklani\TeamModel2 $model}
{block outerContent}
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Seating'}</h2>
            {var $place = $model->getPlace()}
            <h1>{$place?$place->badge():FKSDB\Models\UI\NotSetBadge::getHtml()}</h1>
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Rests'}</h2>
            {control rests}
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Tests'}</h2>
            {control tests $model,false}
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'QR code on envelope'}</h2>
            {if $control->getComponent('attendance')->available()}
                {control attendance}
            {else}
                {_'No transistion available'}
            {/if}
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            <a class="btn btn-primary btn-sm"
               href="{plink detail id=>$model->getPrimary()}" target="_blank">{_'button.team.detail'}</a>
            <a class="btn btn-primary btn-sm"
               href="{plink orgDetail id=>$model->getPrimary()}" target="_blank">{_'button.team.orgDetail'}</a>
            <a class="btn btn-primary btn-sm"
               href="{plink edit id=>$model->getPrimary()}" target="_blank">{_'button.team.edit'}</a>
            <hr/>
            {control buttonTransition}
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            {control seating}
        </div>
    </div>
{/block}

