{layout ../@layout.v4.latte}
{block content}
    {control closeGrid}
    {control closeCategoryAForm}
    {control closeCategoryBForm}
    {control closeCategoryCForm}
    {control closeCategoryFForm}
    {control closeGlobalForm}
{/block}
