<h2>{_'Actions'}</h2>

<a href="{plink :Public:Application:default id => $model->getPrimary(), eventId => $event->event_id}"
   class="btn btn-xs btn-sm btn-primary">{_'Upravit'}</a>
<hr/>

<h2>{_'Transitions'}</h2>
{control applicationTransitions}
