{varType FKSDB\Models\ORM\Models\EventModel $event}
{varType Fykosak\NetteORM\Model $model}
<h2>{_'Actions'}</h2>

<a href="{plink :Public:Application:default id => $model->getPrimary(), eventId => $event->event_id}"
   class="btn btn-xs btn-sm btn-outline-primary">{_'Edit'}</a>
<hr/>
