{block content}
    {varType FKSDB\Models\ORM\Models\Schedule\ScheduleItemModel $model}
    <div class="mb-3">
        {include '../ScheduleItem/group.detail.latte' group=>$model}
    </div>
    <a class="btn btn-outline-primary btn-sm" href="{plink ScheduleGroup:list}">{_'List of groups'}</a>
    <a class="btn btn-outline-primary btn-sm" href="{plink ScheduleItem:create}">{_'Create item'}</a>
    <hr/>
    {control itemsGrid}
{/block}
