{block content}
    <a class="btn btn-outline-primary" href="{plink create}">{_'Create group'}</a>
    <a class="btn btn-outline-primary" href="{plink persons}">{_'All persons'}</a>
    {control list}
    {control grid}
{/block}
