<p>
    You are now a member of the team <em>{$holder->getPrimaryHolder()->getModel()->__toString()}</em> at {$event->name}.<br/>
    Changes are possible until {$until} using the link below:<br/>
    <a n:href="//:Public:Application:, at => $token">{link //:Public:Application:, at => $token}</a>
</p>

<p>
    With kind regards,<br/>
    FKSDB
</p>
