<p>
    Jsi členem týmu <em>{$holder->getPrimaryHolder()->getModel()->__toString()}</em> pro {$event->name}.<br/>
    Pro případné úpravy lze do {$until} použít odkaz:<br/>
    <a n:href="//:Public:Application:, at => $token">{link //:Public:Application:, at => $token}</a>
</p>

<p>
    S pozdravem,<br/>
    FKSDB
</p>
