<p>
Tým <em>{$application}</em> byl zaregistrován.<br/>
Pro případné úpravy lze do {$until} použít odkaz:<br/>
<a n:href="//:Public:Application:, at => $token">{link //:Public:Application:, at => $token}</a>
</p>

<p>
S pozdravem,<br/>
FKSDB
</p>
