<p>
    Dobrý den,<br/>
    od doby, kdy jste registrovali váš tým jsme upgradeovali přihláškový systém, takže přihlášku lze měnit i po vytvoření,
    vizte odkaz níže. Hlavní změnou, na kterou chceme upozornit je možnost rezervovat si ubytování před samotnou souteží.
    Podrobnosti naleznete na <a href="http://fyziklani.cz">fyziklani.cz</a> anebo dotazem na e-mail <a href="mailto:fyziklani@fykos.cz">fyziklani@fykos.cz</a>.
</p>
{include 'inc/eventEdit.cs.latte' event => $event, token => $token}
{include 'inc/closing.cs.latte'}
