<p>
Ahoj,<br/>
byl Ti vytvořen účet na fykos.cz. Pro první přihlášení a nastavení hesla
použij prosím tento odkaz:<br/>
<a n:href="//:Settings:, at => $token">{link //:Settings:, at => $token}</a>
</p>

<p>
S pozdravem,<br/>
FKSDB
</p>
