<p>Hi,<br/>
an account has been made for you on fykos.cz. To login for the first time and to set up your password use the following link:<br/>
<a n:href="//:Settings:, at => $token">{link //:Settings:, at => $token}</a>
</p>

<p>With kind regards,<br/>
FKSDB
</p>
