<p>
Someone asked to reset a passsword for fykos.cz for the user <em>{$login}</em>. If it was you,
use the following link to change your password:<br/>
    <a n:href="//:Settings:, at => $token">{link //:Settings:, at => $token}</a>
</p>

<p>
    The link is valid until <strong>{$until}</strong>.
</p>

<p>
With kind regards,<br/>
FKSDB
</p>
