Bylo zažádáno o obnovu hesla na fykos.cz pro uživatele {$login}. Pokud jste, žádali vy,
tak použijte odkaz pro změnu hesla:
{link //:Settings:, at => $token}

Odkaz je platný do {$until}.

S pozdravem,
FKSDB