<p>
    Bylo zažádáno o obnovu hesla na fykos.cz pro uživatele <em>{$login}</em>. Pokud jste, žádali vy,
    tak použijte odkaz pro změnu hesla:<br/>
    <a n:href="//:Settings:, at => $token">{link //:Settings:, at => $token}</a>
</p>

<p>
    Odkaz je platný do <strong>{$until}</strong>.
</p>

<p>
S pozdravem,<br/>
FKSDB
</p>
