{layout none}
{varType FKSDB\Models\Events\Model\Holder\BaseHolder $holder}
<p>
    Ahoj,<br/>
    tvou přihlášku jsme zaevidovali. Další informace budeme rozesílat později. Těšíme se na tebe na táboře.
</p>
<p>
    Za organizátory<br/>
    {$holder->event->getParameter('letterSignature')}
</p>
