{layout none}
{varType FKSDB\Models\Transitions\Holder\ParticipantHolder $holder}

{define subject}Letní tábor Výfuku – potvrzení přihlášky{/define}

<p>
    Ahoj,<br>
    tvou přihlášku jsme zaevidovali. V blízké době můžeš očekávat potvrzení o tvé účasti.
</p>
<p>
    Za organizátory<br>
    {$holder->getModel()->event->getParameter('letterSignature')}
</p>
