{layout none}
{varType FKSDB\Models\Events\Model\Holder\BaseHolder $holder}
<p>
    Ahoj,<br/>
    potvrzujeme přijetí tvé platby za účast na Letním táboře Výfuku.
</p>
<p>
    Za organizátory<br/>
    {$holder->event->getParameter('letterSignature')}
</p>
