{layout none}
{varType FKSDB\Models\Events\Model\Holder\BaseHolder $holder}

{define subject}Letní tábor Výfuku – potvrzení o platbě{/define}

<p>
    Ahoj,<br/>
    potvrzujeme přijetí tvé platby za účast na Letním táboře Výfuku.
</p>
<p>
    Za organizátory<br/>
    {$holder->getModel()->event->getParameter('letterSignature')}
</p>
