{layout none}
{varType FKSDB\Models\Events\Model\Holder\BaseHolder $holder}

{define subject}Letní tábor Výfuku – odmítnutí z důvodu kapacity{/define}

<p>
    Ahoj,<br/>
    s lítostí ti oznamujeme, že z kapacitních důvodů musíme <b>odmítnout</b>
    tvoji přihlášku na Letním táboře Výfuku.<br>
    V případě uvolnění kapacity tě budeme kontaktovat.
</p>
<p>
    Za organizátory<br/>
    {$holder->getModel()->event->getParameter('letterSignature')}
</p>
