#
# Main configuration of FKSDB
#

parameters:
    # Various logs
    logDir: %appDir%/../log

    # WDSL file defining provided services.
    wsdlUrl: https://db.fykos.cz/FKSDBWebServices.wsdl

    # Map: contest_id => contest indentifier
    contestMapping:
        1: fykos
        2: vyfuk

    # Map: contest identifier => contest_id
    inverseContestMapping:
        fykos: 1
        vyfuk: 2

    # Navigation settings
    navigation:
        # How long data for navigation tree is held in the session
        expiration: '+30 minutes'
    # Submits by contestats
    upload:
        # Path to storage directory
        root: %appDir%/../upload

        # Sprintf pattern of directory name with arguments: contestName, year, series, task label
        directoryMask: '%%s/rocnik%02d/serie%%d/uloha-%%s'

        # Sprintf pattern of stored file with arguments: contestantName, contestName, year, series, label
        filenameMask: '%%s-r%3$d-s%4$d-%5$s'
    corrected:
        # Path to storage directory
        root: %upload.root%/corrected

        # Sprintf pattern of directory name with arguments: contestName, year, series, task label
        directoryMask: %upload.directoryMask%

        # Sprintf pattern of stored file with arguments: contestantName, contestName, year, series, label
        filenameMask: %upload.filenameMask%

    # PDF stamper settings
    stamper:
        # Font size in points (pt).
        fontSize: 10

    # Transport XML (from Astrid)
    tasks:
        # List of study years that are used for imported tasks when no explicit
        # study years are specified.
        defaultStudyYears:
            # FYKOS
            1: [8,9,1,2,3,4]
            # Výfuk
            2: [6,7,8,9]
        defaultCategories:
            1: [1,2,3,4]
            2: [6,7,8,9]
        # Paths for search of new XML files, including trailing slash.
        # Arguments: contestName, year, series
        paths: '/%1$s%2$d/batch%3$d/out/zadaniWeb%3$d-new.xml'

    # Various e-mail invitations
    invitation:
        # How long (relatively) is authentication token valid after invitation.
        expiration: '+1 month'
        defaultLang: 'cs'

    recovery:
        # Forgotten password recovery
        expiration: '+1 day'

    # L10n settings
    localization:
        # supported locales
        locales:
            cs: cs_CZ.utf-8
            en: en_US.utf-8
            #sk: sk_SK.utf-8

        # where locale files are stored
        localeDir: %appDir%/../i18n/locale

        # default language when not set explicitly
        defaultLanguage: cs

    # Parameters used for automated testing
    tester: []

    # Deduplication
    deduplication:
        finder:
            # Threshold on overall similarity score to show person in duplicates.
            threshold: 0.9

            # Weight for family name similarity [0, 1].
            familyWeight: 0.48

            # Weight for other name similarity [0, 1].
            otherWeight: 0.48

            # Weight for email address similarity [0, 1].
            emailWeight: 0.04
php:
    date.timezone: Europe/Prague
    session.gc_maxlifetime: 1213200
    # zlib.output_compression: yes

database:
    reflection: discovered
    options:
        supportBooleans: true
application:
    errorPresenter: Core:Error
    mapping:
        Game: FKSDB\Modules\EventModule\Game\*Presenter
        Schedule: FKSDB\Modules\EventModule\Schedule\*Presenter
        Warehouse: FKSDB\Modules\OrganizerModule\Warehouse\*Presenter
        Spam: FKSDB\Modules\OrganizerModule\Spam\*Presenter
        *: FKSDB\Modules\*Module\*Presenter
session:
   expiration: 14 days
   autoStart: true
extensions:
    transitions: FKSDB\Models\Transitions\TransitionsExtension
    orm: FKSDB\Models\ORM\ORMExtension

includes:
    - router.neon
    - orm.neon
    - services.neon
    - forms.neon
    - stalking.neon
    - transitions/payment.neon
    - transitions/fof.neon
    - transitions/fol.neon
    - transitions/dsef.neon
    - transitions/setkani.neon
    - transitions/tabor.neon
    - transitions/personSchedule.neon
    - transitions/sous.neon
