#
# Main configuration of FKSDB
#

parameters:
    # Flag marking the beta version
    beta: false

    # Temporary directory for various purposes.
    tempDir: %appDir%/../temp

    # Various logs
    logDir: %appDir%/../log

    # Auxiliar data (templates etc.)
    dataDir: %appDir%/../data

    # WDSL file defining provided services.
    wsdlUrl: http://db.fykos.cz/FKSDBWebServices.wsdl

    # URL to the public website of the contests. (Keys are from contestMapping)
    website:
        fykos: http://fykos.cz/
        vyfuk: http://vyfuk.fykos.cz/

    # Map: contest_id => contest indentifier
    contestMapping:
        1: fykos
        2: vyfuk
    
    # Map: contest identifier => contest_id
    inverseContestMapping:
        fykos: 1
        vyfuk: 2

    # Configuration of sent emails.
    email:
        templatesDir: %dataDir%/emails
        from: FKSDB <noreply@%domain.cz%>

    # Navigation settings
    navigation:
        # How long data for navigation tree is held in the session
        expiration: '+30 minutes'

    # Authentication settings
    authentication:
        # List of allowed hosts to which backlinking after successful authentization is possible.
        backlinkHosts:
            - %domain.cz%
            - db.%domain.cz%
            - vyfuk.%domain.cz%
            - %domain.org%
            - db.%domain.org%
            - vyfuk.%domain.org%
        
        sso:
            # How ling is valid auth token when redirecting from authenticated domain
            # to unauthenticated one.
            tokenExpiration: '+1 minute'

    
    # Settings for global session used for SSO (single sign on)
    globalSession:
        # How long inactivity is allowed until globalSession expires.
        expiration: '+120 minutes'


    # Submits by contestats
    upload:
        # Path to storage directory
        root: %appDir%/../upload

        # Sprintf pattern of directory name with arguments: contestName, year, series, task label
        directoryMask: '%%s/rocnik%02d/serie%%d/uloha-%%s'

        # Sprintf pattern of stored file with arguments: contestantName, contestName, year, series, label
        filenameMask: '%%s-r%3$d-s%4$d-%5$s'

    # PDF stamper settings
    stamper:
        # Font size in points (pt).
        fontSize: 10

    # Transport XML (from Astrid)
    tasks:
        # Mapping of XML element names to tasks table columns (separate XML for each language).
        columnMapping:
            cs:
                name: name_cs
                points: points
                label: label
            en:
                name: name_en

        # Mapping of contribution types to comprising XML element (taken from Czech version only.)
        # Contributions types must be ModelTaskContribution::TYPE_* constants.
        contributionMapping:
            author: authors
            solution: solution-authors

        # List of study years that are used for imported tasks when no explicit
        # study years are specified.
        defaultStudyYears:
            # FYKOS
            1: [8,9,1,2,3,4]
            # Výfuk
            2: [6,7,8,9]
        
        # Paths for search of XML files, including trailing slash.
        # Arguments: contestName, year, series
        paths:
            cs: '/%1$s%2$d/batch%3$d/out/zadaniWeb%3$d.xml'
            en: '/%1$s%2$d/translations/zadaniWeb%3$d_en.xml'
    
    # Various e-mail invitations
    invitation:
        # How long (relatively) is authentication token valid after invitation.
        expiration: '+1 month'
        defaultLang: 'cs'

    recovery:
        # Forgotten password recovery
        expiration: '+1 day'

    # L10n settings
    localization:
        # supported locales
        locales:
            cs: cs_CZ.utf-8
            en: en_US.utf-8
            #sk: sk_SK.utf-8

        # where locale files are stored
        localeDir: %appDir%/../i18n/locale

        # default language when not set explicitly
        defaultLanguage: cs
    
    # Events
    events:
        # where locale files are stored
        templateDir: %dataDir%/events

    # Parameters used for automated testing
    tester: []

    # Deduplication
    deduplication:
        finder:
            # Threshold on overall similarity score to show person in duplicates.
            threshold: 0.9

            # Weight for family name similarity [0, 1].
            familyWeight: 0.48

            # Weight for other name similarity [0, 1].
            otherWeight: 0.48

            # Weight for email address similarity [0, 1].
            emailWeight: 0.04

    # Maintenance
    updater:
		# absolute path to install script
        installScript: %appDir%/../install.sh

		# system user who should run the install script
        installUser: fksdb-updater



php:
    date.timezone: Europe/Prague
    session.gc_maxlifetime: 1213200
    # zlib.output_compression: yes

nette:
    database:
        reflection: discovered
    application:
        errorPresenter: Error

    session:
        expiration: 14 days
        autoStart: true


includes:
    - router.neon
    - acl.neon
    - orm.neon
    - forms.neon
    - services.neon
    - factories.neon
    - navigation.neon
    - contests.neon
    - exports.neon
