#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
    parameters:
        wdslUrl: http://db.fykos.cz/FKSDBWebServices.wsdl
        upload:
            root: %appDir%/../upload
            directoryMask: '%%s/rocnik%02d/serie%%d/uloha-%%s'
            filenameMask: '%%s-r%3$d-s%4$d-%5$s'
        stamper:
            fontSize: 10
        tasks:
            columnMapping:
                cs:
                    name: name_cs
                    points: points
                    label: label
                en:
                    name: name_en
            contributionMapping:
                author: authors
                solution: solution-authors

            paths:
                cs: '/%1$s%2$d/batch%3$d/out/zadaniWeb%3$d.xml'
                en: '/%1$s%2$d/translations/zadaniWeb%3$d_en.xml'
                   
    php:
        date.timezone: Europe/Prague
        # zlib.output_compression: yes

    nette:
        application:
            errorPresenter: Error

        session:
            expiration: 14 days



    services:
        # data services
        authenticator: Authenticator
        contestAuthorizator: Authorization\ContestAuthorizator
        ownerAssertion: Authorization\OwnerAssertion
        yearCalculator: YearCalculator
        seriesCalculator: SeriesCalculator
        resultsModelFactory: ResultsModelFactory
        statsModelFactory: StatsModelFactory
        SQLResultsCache: SQLResultsCache
        submitStorage:
            class: Submits\SubmitStorage(%upload.root%, %upload.directoryMask%, %upload.filenameMask%, {1: 'fykos', 2: 'vyfuk'})
            setup:
                - addProcessing(@PDFStamper)
        PDFStamper: Submits\PDFStamper(%stamper.fontSize%)
        pipelineFactory:
            class: Tasks\PipelineFactory(%tasks.columnMapping%, %tasks.contributionMapping%, ...)
        downloaderFactory:
            class: Tasks\DownloaderFactory(%astrid.user%, %astrid.password%, %astrid.host%, %tasks.paths%, %appDir%/../temp, {1: 'fykos', 2: 'vyfuk'})
        

        # ORM services
        ServiceAddress:          ServiceAddress
        ServiceContestant:       ServiceContestant
        ServiceContest:          ServiceContest
        ServiceCountry:          ServiceCountry
        ServiceLogin:            ServiceLogin
        ServiceMPostContact:     ServiceMPostContact
        ServiceOrg:              ServiceOrg
        ServicePerson:           ServicePerson
        ServicePersonInfo:       ServicePersonInfo
        ServicePostContact:      ServicePostContact
        ServiceRegion:           ServiceRegion
        ServiceSubmit:           ServiceSubmit
        ServiceSchool:           ServiceSchool
        ServiceTask:             ServiceTask
        ServiceTaskContribution: ServiceTaskContribution
        # web services
        soapServer:
            class: SoapServer(%wdslUrl%)
            setup:
                - setObject(@webServiceModel)

        webServiceModel:        WebServiceModel

        # form factories
        AddressFactory:     FKSDB\Components\Forms\Factories\AddressFactory
        ContestantFactory:  FKSDB\Components\Forms\Factories\ContestantFactory
        LoginFactory:       FKSDB\Components\Forms\Factories\LoginFactory
        OrgFactory:         FKSDB\Components\Forms\Factories\OrgFactory
        PersonFactory:      FKSDB\Components\Forms\Factories\PersonFactory
        SchoolFactory:      FKSDB\Components\Forms\Factories\SchoolFactory
            
            
            
        nette.userStorage: LoginUserStorage
            

    factories:


production < common:

development < common:
