#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#

parameters:
    domain:
        cz: fykos.local
        org: fykos.localen
        tld: local

    email:
        # On debug environment do no send any real e-mails.
        disabled: true

    astrid:
        host: astrid.fykos.cz
        user: 
        password: 
    facebook:
        appId:
        secret:
    ro-database:
        dsn: 'mysql:host=localhost;dbname=newfks'
        user: 
        password: 
    github:
        # login name in fksdb of Github webhook user
        login: github
        # API secret key
        secret:
    updater:
		# definition of install instances
		# deployment:
		# 	/path/to/fksdb/instance: branch-name
		# 	/path/to/another/fksdb/instance: branch-name

# Contest specific parameters
    fykos:
        # Allow forward registrations
        forwardRegistration: true
        # Temporary messages to dashboard
	# news:
	#     - cs:
	#         - msg1
	#         - msg2
	#     - sk:
	#         - dfads
	#     - en:
	#         - dfsadfsd
    vyfuk:
        forwardRegistration: %fykos.forwardRegistration%

nette:
    database:
        dsn: 'mysql:host=localhost;dbname=newfks'
        user: 
        password: 


# DO NOT UNCOMMENT ON PRODUCTION ENVIRONMENT -- SECURITY RISK!
#fksrouter:
#    disableSecured: true
