#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#

parameters:
    domain:
        cz: fykos.local
        org: fykos.localen

    email:
        # On debug environment do no send any real e-mails.
        disabled: true

    astrid:
        host: astrid.fykos.cz
        user:
        password:
    googleOAuth2:
        clientId: ''
        clientSecret: ''
    #send blank emails by spamMailer
    spamMailer:
        enabled: true
        defaultLimit: 100

session:
    cookie_secure: true
database:
    default:
        dsn: 'mysql:host=mariadb;dbname=fksdb'
        user: root
        password: password
    ro:
        dsn: 'mysql:host=mariadb;dbname=fksdb'
        user: root
        password: password

# DO NOT UNCOMMENT ON PRODUCTION ENVIRONMENT -- SECURITY RISK!
#fksrouter:
#    disableSecured: true
