#
# Contest specific configuration of FKSDB
#

parameters:
    fykos:
        registerContestant:
            person:
                other_name:
                  requierd: true
                family_name:
                  requierd: true
            person_history:
                school_id:
                  requierd: true
                study_year:
                  requierd: true
                class:
                  requierd: false
            post_contact_d:
                address:
                  requierd: true
            person_info:
                email:
                  requierd: true
                origin:
                  requierd: false
                agreed:
                  requierd: true
            person_has_flag:
                spam_mff:
                  requierd: true
        adminContestant:
            person:
                other_name:
                  requierd: true
                family_name:
                  requierd: true
                display_name:
                  requierd: false
                gender:
                  requierd: true
            person_history:
                school_id:
                  requierd: true
                study_year:
                  requierd: true
            post_contact_d:
                address:
                  requierd: false
            post_contact_p:
                address:
                  requierd: false
            person_info:
                email:
                  requierd: true
                born:
                  requierd: false
                birthplace:
                  requierd: false
                id_number:
                  requierd: false
                note:
                  requierd: false
                origin:
                  requierd: false
                agreed:
                  requierd: false
            person_has_flag:
                spam_mff:
                  requierd: false

        adminOrg:
            person:
                other_name:
                  requierd: true
                family_name:
                  requierd: true
            post_contact_d:
                address:
                  requierd: false
            post_contact_p:
                address:
                  requierd: false
            person_info:
                email:
                  requierd: false
                phone:
                  requierd: false
                career:
                  requierd: false
                uk_login:
                  requierd: false
                account:
                  requierd: false
                homepage:
                  requierd: false
                note:
                  requierd: false
                born:
                  requierd: false
                born_id:
                  requierd: false
                id_number:
                  requierd: false
                birthplace:
                  requierd: false
        adminEventOrg:
            person:
                other_name:
                  requierd: true
                family_name:
                  requierd: true
            person_info:
                email:
                  requierd: true
        adminTeacher:
            person:
                other_name:
                  requierd: true
                family_name:
                  requierd: true
            post_contact_d:
                address:
                  requierd: false
            post_contact_p:
                address:
                  requierd: false
            person_info:
                email:
                  requierd: false
                phone:
                  requierd: false
                career:
                  requierd: false
                note:
                  requierd: false
                born:
                  requierd: false
                born_id:
                  requierd: false
                id_number:
                  requierd: false
                birthplace:
                  requierd: false
    vyfuk:
        registerContestant:
            person:
                other_name:
                  requierd: true
                family_name:
                  requierd: true
            person_history:
                school_id:
                  requierd: true
                study_year:
                  requierd: true
                class:
                  requierd: false
            post_contact_d:
                address:
                  requierd: true
            person_info:
                email:
                  requierd: true
                phone_parent_m:
                  requierd: false
                phone_parent_d:
                  requierd: false
                origin:
                  requierd: false
                agreed:
                  requierd: true
            person_has_flag:
                spam_mff:
                  requierd: true
        adminContestant:
            person:
                other_name:
                  requierd: true
                family_name:
                  requierd: true
                display_name:
                  requierd: false
                gender:
                  requierd: true
            person_history:
                school_id:
                  requierd: true
                study_year:
                  requierd: true
            post_contact_d:
                address:
                  requierd: false
            post_contact_p:
                address:
                  requierd: false
            person_info:
                email:
                  requierd: true
                born:
                  requierd: false
                birthplace:
                  requierd: false
                id_number:
                  requierd: false
                note:
                  requierd: false
                phone_parent_m:
                  requierd: false
                phone_parent_d:
                  requierd: false
                origin:
                  requierd: false
                agreed:
                  requierd: false
            person_has_flag:
                spam_mff:
                  requierd: false
        adminOrg:
            person:
                other_name:
                  requierd: true
                family_name:
                  requierd: true
            person_info:
                email:
                  requierd: false
                career:
                  requierd: false
                uk_login:
                  requierd: false
                account:
                  requierd: false
                homepage:
                  requierd: false
                note:
                  requierd: false
                phone_parent_m:
                  requierd: false
                phone_parent_d:
                  requierd: false

