#
# Schema definition for events application machines.
#
# Fields that do not have default value are required.

machine:
    baseMachines:
    processings:
        default: []
        type: expression array
    joins:
        default: []

baseMachine:
    states:
    transitions:
    service:
        default: @ServiceEventParticipant
    fields:

transition:
    condition:
        default: true
        type: expression
    label:
    onExecuted:
        default: []

field:
    label:
        default: null
    determining:
        default: false
    required:
        default: false
        type: expression
    modifiable:
        default: true
        type: expression
    visible:
        default: true
        type: expression
    factory:
        default: @event.DBReflectionFactory
        type: expression


bmInstance:
    bmName:
    primary:
        default: false
    required:
        default: false
        type: expression
    modifiable:
        default: true
        type: expression
    visible:
        default: true
        type: expression
    transitionable: # TODO implement?
        default: false
        type: expression

