#
# Schema definition for events application machines.
#
# Fields that do not have default value are required.

definition:
    event_type_id:
    eventYears:
        default: true
    tableLayout:
        default: participants
    formLayout:
        default: application
    paramScheme:
        default: []
    baseMachines:
    machine:

machine:
    # Strategy for handling secondary models
    secondaryModelStrategy:
        default: Events\Model\Holder\SecondaryModelStrategies\CarefulRewrite()
        type: expression
    baseMachines:
    # processing checks invariants/calculates data on edit form submit, before transitions
    processings:
        default: []
        type: expression array
    # adjustments are called on the whole form right after creation
    formAdjustments:
        default: []
        type: expression array
    # defines machine transition dependencies (transition invokes another transition)
    joins:
        default: []

baseMachine:
    # Reference to base machine from different configuration that is used as pattern for the baseMachine/baseHolder
    prototype:
        default: null
    states:
        type: expression array
    transitions:
    fields:
    service:
        default: @FKSDB\ORM\Services\ServiceEventParticipant
    # When used as secondary model, specify column that is FK to the primary model.
    joinOn:
        default: null
    # When used as secondary model, specify column that is bound via joinOn from the primary model. (null is PK.)
    joinTo:
        default: null
    # Specify columns that store person_id of anyhow involved persons.
    personIds:
        default: [event_participant.person_id]
    # Specify column that stores FK to the event. (For primary models only.)
    eventId:
        default: event_participant.event_id
    # IEventRelation implementation that returns the event for the base holder derived from the event of the primary holder (null is identity.)
    eventRelation:
        default: null
    # Parameter (Neon) scheme for the baseHolder
    paramScheme:
        default: null


transition:
    condition:
        default: true
        type: expression
    label:
        default: null
        type: expression
    onExecuted:
        default: []
        type: expression array
    # Requires confirmation in the GUI
    dangerous:
        default: false
        type: expression
    # Cannot be executed from the GUI (event when it's condition == true)
    visible:
        default: true
        type: expression

field:
    label:
        default: null
        type: expression
    description:
        default: null
        type: expression
    determining:
        default: false
    required:
        default: false
        type: expression
    modifiable:
        default: true
        type: expression
    visible:
        default: true
        type: expression
    default:
        default: null
    factory:
        default: @event.DBReflectionFactory
        type: expression


bmInstance:
    bmName:
    label:
        default: null
        type: expression
    description: # it's show beneatch legend of the form group
        default: null
        type: expression
    primary:
        default: false
    required:
        default: false
        type: expression
    modifiable:
        default: true
        type: expression
    visible:
        default: true
        type: expression

