#
# Factories definitions
#
services:
    mailTemplateFactory:
        class: Mail\MailTemplateFactory(%email.templatesDir%)

    - Events\Model\ApplicationHandlerFactory
    - FKSDB\Components\Forms\Factories\StoredQueryFactory
    - FKSDB\Components\Forms\Factories\ReferencedPersonFactory
    - Persons\ReferencedPersonHandlerFactory
    breadcrumbFactory:
        class: FKS\Components\Controls\Navigation\BreadcrumbsFactory(%navigation.expiration%, ...)
    storedQueryFactory:
        class: SQL\StoredQueryFactory(@readOnlyConnection,...)
    resultsModelFactory: ResultsModelFactory
    statsModelFactory: StatsModelFactory
    pipelineFactory:
        class: Tasks\PipelineFactory(%tasks.columnMapping%, %tasks.contributionMapping%, ...)
    downloaderFactory:
        class: Tasks\DownloaderFactory(%astrid.user%, %astrid.password%, %astrid.host%, %tasks.paths%, %tempDir%, %contestMapping%)
    flashDumpFactory:
        class: Logging\FlashDumpFactory(%logToFlash%)
    event.DBReflectionFactory:
        class: FKSDB\Components\Forms\Factories\Events\DBReflectionFactory


factories:
# (so far unused)

includes:
    - logToFlash.neon