#
# Factories definitions
#
services:
    mailTemplateFactory:
        class: Mail\MailTemplateFactory(%email.templatesDir%)

    - Events\Model\ApplicationHandlerFactory
    - Exports\ExportFormatFactory
    - FKSDB\Components\Forms\Factories\StoredQueryFactory
    referencedEventPersonFactory:
        class: FKSDB\Components\Forms\Factories\ReferencedPerson\ReferencedEventPersonFactory
    referencedPersonFactory:
        class: FKSDB\Components\Forms\Factories\ReferencedPerson\ReferencedPersonFactory
    - Persons\ReferencedPersonHandlerFactory
    - FKSDB\Model\Fyziklani\Rooms\PipelineFactory
    breadcrumbFactory:
        class: FKSDB\Components\Controls\Breadcrumbs\BreadcrumbsFactory(%navigation.expiration%, ...)
    storedQueryFactory:
        class: Exports\StoredQueryFactory(@readOnlyConnection,...)
    resultsModelFactory: FKSDB\Results\ResultsModelFactory
    statsModelFactory: StatsModelFactory
    pipelineFactory:
        class: Tasks\PipelineFactory(%tasks.columnMapping%, %tasks.contributionMapping%, %tasks.defaultStudyYears%, ...)
    flashDumpFactory:
        class: FKSDB\Logging\FlashDumpFactory(%logToFlash%)
    event.DBReflectionFactory:
        class: FKSDB\Components\Forms\Factories\Events\DBReflectionFactory
#transition
    machineFactory: FKSDB\Transitions\MachineFactory
    transitionsFactory: FKSDB\Transitions\TransitionsFactory
    #payment
    priceCalculatorFactory: FKSDB\Payment\PriceCalculator\PriceCalculatorFactory
    symbolGeneratorFactory: FKSDB\Payment\SymbolGenerator\SymbolGeneratorFactory

includes:
    - logToFlash.neon
