#
# Forms related services (mostly factories)
#
services:
    - FKSDB\Components\Forms\Factories\SingleReflectionFormFactory
    AddressFactory:     FKSDB\Components\Forms\Factories\AddressFactory
    FlagFactory:        FKSDB\Components\Forms\Factories\FlagFactory
    LoginFactory:       FKSDB\Components\Forms\Factories\LoginFactory
    PersonFactory:      FKSDB\Components\Forms\Factories\PersonFactory
    SchoolFactory:      FKSDB\Components\Forms\Factories\SchoolFactory
    PersonScheduleFactory: FKSDB\Components\Forms\Factories\PersonScheduleFactory

    - FKSDB\Components\Forms\Rules\UniqueEmailFactory
    - FKSDB\Components\Forms\Rules\UniqueLoginFactory
