parameters:
    merger:
        # Commit merge transaction (for debugging purposes).
        commit: true

        # Merged children must be unique with respect to the secondary key
        # (FK of the merged parent is ignored).
        secondaryKeys:
            contestant_base: [person_id, contest_id, year]
            login: [person_id]
            person_info: [person_id]
            person_history: [person_id, ac_year]
            person_has_flag: [person_id, flag_id]
            submit: [ct_id, task_id]
            org: [person_id, contest_id]
            post_contact: [person_id, type]
            event_participant: [person_id, event_id]
            e_dsef_participant: [event_participant_id]
            e_tsaf_participant: [event_participant_id]
            e_fyziklani_participant: [event_participant_id]
            e_sous_participant: [event_participant_id]
            e_vikend_participant: [event_participant_id]

        # Default merge strategy for columns.
        defaultStrategy: @merge.cummulative

        # Merge strategies per columns.
        mergeStrategies:
            person:
                created: @merge.less

            person_info:
                agreed: @merge.greater

            post_contact:
                address_id: @merge.cummTrunk

            login:
                hash: @merge.trunk
                active: @merge.greater
                created: @merge.less
                last_login: @merge.greater

            contestant_base:
                created: @merge.less
            
            submit:
                submitted_on: @merge.trunk
                source: @merge.trunk
                calc_points: @merge.null

# Instantces of merge strategies.
services:
    merge.cummulative: Persons\Deduplication\MergeStrategy\CummulativeStrategy
    merge.cummTrunk: Persons\Deduplication\MergeStrategy\CummulativeStrategy(trunk)
    merge.cummMerged: Persons\Deduplication\MergeStrategy\CummulativeStrategy(merged)
    merge.trunk: Persons\Deduplication\MergeStrategy\TrunkStrategy
    merge.merged: Persons\Deduplication\MergeStrategy\MergedStrategy
    merge.fail: Persons\Deduplication\MergeStrategy\FailStrategy
    merge.greater: Persons\Deduplication\MergeStrategy\CompareStrategy(greater)
    merge.less: Persons\Deduplication\MergeStrategy\CompareStrategy(less)
    merge.null: Persons\Deduplication\MergeStrategy\ConstantStrategy(null)