parameters:
    merger:
        # Commit merge transaction (for debugging purposes).
        commit: true

        # Merged children must be unique with respect to the secondary key
        # (FK of the merged parent is ignored).
        secondaryKeys:
            contestant: [person_id, contest_id, year]
            login: [person_id]
            person_info: [person_id]
            person_history: [person_id, ac_year]
            person_has_flag: [person_id, flag_id]
            person_schedule: [person_id, schedule_item_id]
            submit: [contestant_id, task_id]
            org: [person_id, contest_id]
            post_contact: [person_id, type]
            event_participant: [person_id, event_id]
            e_fyziklani_participant: [event_participant_id]

        # Default merge strategy for columns.
        defaultStrategy: @merge.cummulative

        # Merge strategies per columns.
        mergeStrategies:
            person:
                created: @merge.less

            person_info:
                agreed: @merge.greater

            post_contact:
                address_id: @merge.cummTrunk

            login:
                hash: @merge.trunk
                active: @merge.greater
                created: @merge.less
                last_login: @merge.greater

            contestant:
                created: @merge.less

            submit:
                submitted_on: @merge.trunk
                source: @merge.trunk
                calc_points: @merge.null

# Instantces of merge strategies.
services:
    merge.cummulative: FKSDB\Models\Persons\Deduplication\MergeStrategy\CummulativeStrategy
    merge.cummTrunk:
        factory: FKSDB\Models\Persons\Deduplication\MergeStrategy\CummulativeStrategy
        arguments: [trunk]
    merge.cummMerged:
        factory: FKSDB\Models\Persons\Deduplication\MergeStrategy\CummulativeStrategy
        arguments: [merged]
    merge.trunk: FKSDB\Models\Persons\Deduplication\MergeStrategy\TrunkStrategy
    merge.merged: FKSDB\Models\Persons\Deduplication\MergeStrategy\MergedStrategy
    merge.fail: FKSDB\Models\Persons\Deduplication\MergeStrategy\FailStrategy
    merge.greater:
        factory: FKSDB\Models\Persons\Deduplication\MergeStrategy\CompareStrategy
        arguments: [greater]
    merge.less:
        factory: FKSDB\Models\Persons\Deduplication\MergeStrategy\CompareStrategy
        arguments: [less]
    merge.null:
        factory: FKSDB\Models\Persons\Deduplication\MergeStrategy\ConstantStrategy
        arguments: [null]
