navigation:
        #AK hotlinks
        Core.Dispatch.default:
            Event.Payment.create:
                eventId: 173
            #Schedule:PersonSchedule:default:
            #    params:
            #        eventId: 173
        Organizer.Dashboard.default:
            Organizer.Dashboard.default: []

            Organizer.Inbox.list: []
            Organizer.Inbox.inbox: []
            Organizer.Tasks.dispatch: []
            Organizer.Inbox.corrected: []
            Organizer.Points.entry: []
            Organizer.Points.preview: []
            Organizer.Tasks.import: []

            Organizer.Person.search: []
            Organizer.Contestant.list: []
            Organizer.Organizer.list: []
            Organizer.Teacher.list: []
            Organizer.Person.pizza: []

            Organizer.Event.list: []
            Organizer.School.list: []
            Organizer.StoredQuery.list: []
            Organizer.Spam.list: []
            #Warehouse.Dashboard.default: []

            #Common.Deduplicate.person:
            Organizer.Chart.list: []

        Organizer.Dashboard.inbox:
            Organizer.Inbox.list: []
            Organizer.Inbox.inbox: []
            Organizer.Inbox.corrected: []
            Organizer.Points.preview: []
            Organizer.Points.entry: []
        Organizer.Dashboard.task:
            Organizer.Tasks.dispatch: []
            Organizer.Tasks.import: []
            Organizer.Tasks.list: []
        Organizer.Dashboard.person:
            Organizer.Person.search: []
            Organizer.Person.pizza: []
            Organizer.Contestant.list: []
            Organizer.Organizer.list: []
            Organizer.Teacher.list: []

        Organizer.Dashboard.entity:
            Organizer.Event.list: []
            Organizer.School.list: []
            Organizer.StoredQuery.list: []
            Organizer.Spam.list: []
            #Warehouse.Dashboard.default: []
        Organizer.Dashboard.others:
            Organizer.Chart.list: []
            Organizer.Acl.list: []
        Public.Dashboard.default:
            Public.Submit.default: []
            Public.Submit.legacy: []
            Public.Submit.list: []
        Game.Dashboard.default:
            Game.Submit.create: []
            Game.Submit.list: []
            Game.Close.list: []
            Game.Diplomas.default: []
            Game.Diplomas.results: []
            Game.Task.list: []
            Game.GameSetup.default: []
            Game.Seating.list: []
            Game.Presentation.default: []

        Game.Statistics.table:
            Game.Statistics.task: []
            Game.Statistics.team: []
            Game.Statistics.correlation: []
            Game.Statistics.table: []

        Event.Dashboard.default#application:
            #team
            Event.TeamApplication.detailedList: []
            Event.TeamApplication.list: []
            Event.TeamApplication.attendance: []
            Event.TeamApplication.fastEdit: []
            Event.TeamApplication.mass: []
            Event.TeamApplication.create: []
            #single
            Event.Application.list: []
            Event.Application.attendance: []
            Event.Application.fastEdit: []
            Event.Application.mass: []
            Event.Application.import: []
        Event.Dashboard.default#other:
            #others
            Event.EventOrganizer.list: []
            Event.Payment.create: []
            Event.Payment.detailedList: []
            Event.Payment.list: []
            Game.Dashboard.default: []
            Schedule.Group.list: []
            Event.Chart.list: []
            Event.Dispatch.default: []
            Event.Dashboard.default: []
        Warehouse.Dashboard.default:
            Warehouse.Producer.list: []
            Warehouse.Product.list: []
            Warehouse.Item.list: []
        Profile.Dashboard.default:
            Profile.MyApplications.default: []
            Profile.MyPayments.default: []
            Profile.Email.default: []
            Profile.PostContact.default: []
            Profile.Lang.default: []
            Profile.Login.default: []
            Core.Settings.default: []
