navigation:
    nodes:
        vyfuk:
            title: Web Výfuku
            link: http://vyfuk.mff.cuni.cz/
            icon: 'fa fa-external-link'
        fykos:
            title: Web FYKOSu
            link: http://%domain.cz%/
            icon: 'fa fa-external-link'
        Fyziklani:
            title: Web Fyziklani
            link: http://Fyziklani.cz/
            icon: 'fa fa-external-link'
        Public.Submit.default:
            visible: true

    structure:
        Org.Dashboard.default:
            - Core.Dispatch.default
            - Org.Inbox.default
            - Org.Points.entry
            - Org.Tasks.import
            - Org.Contestant.list
            - Common.School.list
            - Org.Teacher.list
            - Org.Export.list
            - Org.Org.list
            - Org.Event.list
            - Common.Deduplicate.person
            - Common.Person.search
            - Common.Dashboard.default
            - Org.Dashboard.default
        Common.Dashboard.default:
            - Common.Dashboard.default
            - Common.Validation.default
            - Common.Person.search
            - Common.Spam.list
            - Common.Chart.list
            - Common.School.list
        Common.Validation.default:
            - Common.Validation.preview
            - Common.Validation.list
        Public.Dashboard.default:
            - Core.Dispatch.Default
            - Public.Submit.default
            - Public.Application.list
            - fykos
            - vyfuk
            - Fyziklani
        Fyziklani.Dashboard.default:
            - Fyziklani.Submit.create
            - Fyziklani.Submit.list
            - Fyziklani.Close.list
            - Fyziklani.Results.list
            - Fyziklani.Diplomas.default
            - Fyziklani.Task.list
            - Fyziklani.Task.import
            - Fyziklani.GameSetup.default

        Event.Seating.default:
            - Event.Seating.edit
            - Event.Seating.download
            - Event.Seating.preview
            - Event.Seating.list
        Fyziklani.Results.default:
            - Fyziklani.Dashboard.default
            - Fyziklani.Diplomas.results
            - Fyziklani.Results.presentation
            - Fyziklani.Results.table
            - Fyziklani.Results.teamStatistics
            - Fyziklani.Results.taskStatistics
            - Fyziklani.Results.correlationStatistics
        Event.Dashboard.default:
            - Event.TeamApplication.list
            - Event.Application.list
            - Event.EventOrg.list
            - Event.Payment.create
            - Event.Payment.list
            - Fyziklani.Dashboard.default
            - Event.ScheduleGroup.list
            - Event.Seating.default
            - Event.Model.default
            - Event.Chart.list
            - Event.Dispatch.default
            - Event.Dashboard.default
        Org.Inbox.default:
            - Org.Inbox.list
            - Org.Inbox.inbox
            - Org.Inbox.handout
            - Org.Points.preview
            - Org.Points.entry
            - Org.Inbox.corrected
