#
# ORM services definitions
#
services:
    ServiceAuthToken:        FKSDB\ORM\Services\ServiceAuthToken
    ServiceAddress:          FKSDB\ORM\Services\ServiceAddress

    ServiceContestant:       FKSDB\ORM\Services\ServiceContestant
    ServiceContest:          FKSDB\ORM\Services\ServiceContest
    ServiceContestYear:      FKSDB\ORM\Services\ServiceContestYear
    ServiceEvent:            FKSDB\ORM\Services\ServiceEvent
    ServiceEventOrg:         FKSDB\ORM\Services\ServiceEventOrg
    ServiceEventType:        FKSDB\ORM\Services\ServiceEventType
    ServiceFlag:             FKSDB\ORM\Services\ServiceFlag
    ServiceGlobalSession:    FKSDB\ORM\Services\ServiceGlobalSession
    ServiceLogin:            FKSDB\ORM\Services\ServiceLogin
    ServiceMPersonHasFlag:   ServiceMPersonHasFlag
    ServiceMPostContact:     ServiceMPostContact
    ServiceMStoredQueryTag:  ServiceMStoredQueryTag
    ServiceOrg:              FKSDB\ORM\Services\ServiceOrg
    ServicePerson:           FKSDB\ORM\Services\ServicePerson
    ServicePersonHasFlag:    FKSDB\ORM\Services\ServicePersonHasFlag
    ServicePersonHistory:    FKSDB\ORM\Services\ServicePersonHistory
    ServicePersonInfo:       FKSDB\ORM\Services\ServicePersonInfo
    ServicePostContact:      FKSDB\ORM\Services\ServicePostContact
    ServiceRegion:           FKSDB\ORM\Services\ServiceRegion
    ServiceSubmit:           FKSDB\ORM\Services\ServiceSubmit
    ServiceSchool:           FKSDB\ORM\Services\ServiceSchool

    ServiceStudyYear:        FKSDB\ORM\Services\ServiceStudyYear
    ServiceTask:             FKSDB\ORM\Services\ServiceTask
    ServiceTaskContribution: FKSDB\ORM\Services\ServiceTaskContribution
    ServiceTaskStudyYear:    FKSDB\ORM\Services\ServiceTaskStudyYear
    ServiceEventAccommodation: FKSDB\ORM\Services\ServiceEventAccommodation
    ServiceEventPersonAccommodation: FKSDB\ORM\Services\ServiceEventPersonAccommodation
    ServiceTeacher:          FKSDB\ORM\Services\ServiceTeacher
    ServicePayment:          FKSDB\ORM\Services\ServicePayment
    ServicePaymentAccommodation: FKSDB\ORM\Services\ServicePaymentAccommodation

    ServiceStoredQuery:      FKSDB\ORM\Services\StoredQuery\ServiceStoredQuery
    ServiceStoredQueryParameter: FKSDB\ORM\Services\StoredQuery\ServiceStoredQueryParameter
    ServiceStoredQueryTag:   FKSDB\ORM\Services\StoredQuery\ServiceStoredQueryTag
    ServiceStoredQueryTagType: FKSDB\ORM\Services\StoredQuery\ServiceStoredQueryTagType

    fyziklani.ServiceFyziklaniGameSetup: FKSDB\ORM\Services\Fyziklani\ServiceFyziklaniGameSetup
    fyziklani.ServiceFyziklaniRoom:        FKSDB\ORM\Services\Fyziklani\ServiceFyziklaniRoom
    fyziklani.ServiceFyziklaniTeamPosition: FKSDB\ORM\Services\Fyziklani\ServiceFyziklaniTeamPosition
    fyziklani.ServiceFyziklaniSubmit:  FKSDB\ORM\Services\Fyziklani\ServiceFyziklaniSubmit
    fyziklani.ServiceFyziklaniTask:    FKSDB\ORM\Services\Fyziklani\ServiceFyziklaniTask
    fyziklani.ServiceFyziklaniTeam:             FKSDB\ORM\Services\Fyziklani\ServiceFyziklaniTeam


    event.ServiceEventParticipant:          FKSDB\ORM\Services\ServiceEventParticipant
    event.ServiceDsefGroup:                 FKSDB\ORM\Services\Events\ServiceDsefGroup
    event.ServiceDsefParticipant:           FKSDB\ORM\Services\Events\ServiceDsefParticipant
    event.ServiceMDsefParticipant:          ORM\ServicesMulti\Events\ServiceMDsefParticipant


    event.ServiceFyziklaniParticipant:      FKSDB\ORM\Services\Events\ServiceFyziklaniParticipant
    event.ServiceMFyziklaniParticipant:     ORM\ServicesMulti\Events\ServiceMFyziklaniParticipant

    event.ServiceSousParticipant:           FKSDB\ORM\Services\Events\ServiceSousParticipant
    event.ServiceMSousParticipant:          ORM\ServicesMulti\Events\ServiceMSousParticipant

    event.ServiceTsafParticipant:           FKSDB\ORM\Services\Events\ServiceTsafParticipant
    event.ServiceMTsafParticipant:          ORM\ServicesMulti\Events\ServiceMTsafParticipant

    event.ServiceVikendParticipant:         FKSDB\ORM\Services\Events\ServiceVikendParticipant
    event.ServiceMVikendParticipant:        ORM\ServicesMulti\Events\ServiceMVikendParticipant
