#
# ORM services definitions
#
services:
    ServiceEvent:            ServiceEvent
    ServiceEventParticipant: ServiceEventParticipant
    ServiceAddress:          ServiceAddress
    ServiceContestant:       ServiceContestant
    ServiceContest:          ServiceContest
    ServiceCountry:          ServiceCountry
    ServiceLogin:            ServiceLogin
    ServiceMPostContact:     ServiceMPostContact
    ServiceOrg:              ServiceOrg
    ServicePerson:           ServicePerson
    ServicePersonInfo:       ServicePersonInfo
    ServicePostContact:      ServicePostContact
    ServiceRegion:           ServiceRegion
    ServiceSubmit:           ServiceSubmit
    ServiceSchool:           ServiceSchool
    ServiceTask:             ServiceTask
    ServiceTaskContribution: ServiceTaskContribution
