#
# ORM services definitions
#
services:
    ServiceAuthToken:        ServiceAuthToken
    ServiceAddress:          ServiceAddress
    ServiceBrawlRoom:        ServiceBrawlRoom
    ServiceBrawlTeamPosition: ServiceBrawlTeamPosition
    ServiceContestant:       ServiceContestant
    ServiceContest:          ServiceContest
    ServiceContestYear:      ServiceContestYear
    ServiceEvent:            ServiceEvent
    ServiceEventOrg:         ServiceEventOrg
    ServiceEventType:        ServiceEventType
    ServiceFlag:             ServiceFlag
    ServiceFyziklaniSubmit:  ServiceFyziklaniSubmit
    ServiceFyziklaniTask:    ServiceFyziklaniTask
    ServiceGlobalSession:    ServiceGlobalSession
    ServiceLogin:            ServiceLogin
    ServiceMPersonHasFlag:   ServiceMPersonHasFlag
    ServiceMPostContact:     ServiceMPostContact
    ServiceMStoredQueryTag:  ServiceMStoredQueryTag
    ServiceOrg:              ServiceOrg
    ServicePerson:           ServicePerson
    ServicePersonHasFlag:    ServicePersonHasFlag
    ServicePersonHistory:    ServicePersonHistory
    ServicePersonInfo:       ServicePersonInfo
    ServicePostContact:      ServicePostContact
    ServiceRegion:           ServiceRegion
    ServiceSubmit:           ServiceSubmit
    ServiceSchool:           ServiceSchool
    ServiceStoredQuery:      ServiceStoredQuery
    ServiceStoredQueryParameter: ServiceStoredQueryParameter
    ServiceStoredQueryTag:   ServiceStoredQueryTag
    ServiceStoredQueryTagType: ServiceStoredQueryTagType
    ServiceStudyYear:        ServiceStudyYear
    ServiceTask:             ServiceTask
    ServiceTaskContribution: ServiceTaskContribution
    ServiceTaskStudyYear:    ServiceTaskStudyYear
    ServiceTeacher:          ServiceTeacher

    event.ServiceEventParticipant:          ServiceEventParticipant
    event.ServiceDsefGroup:                 ORM\Services\Events\ServiceDsefGroup
    event.ServiceDsefParticipant:           ORM\Services\Events\ServiceDsefParticipant
    event.ServiceMDsefParticipant:          ORM\ServicesMulti\Events\ServiceMDsefParticipant
    event.ServiceFyziklaniTeam:             ORM\Services\Events\ServiceFyziklaniTeam
    event.ServiceFyziklaniParticipant:      ORM\Services\Events\ServiceFyziklaniParticipant
    event.ServiceMFyziklaniParticipant:     ORM\ServicesMulti\Events\ServiceMFyziklaniParticipant
    event.ServiceSousParticipant:           ORM\Services\Events\ServiceSousParticipant
    event.ServiceMSousParticipant:          ORM\ServicesMulti\Events\ServiceMSousParticipant
    event.ServiceTsafParticipant:           ORM\Services\Events\ServiceTsafParticipant
    event.ServiceMTsafParticipant:          ORM\ServicesMulti\Events\ServiceMTsafParticipant
    event.ServiceVikendParticipant:         ORM\Services\Events\ServiceVikendParticipant
    event.ServiceMVikendParticipant:        ORM\ServicesMulti\Events\ServiceMVikendParticipant
