payment:
    -
        eventId: 137
        scheduleGroupType:
            - accommodation
        transitionsGenerator: FKSDB\Payment\Transition\Transitions\Fyziklani13Payment
        eventPrice: false
        priceCalculator:
            preProcess:
                - FKSDB\Payment\PriceCalculator\PreProcess\SchedulePrice
        symbolGenerator:
            variableSymbolStart: 7292000
            variableSymbolEnd: 7292999
            info:
                czk:
                    bank_account: 38330021/0100
                    iban: CZ91 0100 0000 0000 3833 0021
                eur:
                    iban: CZ93 0100 0000 4373 0978 0297
                    swift: KOMBCZPPXXX
    -
        eventId: 145
        scheduleGroupType:
            - accommodation
        transitionsGenerator: FKSDB\Payment\Transition\Transitions\Fyziklani14Payment
        priceCalculator:
            preProcess:
                - FKSDB\Payment\PriceCalculator\PreProcess\SchedulePrice
        symbolGenerator:
            variableSymbolStart: 7292000
            variableSymbolEnd: 7292999
            info:
                czk:
                    bank_account: 38330021/0100
                    bank_name: ""
                    recipient: ""
                    iban: CZ91 0100 0000 0000 3833 0021
                eur:
                    bank_name: ""
                    recipient: ""
                    iban: CZ93 0100 0000 4373 0978 0297
                    swift: KOMBCZPPXXX
