
parameters:
    # Path on the website (if not in webroot)
    path: /

    # Available domain names
    domain:
        # (Language) domains
        cz: fykos.cz
        org: fykos.org

    # Pipe-separated list of presenters w/out module
    rootPresenters: settings|my-payments|my-applications

    # Pipe-separated list of modules
    constestModules: org|public|warehouse
    eventModules: event|game|schedule

    # Pipe-separated list of contest names
    contests: fykos|vyfuk
routing:
    routes:
        abc: :Core:Dashboard:default
fksrouter:
    routes:
        # PHP-like scripts compatibility
        -
            mask: 'index.php'
            module: Public
            presenter: Dashboard
            action: default
            flags: [ONE_WAY]

        # Backward compatibility
        -
            mask: 'api/<webServiceName>'
            module: Core
            presenter: RestApi
            action: default
        -
            mask: 'web-service/<action>'
            module: Org
            presenter: WebService
            action: default
            flags: [ONE_WAY]
        -
            mask: 'my-<applications|payments>/'
            module: Profile
            presenter: Detail
            action: default
            flags: [ONE_WAY]

        -
            mask: 'aesop/<contestId %contests%><year [0-9]+>/contestant/[<category [0-4]>]'
            module: Core
            presenter: AESOP
            action: contestant
            contestId: [filterTable: %inverseContestMapping%]
        -
            mask: 'aesop/<contestId %contests%><year [0-9]+>/event.<eventName>[/<type>]'
            module: Core
            presenter: AESOP
            action: event
            contestId: [filterTable: %inverseContestMapping%]
        # cool URL for SQLQuery
        -
            mask: '<contestId %contests%><year [0-9]+>[.<series [0-9]+>]/q/<qid>'
            module: Org
            presenter: Export
            action: execute
            contestId: [filterTable: %inverseContestMapping%]

        # Central authentication
        -
            mask: 'auth/<action login|logout|fb-login|recover|google>'
            module: Core
            presenter: Authentication

        -
            mask: '<presenter register>/[<contestId %contests%>/[year<year [0-9]+>/[person<personId -?[0-9]+>/]]]<action=default>'
            module: Public
            contestId: [filterTable: %inverseContestMapping%]
            year: null

        -
            mask: '[<contestId %contests%>/]<presenter register>/<action=default>'
            module: Public
            contestId: [filterTable: %inverseContestMapping%]
            flags: [ONE_WAY]

        -
            mask: '/'
            module: Core
            presenter: Dispatch
            action: default
        -
            mask: 'profile/<presenter>/<action=default>'
            module: Profile
            presenter: Default

        # Application itself (note the presenters w/out module are handled specially)
        -
            mask: '<presenter %rootPresenters%>/<action=default>[/<id>]'
            module: Core

        # Application itself (note the presenters w/out module are handled specially)
        -
            mask: '<module %eventModules%>[<eventId [0-9]+>]/<presenter>/<action=default>[/<id>]'
            presenter: Dashboard
        -
            mask: 'event[<eventId [0-9]+>]/<presenter>/<action=default>[/<id>]'
            module: Event
            presenter: Dashboard

        -
            mask: '<module %constestModules%>/[<contestId %contests%>[<year [0-9]+>/[series<series [0-9]+>/]]]<presenter>/<action=default>[/<id>]'
            presenter: Dashboard
            contestId: [filterTable: %inverseContestMapping%]
