
parameters:
    # Path on the website (if not in webroot)
    path: /

    # Available domain names
    domain:
        # (Language) domains
        cz: fykos.cz
        org: fykos.org
        
        # Default top level domain
        tld: cz

        # Main domain
        host: fykos
    
    # Available subdomains
    subdomain:
        # Central authentication domain for SSO.
        auth: auth

        # Main domain for the application.
        db: db

    # Pipe-separated list of presenters w/out module
    rootPresenters: settings|github

    # Pipe-separated list of modules
    modules: org|public

    # Pipe-separated list of contest names
    contests: fykos|vyfuk

fksrouter:
    routes:
        # PHP-like scripts compatibility
        'index.php':
            module: Public
            presenter: Dashboard
            action: default
            flags: [ONE_WAY, SECURED]

        # Backward compatibility
        'web-service/<action>':
            module: Org
            presenter: WebService
            action: default
            flags: [ONE_WAY, SECURED]

        # Cool URL
        '%path%<contestId %contests%><year [0-9]+>[.<series [0-9]+>]/q/<qid>':
            subdomain: %subdomain.db%
            tld: %domain.tld%
            module: Org
            presenter: Export
            action: execute
            contestId: [filterTable: %inverseContestMapping%]
            flags: SECURED
                       
        # Central authentication domain (+ logout must be enabled at each domain too)
        '//[!<subdomain>].%domain.host%.[!<tld>]%path%<action logout>':
            presenter: Authentication
            subdomain: %subdomain.db%
            tld: %domain.tld%
            flags: SECURED
        '//%subdomain.auth%.%domain.cz%%path%<action login|logout|fb-login|recover>':
            presenter: Authentication
            subdomain: %subdomain.auth%
            tld: %domain.tld%
            flags: SECURED

        # Registration must be at the same domain as central authentication.
        '//%subdomain.auth%.%domain.cz%%path%[<contestId %contests%>/]<presenter register>/<action=default>':
            module: Public
            subdomain: %subdomain.auth%
            tld: %domain.tld%
            contestId: [filterTable: %inverseContestMapping%]
            flags: SECURED
        '//%subdomain.db%.%domain.host%.[!<tld>]%path%[<contestId %contests%>/]<presenter register>/<action=default>':
            module: Public
            subdomain: %subdomain.auth%
            tld: %domain.tld%
            contestId: [filterTable: %inverseContestMapping%]
            flags: [ONE_WAY, SECURED]

        # Application itself (note the presenters w/out module are handled specially)
        '//[!<subdomain>].%domain.host%.[!<tld>]%path%[<contestId %contests%>[<year [0-9]+>]/]<presenter %rootPresenters%>/<action=default>[/<id>]':
            subdomain: %subdomain.db%
            tld: %domain.tld%
            contestId: [filterTable: %inverseContestMapping%]
            flags: SECURED

        '//[!<subdomain>].%domain.host%.[!<tld>]%path%fyziklani[<eventID [0-9]+>]/<presenter>/<action=default>[/<id>]':
            subdomain: %subdomain.db%
            tld: %domain.tld%
            module: Fyziklani
            flags: SECURED

        '//[!<subdomain>].%domain.host%.[!<tld>]%path%[<contestId %contests%>[<year [0-9]+>]/][<module %modules%>/]<presenter>/<action=default>[/<id>]':
            module: Public
            presenter: Dashboard
            subdomain: %subdomain.db%
            tld: %domain.tld%
            contestId: [filterTable: %inverseContestMapping%]
            flags: SECURED


