#
# General services (data processing, model factories, etc.)
#

services:
    - Authentication\FacebookAuthenticator
    - Authentication\PasswordAuthenticator
    - Authentication\TokenAuthenticator
    contestAuthorizator: Authorization\ContestAuthorizator
    ownerAssertion: Authorization\OwnerAssertion
    Facebook: self({appId: %facebook.appId%, secret: %facebook.secret%})
    yearCalculator: YearCalculator
    seriesCalculator: SeriesCalculator
    SQLResultsCache: SQLResultsCache
    submitStorage:
        class: Submits\SubmitStorage(%upload.root%, %upload.directoryMask%, %upload.filenameMask%, %contestMapping%)
        setup:
            - addProcessing(@PDFStamper)
    PDFStamper: Submits\PDFStamper(%stamper.fontSize%)


    # web services
    soapServer:
        class: SoapServer(%wdslUrl%)
        setup:
            - setObject(@webServiceModel)

    webServiceModel:        WebServiceModel(%contestMapping%, ...)

    nette.userStorage: LoginUserStorage
