#
# General services (data processing, model factories, etc.)
#

services:
    accountManager:
        class: FKSDB\Authentication\AccountManager(%invitation.expiration%,%recovery.expiration%,%email.from%)
    - FKSDB\Authentication\FacebookAuthenticator
    - FKSDB\Authentication\GithubAuthenticator
    - FKSDB\Authentication\PasswordAuthenticator
    - FKSDB\Authentication\TokenAuthenticator
    - FKSDB\Authentication\GoogleAuthenticator
    - FKSDB\Authentication\Provider\GoogleProvider(%googleOAuth2.clientId%,%googleOAuth2.clientSecret%, ...)
    - FKSDB\Authorization\ContestAuthorizator
    - FKSDB\Authorization\EventAuthorizator
    - FKSDB\Authorization\RelatedPersonAuthorizator
    - FKSDB\Components\Events\ExpressionPrinter
    downloader: FKSDB\Astrid\Downloader(%astrid.user%, %astrid.password%, %astrid.host%, %tempDir%, %contestMapping%, ...)
    - Facebook({appId: %facebook.appId%, secret: %facebook.secret%})
    yearCalculator: FKSDB\YearCalculator
    news: FKSDB\News\News
    seriesCalculator: FKSDB\SeriesCalculator
    SQLResultsCache: FKSDB\Results\SQLResultsCache
    seriesTable: FKSDB\Submits\SeriesTable
    - FKSDB\Persons\ExtendedPersonHandlerFactory
    - FKSDB\Persons\SelfResolver
    merger:
        class: FKSDB\Persons\Deduplication\Merger(%merger%, ...)
    - FKSDB\Components\Forms\Controls\Autocomplete\PersonProvider
    - FKSDB\Components\Forms\Controls\Autocomplete\SchoolProvider
    - FKSDB\Components\Controls\PresenterBuilder
    - FKSDB\Github\EventFactory
    - FKSDB\Maintenance\Updater
    globalSession:
        class: FKSDB\Authentication\SSO\GlobalSession(%globalSession.expiration%, ...)
        setup:
            - start()
    - FKSDB\Authentication\SSO\TokenGSIDHolder
    submitUploatedStorage:
        class: FKSDB\Submits\FileSystemStorage\UploadedStorage(%upload.root%, %upload.directoryMask%, %upload.filenameMask%, %contestMapping%)
        setup:
            - addProcessing(@PDFStamper)
    submitCorrectedStorage:
                    class: FKSDB\Submits\FileSystemStorage\CorrectedStorage(%corrected.root%, %corrected.directoryMask%, %corrected.filenameMask%, %contestMapping%)
    - FKSDB\Submits\SubmitHandlerFactory
    - FKSDB\Components\Forms\Controls\Schedule\Handler
    PDFStamper: FKSDB\Submits\PDFStamper(%stamper.fontSize%)
    readOnlyConnection:
        class: Nette\Database\Connection(%ro-database.dsn%, %ro-database.user%, %ro-database.password%)
        autowired: false
    translator: FKSDB\Localization\GettextTranslator(%localization.locales%, %localization.localeDir%)

    # web services
    soapServer:
        class: SoapServer(%wsdlUrl%)
        setup:
            - setObject(@webServiceModel)
    - FKSDB\WebService\EventSoapFactory

    webServiceModel: FKSDB\WebService\WebServiceModel(%inverseContestMapping%, ...)

    nette.userStorage: FKSDB\Authentication\LoginUserStorage
    nette.mailer:
        class: FKSDB\Mail\LoggingMailer(Nette\Mail\SendmailMailer())
        setup:
            - setLogPath(%logDir%/mail)

    - FKSDB\DataTesting\DataTestingFactory

    #
    # Events
    #
    events.dataValidator: FKSDB\Events\Model\Holder\DataValidator
    events.expressionEvaluator: FKSDB\Events\Model\ExpressionEvaluator
    events.privacyPolicy: FKSDB\Events\FormAdjustments\PrivacyPolicy
    events.captcha: FKSDB\Events\FormAdjustments\Captcha

    - FKSDB\DBReflection\DBReflectionFactory
    - FKSDB\Components\Controls\PhoneNumber\PhoneNumberFactory
    - FKSDB\DBReflection\MetaDataFactory
    - FKSDB\Fyziklani\Submit\HandlerFactory

includes:
    - merger.neon
