parameters:
    components:
        base_info:
            layout: single
            label: Base info
            minimalPermission: 1
            table: person
            rows:
                - person.family_name
                - person.other_name
                - person.born_family_name
                - person.display_name
                - person.gender
                - person.person_id
                - person.created

        contact_info:
            layout: single
            label: Contact info
            minimalPermission: 1
            table: person_info
            rows:
                - person_info.email
                - person_info.phone

        contact_parents:
            layout: single
            label: Contact to parents
            minimalPermission: 128
            table: person_info
            rows:
                - person_info.phone_parent_m
                - person_info.phone_parent_d
                - person_info.email_parent_m
                - person_info.email_parent_d

        academic_degree:
            layout: single
            label: Academic degree
            minimalPermission: 128
            table: person_info
            rows:
                - person_info.academic_degree_prefix
                - person_info.academic_degree_suffix

        extended_info:
             layout: single
             label: Extended info
             minimalPermission: 128
             table: person_info
             rows:
                 - person_info.born
                 - person_info.born_id
                 - person_info.birthplace
                 - person_info.id_number
                 - person_info.employer
                 - person_info.uk_login
                 - person_info.isic_number
                 - person_info.health_insurance
                 - person_info.citizenship
                 - person_info.account
                 - person_info.career
                 - person_info.homepage
                 - person_info.note
                 - person_info.origin

        login:
             layout: single
             label: Login
             minimalPermission: 128
             table: login
             rows:
                 - login.login
                 - login.login_id
                 - login.hash
                 - login.last_login

        person_history:
            layout: grid
            minimalPermission: 128
            table: person_history
            links: []
            rows:
                - person_history.ac_year
                - school.school
                - person_history.study_year_new
                - person_history.class
        task_contribution:
            layout: grid
            minimalPermission: 1024
            table: task_contribution
            links: []
            rows:
                - task.name
                - task_contribution.type
                - contest.contest
                - task.year
                - task.series

        payment:
            layout: grid
            label: Payment
            minimalPermission: 128
            table: payment
            links:
                - payment.detail
            rows:
                - payment.payment_id
                - payment.price
                - payment.state
        contestant:
            layout: grid
            minimalPermission: 128
            table: contestant
            links:
                - contestant.edit
            rows:
                - contestant.contestant_id
                - contestant.year
                - contest.contest
        event_participant:
            layout: grid
            minimalPermission: 128
            table: event_participant
            links:
                - event_participant.detail
                - event_participant.edit
            rows:
                - event_participant.event_participant_id
                - event.name
                - event_participant.status
        fyziklani_team_member:
            layout: grid
            minimalPermission: 128
            table: fyziklani_team_member
            rows:
                - fyziklani_team.name
                - fyziklani_team.state
                - event.name
            links:
                - fyziklani_team.detail
        event_org:
            layout: grid
            minimalPermission: 128
            table: event_org
            links:
                - event_org.edit
                - event_org.detail
            rows:
                - event_org.event_org_id
                - event.name
                - contest.contest
                - event_org.note
        fyziklani_team_teacher:
            layout: grid
            minimalPermission: 128
            table: fyziklani_team_teacher
            links:
                - fyziklani_team.detail
            rows:
                - fyziklani_team.name
                - fyziklani_team.state
                - event.name
        schedule_item:
            layout: grid
            minimalPermission: 128
            table: person_schedule
            links: []
            rows:
                - schedule_item.name
                - event.name
                - schedule_group.schedule_group_type
                - schedule_group.start
                - schedule_group.end
                - schedule_item.price_czk
                - schedule_item.price_eur
        email_message:
            layout: grid
            minimalPermission: 128
            table: email_message
            rows:
                - email_message.email_message_id
                - email_message.recipient
                - email_message.subject
                - email_message.state
