{varType Fykosak\NetteORM\Model $model}
{varType string $templateString}
{varType string $className}
{varType int $userPermission}
<div class="{$className}">
    {control printer:templateString $templateString, $model, $userPermission}
</div>
