{varType Fykosak\NetteORM\Model\Model[] $models}
{varType ?Fykosak\Utils\UI\Title $title}
{varType FKSDB\Components\Grids\Components\Table\Table $table}
{varType bool $head}
{varType int|null $userPermission}
<div class="col-12 mb-3">
    <strong class="mb-3">{$title->toHtml()}</strong>
    {control table $models,$head,$userPermission}
</div>
