{varType Nette\ComponentModel\Container $columns}
{varType Nette\ComponentModel\Container $buttons}
{foreach $columns->getComponents() as $component}
    {varType FKSDB\Components\Grids\Components\BaseItem $component}
    <th>
        {control $component:title}
    </th>
{/foreach}
{if count($buttons->getComponents())}
    <th></th>
{/if}
