{varType FKSDB\Components\Grids\Components\TableRow\TableRow $control}

{foreach $control->columns->getComponents() as $component}
    {varType FKSDB\Components\Grids\Components\BaseItem $component}
    <th>
        {if $component->title}
            {$component->title->toHtml()}
        {/if}
    </th>
{/foreach}
{if count($control->buttons->getComponents())}
    <th></th>
{/if}
