<p>
    Případné změny lze do {$event->registration_end} provádět po <a n:href="//:Authentication:login">přihlášení</a>
    nebo využitím soukromého odkazu níže:<br/>
    <a n:href="//:Public:Application:, at => $token">{link //:Public:Application:, at => $token}</a>
</p>
