{block #actionMenu}
	{control actionsWActions}
{/block}
{block #content}
	<h1>Přihláška na {$year}. ročník {$event_name}</h1>
	{if $registred_user_message} 
		<p class='registred_user'>{$registred_user_message}</p>
	{/if}
	{control registrationForm}
{/block}
