{varType FKSDB\Components\Grids\ListComponent\Container\TableRow $control}

{foreach $control->getComponents() as $name=> $component}
    {varType FKSDB\Components\Grids\ListComponent\ItemComponent $component}
    {continueIf $name === 'buttons'}
    <th>
        {$component->title->toHtml()}
    </th>
{/foreach}
{if count($control->getColumnsContainer()->getButtonContainer()->getComponents())}
    <th></th>
{/if}
