{block content}
    <h2>{_'Change email'}</h2>
    {control changeEmail}
    <hr/>
    <h2>{_'Permanent address'}</h2>
    {control permanentPostContactForm}
    <hr/>
    <h2>{_'Delivery addesss'}</h2>
    {control deliveryPostContactForm}
{/block}
