@import "../colors";

main.no-bg {
  padding-top: 0;
  min-height: 100%;
}

.fyziklani-results, .fyziklani-statistics {
  h1 {
    color: var(--color-fof-main);
    font-weight: bold;
  }

  .inner-headline {
    background-size: cover;

    .image-wp {
      color: white;
    }

    .image-wp {
      padding-top: 6rem;
    }

    .sponsors {
      img {
        max-width: 50%;
      }
    }

    .logo {
      padding-top: 7rem;
      display: block;
    }
  }

  .logo {
    display: none;
  }


}

.image-wp, .clock {
  color: var(--color-fof-main);
}


.time-histogram {
  polygon {
    transition-duration: 1s;
  }
}

.time-line-histogram {
  .line {
    fill: none;
    stroke-width: 2px;
  }

  .area {
    opacity: .1;
  }
}
