@import "../colors";

main.no-bg {
  padding-top: 0;
  min-height: 100%;
}

.fyziklani-results, .fyziklani-statistics {
  h1 {
    color: var(--color-fof-main);
    font-weight: bold;
  }

  .inner-headline {
    background-size: cover;

    .clock, .image-wp {
      color: white;
    }

    .clock-big {
      align-items: center;
      position: fixed;
      top: 0;
      height: 100%;
      width: 100%;
    }

    .image-wp {
      padding-top: 6rem;
    }

    .sponsors {
      img {
        max-width: 50%;
      }
    }

    .logo {
      padding-top: 7rem;
      display: block;
    }
  }

  .logo {
    display: none;
  }

  .clock {
    justify-content: space-between;
    padding: .25em;
    font-weight: bold;

    .time-value, .time-label {
      width: 100%;
      text-align: center;
    }

    & > span {
      display: flex;
      flex-wrap: wrap;

    }

    &.clock-small {
      & > span {
        flex-grow: initial;
      }

      font-size: 200%;
      display: flex;
      width: 100%;
      justify-content: center;
      background: white;
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 10000;

      .time-label {
        width: 100%;
        font-size: .75rem;
      }
    }

    &.clock-big {

      text-align: center;

      .time-value {
        font-size: 8rem;
      }

      .time-label {
        font-size: 2rem;
      }
    }
  }

  .image-wp, .clock {
    color: var(--color-fof-main);
  }

  .image-wp {
    font-size: 4rem;
    text-align: center;
  }
}

.time-histogram {
  polygon {
    transition-duration: 1s;
  }
}

.time-line-histogram {
  .line {
    fill: none;
    stroke-width: 2px;
  }

  .area {
    opacity: .1;
  }
}
