{layout './@layout.latte'}
{block value}
    {if \is_null($model->{$accessKey})}
        {control notSet}
    {else}
        {\FKSDB\Components\Controls\PhoneNumber\PhoneNumberFactory::format($model->{$accessKey})}
    {/if}
{/block}
