<p>
    Ahoj,
    Tvou přihlášku jsme zaevidovali. Rozhodnutí o tom, zda budeš na tábor vybrán,
    budeme rozesílat okolo {$holder->getParameter('letterResolutionTime')}.
    Připomínáme, že o Tvé účasti na táboře rozhoduje Tvé pořadí v soutěži.
</p>
<p>
    Za organizátory
</p>
