<p>
    Ahoj,
    Tvou přihlášku jsme zaevidovali. Další informace budeme rozesílat později. Těšíme se na Tebe na táboře. :-)
</p>
<p>
    Za organizátory
    {$holder->getParameter('letterSignature')}
</p>
