{varType FKSDB\Models\Events\Model\Holder\BaseHolder $holder}
<p>
    Ahoj,<br/>
    Tvou přihlášku jsme zaevidovali. Rozhodnutí o tom, zda budeš na tábor vybrán,
    budeme rozesílat okolo {$holder->event->getParameter('letterResolutionTime')|date:'j.n.'}.
    Připomínáme, že o Tvé účasti na táboře rozhoduje Tvé pořadí v soutěži.
</p>
<p>
    Za organizátory<br/>
    {$holder->event->getParameter('letterSignature')}
</p>
