{layout '../../../CoreModule/templates/@layout.latte'}

{block content}
    {foreach $years as $year}
        <a href="{link 'email', 'year'=> $year}" class="col-12 btn btn-outline-primary btn-lg btn-block">{_('Contest year')} {$year}</a>
    {/foreach}
{/block}
