{control form}
<h2>{_'Persons'} {*(($page-1)*$perPage)+1}-{$page*$perPage*}</h2>
{foreach $logs as $log}
    <div class="mt-3">
        <h3>
            <a href="{plink :Org:Stalking:view id=>$log['model']->person_id}">{$log['model']->getFullName()}</a>
            <span class="badge badge-secondary">#{$log['model']->person_id}</span>
        </h3>
        {foreach $log['log'] as $simpleLog}
            <div class="alert alert-{$simpleLog->level}"><b>{$simpleLog->testName}</b>: {$simpleLog->message}</div>
        {/foreach}
        <hr/>
    </div>
{/foreach}
