transitions:
    personSchedule:
        machine: FKSDB\Models\Transitions\Machine\PersonScheduleMachine
        stateEnum: FKSDB\Models\ORM\Models\Schedule\PersonScheduleState
        decorator: null
        transitions:
            applied->participated:
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\IsPaid()
                label: _('Participated')
                icon: 'fas fa-check'
                behaviorType: success
            applied->missed:
                label: _('Missed')
                behaviorType: danger
            applied->cancelled:
                 condition: FKSDB\Models\Expressions\Logic\LogicAnd(
                                FKSDB\Models\Transitions\Transition\Statements\Conditions\IsScheduleGroupModifiable(),
                                FKSDB\Models\Expressions\Logic\Not(
                                    FKSDB\Models\Transitions\Transition\Statements\Conditions\HasPersonSchedulePayment()
                                )
                                )
                 label: _('Cancel')
                 behaviorType: danger
