<div>
    <h2>{_('Uzatváranie bodovaní tímov')}</h2>
    {control closeGrid}
    <h2>{_('Uzatváranie bodovaní celého fyzikláni')}</h2>
    <div class="btn-group">
        {control closeCategoryAForm}
        {control closeCategoryBForm}
        {control closeCategoryCForm}
        {control closeCategoryFForm}
        {control closeGlobalForm}
    </div>
</div>
