<h2>{sprintf(_('Submit #%s'),$submit->fyziklani_submit_id)}</h2>
{control stringValue $submit->getTeam(),_('Team name'),name }

{control stringValue $submit,_('Team Id'),e_fyziklani_team_id }

{control stringValue $submit->getTask(),_('Team label'),label}

{control stringValue $submit->getTask(),_('Task name'),name }

{control dateValue $submit,_('Created'),created, true,'c'}

<hr/>
{control form}
