<div class="row mt-1">
    <b class="col-xl-2 col-lg-4 col-md-5 col-sm-6">{_('Úloha u vydavačů')}:</b>
    <span class="col-xl-10 col-lg-8 col-md-7 col-sm-6">{$task}</span>
</div>
<a class="btn btn-success" href="{link close!}">{_('Confirm and close submitting.')}</a>
