{layout ./chooser.latte}
{block content}
    {if $modifiable}
        {include #parent}
    {else}
        <span class="nav-link disabled"><i class="fa fa-language mr-1"></i>{$languageNames[$currentLanguage]}</span>
    {/if}
{/block}
