{layout ./@layout.latte}

{block #form}
    {form recoverForm class => 'form-signin'}
        <div n:foreach="$form->errors as $error" class="alert alert-danger">{$error}</div>
        {input id class => 'last form-control', autofocus => true, placeholder => $_input->translate($_input->caption)}
        {input send class => 'btn btn-lg btn-success btn-block'}
    {/form recoverForm}
{/block}
