.seating-layout {
  text {
    text-anchor: middle;
  }

  .wall.wall-outer {
    &, * {
      stroke-dasharray: 5 5;
      stroke: black;
      fill: none;
    }
  }

  .stage {
    &, * {
      fill: none;
      stroke: black;
    }

    text {
      alignment-baseline: center;
    }
  }

  .team-seat {
    text {
      text-anchor: middle;
      alignment-baseline: baseline;
    }

    &.free {
      fill: none;
      stroke: #ccc;
      stroke-width: 3px;
      stroke-dasharray: 4 4;
    }

    &.occupied {
      fill: #198754;
      stroke: none;
    }

    &.category-A {
      fill: var(--color-variant-color-10) !important;;
    }

    &.category-B {
      fill: var(--color-variant-color-5) !important;;
    }

    &.category-C {
      fill: var(--color-variant-color-9) !important;;
    }

    &.game-lang-cs {
      stroke: black !important;
      stroke-dasharray: 10 10 !important;
      stroke-width: 3px !important;
    }

    &.game-lang-en {
      stroke: black !important;
      stroke-dasharray: 3 3 !important;
      stroke-width: 3px !important;
    }
  }

  .sectors .sector text {
    font-size: 1.8rem;

    tspan {
      alignment-baseline: middle;
    }
  }
}
