{block outerContent}
    {varType FKSDB\Models\ORM\Models\EventParticipantModel $model}
    {varType array $groups}
    {varType bool $hasSchedule}
    {varType bool $isOrganizer}
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Base info'}</h2>
            {control columnTable $isOrganizer?[
            'person.person_link',
            'event_participant.event_participant_id',
            'event_participant.status',
            'event_participant.created'
            ]:[
            'person.full_name',
            'event_participant.status',
            'event_participant.created'
            ],$model,1024}
        </div>
    </div>

    {varType string[] $fields}
    {foreach $groups as $groupName=>$fieldDef}
        {if count(array_intersect($fieldDef, $fields)) > 0}
            <div class="panel color-auto">
                <div class="container">
                    <h2>{$groupName}</h2>
                    {var $currentFields = []}
                    {foreach $fieldDef as $field}
                        {if in_array($field,$fields)}
                            {php $currentFields[] = 'event_participant.' . $field}
                        {/if}
                    {/foreach}
                    {control columnTable $currentFields,$model,1024}
                    {php $currentFields = []}
                </div>
            </div>
        {/if}
    {/foreach}

    {if $hasSchedule}
        <div class="panel color-auto">
            <div class="container">
                <h2>{_'Schedule'}</h2>
                {control personScheduleGrid $model->person,$model->event}
            </div>
        </div>
    {/if}
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Actions'}</h2>
            <a href="{plink :Public:Application:default id => $model->getPrimary(), eventId => $model->event->event_id}"
               class="btn btn-xs btn-sm btn-outline-primary">{_'Edit'}</a>
        </div>
    </div>
    {if $isOrganizer}
        <div class="panel color-auto">
            <div class="container">
                <h2>{_'Transitions'}</h2>
                {control applicationTransitions}
            </div>
        </div>
    {/if}
{/block}
