{layout '../../../templates/@layout.latte'}
{block nav}
    {include #parent}
    {control fyziklaniChooser}
{/block}
{block user-info}
    {control languageChooser,null}
    {include #parent}
{/block}
