{varType FKSDB\Modules\Core\BasePresenter $control}
{block content}
    {if $control->authorized('create')}
        {var $pageTitle = $control->titleCreate()}
        <a href="{plink create}" class="btn btn-outline-primary"><i
                    class="{$pageTitle->icon} me-1"></i>{$pageTitle->title}</a>
    {/if}
    <hr/>
    {control tagCloud:list}
    {control grid}
{/block}
