{block content}
    <h2>{_'My single applications'}</h2>
    {control mySingleApplicationsGrid}
    <h2>{_'My team applications'}</h2>
    {control myTeamApplicationsGrid}
    <h2>{_'My applications as a teacher'}</h2>
    {control myEventTeachersGrid}
    <h2>{_'Akce s otevřenou registrací'}</h2>

    {control newApplicationsGrid}
{/block}
