{block content}
    <h2>{_'My applications'}</h2>
    {control myApplicationsGrid}
    <h2>{_'My applications as a teacher'}</h2>
    {control myEventTeachersGrid}
    <h2>{_'Events with open registration'}</h2>

    {control newApplicationsGrid}
{/block}
