{block content}
    {*control applicationsGrid*}
    <h2>{_'My single applications '}</h2>
    {control mySingleApplicationsGrid}
    <h2>{_'My teams applications '}</h2>
    {control myTeamApplicationsGrid}

    <h3>{_'Akce s otevřenou registrací'}</h3>

    {control newApplicationsGrid}
{/block}
