<div style="
font-family: 'Source Sans Pro', sans-serif;
font-size: 14px;
color:#000;
">
    <div style="padding: 0 4rem; text-align: center;">
        <img alt="" src="{$baseUrl}/images/fyziklani/fyziklani_2023_logo_black.png" style="max-width: 200px; width: 100%;">
    </div>

    <main style="margin: 2rem">
        {block body}
    </main>
</div>
