.chart.chart-fyziklani-task-timeline {
  circle {
    stroke: white;
    stroke-width: 1;

    &[data-points="5"] {
      fill: var(--color-fof-points-5);
    }

    &[data-points="3"] {
      fill: var(--color-fof-points-3);
    }

    &[data-points="2"] {
      fill: var(--color-fof-points-2);
    }

    &[data-points="1"] {
      fill: var(--color-fof-points-1);
    }
  }
}
