<nav n:if="$path" class="breadcrumb">
{foreach $path as $request }
    {if !$iterator->isLast()}
        <a class="breadcrumb-item" href="{$request->url}">
            {$request->title}
        </a>
    {else}
        <span class="breadcrumb-item active">
            {$request->title}
        </span>
    {/if}
{/foreach}
</nav>
