{varType FKSDB\Models\Events\Model\Holder\BaseHolder $holder}
<p>Ahoj,<br>
protože ses stále nijak neozval{if $holder->getPerson()->gender->value == 'F'}a{/if},
tak Ti připomínáme, že by se nám skutečně hodilo vědět Tvé rozhodnutí co nejdříve. Níže přikládáme kopii zvacího e-mailu.
</p>

