<p>
Protože ses zatím nijak neozval{if $person->gender == 'F'}a{/if},
tak Ti připomínáme, že by se nám hodilo vědět Tvé rozhodnutí co nejdříve.
</p>

<p>Také ještě jednou prosíme o vyplnění <a href="https://docs.google.com/forms/d/e/1FAIpQLSf7mlSWl23rVQtw_EGR3iSmUV2rp4S3qSgFjvccoCM623z1LQ/viewform?usp=sf_link">dotazníku k přednáškám</a>; přijímání odpovědí se uzavře v neděli 27. února.</p>