{varType FKSDB\Models\Transitions\Holder\ParticipantHolder $holder}
<p>Ahoj,<br>
protože ses stále nijak neozval{if $holder->getModel()->person->gender->value == 'F'}a{/if},
tak Ti připomínáme, že by se nám skutečně hodilo vědět Tvé rozhodnutí co nejdříve. Níže přikládáme kopii zvacího e-mailu.
</p>

