<p>
Protože jsi se stále nijak neozval{if $person->gender == 'F'}a{/if},
tak Ti připomínáme, že by se nám skutečně hodilo vědět Tvé rozhodnutí co nejdříve,
neboť již <strong>{$holder->getParameter('deadline')|date:'j.n. Y'}</strong> se přihlašování uzavírá.
</p>
