<!DOCTYPE html>
<html lang="{$lang}">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="{$robots}" n:ifset="$robots">
    <title>{$pageTitle->title} | FKSDB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    {control cssLoader
    '//stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' => [all],
    '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'=>[all],
    '//fonts.googleapis.com/css?family=Source+Sans+Pro'=>[all],
    '//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/smoothness/jquery-ui.css' => [all],
    'css/bundle.css'=>[all]
    }
</head>
<!-- Random background generator -->
<body data-bg="{rand(1,4)}" data-contest="{$pageStyleContainer->styleId}"
      data-style-id="{$pageStyleContainer->styleId}">
{block nav}
    <nav n:class="'fixed-top navbar navbar-expand-md ',$pageStyleContainer->navBarClassName"
            role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{$basePath}/"><i class="fa fa-home mr-2" aria-hidden="true"></i>{_'FKSDB'}
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <div class="navbar-nav mr-auto">
                {block nav-left}
                    {foreach $navRoots as $root}
                        {control navigation:navbar $root}
                    {/foreach}
                {/block}
            </div>
            <div class="navbar-nav ml-auto">
                {block nav-right}
                    {control languageChooser}
                    {*control themeChooser*}
                    {if $user->isLoggedIn()}
                        {var $login => $user->getIdentity()}
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                <span class="fa fa-user"></span>
                                {if $login->getPerson()}
                                    <b>{$login->getPerson()->getFullname()}</b>
                                {else}
                                {_'Uživatel'} <b>{$login->login}</b>
                                {/if}</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" n:href=":Core:Settings:">{_'Nastavení'}</a>
                                <a class="dropdown-item" n:href=":Core:MyPayments:default">{_'My payments'}</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" n:href=":Core:Authentication:logout">{_'Odhlásit'}</a>
                            </div>
                        </div>

                    {/if}
                {/block}
            </div>
        </div><!-- /.navbar-collapse -->
    </nav>
{/block}
{block main}
    <main class="{$pageStyleContainer->mainContainerClassName}">
        {block breadcrumbs}
            {control breadcrumbs}
        {/block}
        {block titleBody}
            <h1 class="page-header">{$pageTitle->toHtml()}</h1>
        {/block}
        {block flashes}
            {foreach $flashes as $flash}
                <div class="alert alert-{$flash->type}">{$flash->message}</div>
            {/foreach}
        {/block}
        {include #content}
    </main>
{/block}
{block footer}
    <footer>
        <div class="container text-center text-muted py-3">
        <span class="">
            <a href="http://fykos.cz/" title="{_'Fyzikální korespondenční seminář MFF UK'}">FYKOS</a>
            <span>| </span>
            <a href="http://vyfuk.mff.cuni.cz/"
               title="{_'Fyzikální korespondenční seminář MFF UK pro ZŠ a nižší ročníky gymnázií'}">Výfuk</a> |
            <span>{_'Správce systému'}: </span>
            <a href="m&#97;ilto:webmaster&#64;fykos.cz">webmaster&#64;fykos.cz</a>
        </span>
        </div>
    </footer>
{/block}
<div id="spinner"></div>
{block scripts}
    {*TODO store this library localy*}
    {control jsLoader
    'js/netteForms.js',
    '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js',
    '//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js',
    '//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js',
    '//stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js',
    'js/nette.ajax.js',
    'js/main.js',
    'js/lib/react.min.js',
    'js/lib/react-dom.min.js',
    'js/bundle.min.js'
    }
    {control jsLoader:inline}
{/block}
{control cssLoader}
</body>
</html>
