{block outerContent}
    <div class="panel color-auto">
        <div class="container">
            {control grid}
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Points variance'}</h2>
            {control pointsVarianceChart}
        </div>
    </div>
{/block}
