{block outerContent}
    <div class="panel panel-auto">
        <div class="container">
            <a class="btn btn-outline-primary" href="{plink list}">{_'List of submits'}</a>
        </div>
        <div class="container-fluid px-3">
            {control inboxForm}
        </div>
    </div>

{/block}
