{layout '../@layout.v4.latte'}
{block content}
    <p class="alert alert-warning">
        {_('Platba ešte nemá vygenerované údaje, prosím skontrolujte platbu a potom ....')}
    </p>
    {control confirmControl}
{/block}
