{define info}{/define}

{block outerContent}
    <div class="panel color-auto">
        <div class="container">
            {include info}
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            {control createForm}
        </div>
    </div>
{/block}