{block outerContent}
    <div class="panel panel-auto">
        <div class="container">
            <h2>{_'Find by code'}</h2>
            {control code}
        </div>
    </div>
    <div class="panel panel-auto">
        <div class="container">
            {control grid}
        </div>
    </div>
{/block}
