{block outerContent}
    <div class="panel color-auto">
        <div class="container">
            {include info from './create.fol.latte'}
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            {control editForm}
        </div>
    </div>
{/block}