{varType FKSDB\Models\ORM\Models\Fyziklani\TeamModel2 $model}
{default bool $isOrganizer = true}

{block titleBody}
    {include parent}
    {include titleButtons from '../AbstractApplication/blocks.latte' model:$model,isOrganizer:true}
{/block}

{block outerContent}
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Info'}</h2>
            {control columnTable [
            'fyziklani_team.note',
            'fyziklani_team.category',
            'fyziklani_team.created',
            ],$model,1024}
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Rank & points'}</h2>
            {control columnTable ['fyziklani_team.rank_category','fyziklani_team.rank_total','fyziklani_team.points'],$model,1024}
        </div>
    </div>
    {var $counter = 0;}
    {foreach $model->getMembers() as $member}
        <div class="panel color-auto">
            <div class="container">
                {varType FKSDB\Models\ORM\Models\Fyziklani\TeamMemberModel $member}
                {php $counter++}
                <h2>{FKSDB\Components\Applications\Team\Forms\TeamForm::formatMemberLabel($counter,$member)}</h2>
                <a class="btn btn-secondary btn-sm"
                   href="{plink :Organizer:Person:detail id=>$member->person_id,contestId=>$member->fyziklani_team->event->event_type->contest_id}"
                >{_'button.person.detail'}</a>
                {control columnTable ['person_history.study_year_new','school.school'],$member->getPersonHistory(),1024}
            </div>
        </div>
    {/foreach}
    {control tests $model}
{/block}
