<ul n:if="$allowedSeries" class="nav navbar-nav navbar-right">
    <li class="dropdown nav-item">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{_'Série'} {$currentSeries}</a>
        <ul class="dropdown-menu">
            {foreach $allowedSeries as $series}
                <li>
                    <a {if $series==$currentSeries} class="active dropdown-item"{else}  class="dropdown-item"{/if}
                            href="{plink this series => $series}">{_'Série'} {$series}</a>
                </li>
            {/foreach}
        </ul>
    </li>
</ul>


