{if $allowedSeries}
    <div class="dropdown nav-item">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{_'Série'} {$currentSeries}</a>
        <div class="dropdown-menu">
            {foreach $allowedSeries as $series}
                <div>
                    <a {if $series==$currentSeries} class="active dropdown-item"{else}  class="dropdown-item"{/if}
                            href="{plink this series => $series}">{_'Série'} {$series}</a>
                </div>
            {/foreach}
        </div>
    </div>
{/if}
