{block content}
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            {control paymentList}
        </div>
        <div class="col">
            {control contestantList}
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-primary">{_'Events & applications'}</h4>
                <a class="btn btn-outline-primary"
                   href="{plink :Profile:Default:applications}">{_'List of my applications for events'}</a>
            </div>
        </div>
    </div>
{/block}
