{varType string[] $ids}
{varType string $id}
{var $template = 'edit.' . $id . '.latte'}
{dump}
{block content}
    <div class="row">
        <div class="col-9">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-primary">{include card-title from $template}</h4>
                    {include card-body from $template}
                </div>
            </div>
        </div>
        <div class="col-3 list-group">
            {foreach $ids as $availableId}
                {if $availableId === $id}
                    <div class="list-group-item-action list-group-item active">
                        <h4>{include card-title from 'edit.' . $availableId . '.latte'}</h4>
                    </div>
                {else}
                    <a href="{plink this id=>$availableId}"
                       class="list-group-item-action list-group-item"
                       aria-current="true">
                        {include card-title from 'edit.' . $availableId . '.latte'}
                    </a>
                {/if}
            {/foreach}
        </div>
    </div>
{/block}
