{block card-title}
    <i class="fa fa-envelope me-2"></i>{_'Delivery address'}
{/block}
{block card-body}
    <p class="mb-2 text-muted">{_'When different from delivery address. Mails will be send to permanent address.'}</p>
    {control deliveryPostContactForm}
{/block}
