{block outerContent}
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Direct closing'}</h2>
            {control codeCloseForm}
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'List of teams'}</h2>
            {control grid}
        </div>
    </div>
{/block}
