{block outerContent}
    <div class="panel panel-auto">
        <div class="container">
            <h2>{_'Upload'}</h2>
            {control navigationChooser:board 'Public.Dashboard.default'}
        </div>
    </div>
    <div class="panel panel-auto">
        <div class="container">
            <h2>{_'Profile'}</h2>
            {control navigationChooser:board 'Profile.Dashboard.default'}
        </div>
    </div>
{/block}
