services:
    row.e_fyziklani_team.e_fyziklani_team_id: FKSDB\Components\DatabaseReflection\Fyziklani\FyziklaniTeam\FyziklaniTeamIdTeamRow
    row.e_fyziklani_team.name: FKSDB\Components\DatabaseReflection\Fyziklani\FyziklaniTeam\NameRow
    row.e_fyziklani_team.status: FKSDB\Components\DatabaseReflection\Fyziklani\FyziklaniTeam\StatusRow
    row.e_fyziklani_team.phone: FKSDB\Components\DatabaseReflection\Fyziklani\FyziklaniTeam\PhoneRow
    row.e_fyziklani_team.note: FKSDB\Components\DatabaseReflection\Fyziklani\FyziklaniTeam\NoteRow
    row.e_fyziklani_team.password: FKSDB\Components\DatabaseReflection\Fyziklani\FyziklaniTeam\PasswordRow
    row.e_fyziklani_team.category: FKSDB\Components\DatabaseReflection\Fyziklani\FyziklaniTeam\CategoryRow
    row.e_fyziklani_team.created: FKSDB\Components\DatabaseReflection\Fyziklani\FyziklaniTeam\CreatedRow
    row.e_fyziklani_team.game_lang: FKSDB\Components\DatabaseReflection\Fyziklani\FyziklaniTeam\GameLangRow
    row.e_fyziklani_team.force_a: FKSDB\Components\DatabaseReflection\Fyziklani\FyziklaniTeam\ForceARow

    row.e_fyziklani_team.rank_category: FKSDB\Components\DatabaseReflection\Fyziklani\FyziklaniTeam\RankInCategoryRow
    row.e_fyziklani_team.rank_total: FKSDB\Components\DatabaseReflection\Fyziklani\FyziklaniTeam\RankTotalRow
    row.e_fyziklani_team.points: FKSDB\Components\DatabaseReflection\Fyziklani\FyziklaniTeam\PointsRow
