services:
    row.event.event_year: FKSDB\Components\DatabaseReflection\Event\EventYearRow
    row.event.name: FKSDB\Components\DatabaseReflection\Event\NameRow
    row.event.begin: FKSDB\Components\DatabaseReflection\Event\BeginRow
    row.event.end: FKSDB\Components\DatabaseReflection\Event\EndRow
    row.event.registration_begin: FKSDB\Components\DatabaseReflection\Event\RegistrationBeginRow
    row.event.registration_end: FKSDB\Components\DatabaseReflection\Event\RegistrationEndRow
    row.event.report: FKSDB\Components\DatabaseReflection\Event\ReportRow
    row.event.parameters: FKSDB\Components\DatabaseReflection\Event\ParametersRow
    row.event.year: FKSDB\Components\DatabaseReflection\Event\YearRow
    row.event.event_type: FKSDB\Components\DatabaseReflection\Event\EventTypeRow
    row.event.event_type_id: FKSDB\Components\DatabaseReflection\Event\EventTypeRow
