services:
    row.fyziklani_game_setup.game_start: FKSDB\Components\DatabaseReflection\Fyziklani\FyziklaniGameSetup\GameStartRow
    row.fyziklani_game_setup.game_end: FKSDB\Components\DatabaseReflection\Fyziklani\FyziklaniGameSetup\GameEndRow
    row.fyziklani_game_setup.result_display: FKSDB\Components\DatabaseReflection\Fyziklani\FyziklaniGameSetup\ResultDisplayRow
    row.fyziklani_game_setup.result_hide: FKSDB\Components\DatabaseReflection\Fyziklani\FyziklaniGameSetup\ResultHideRow
    row.fyziklani_game_setup.refresh_delay: FKSDB\Components\DatabaseReflection\Fyziklani\FyziklaniGameSetup\RefreshDelayRow

    row.fyziklani_game_setup.result_hard_display: FKSDB\Components\DatabaseReflection\Fyziklani\FyziklaniGameSetup\ResultHardDisplayRow
    row.fyziklani_game_setup.tasks_on_board: FKSDB\Components\DatabaseReflection\Fyziklani\FyziklaniGameSetup\TasksOnBoardRow
    row.fyziklani_game_setup.available_points: FKSDB\Components\DatabaseReflection\Fyziklani\FyziklaniGameSetup\AvailablePointsRow
