services:
    row.org.org_id: FKSDB\Components\DatabaseReflection\Org\OrgIdRow
    row.org.since: FKSDB\Components\DatabaseReflection\Org\SinceRow
    row.org.until: FKSDB\Components\DatabaseReflection\Org\UntilRow
    row.org.order: FKSDB\Components\DatabaseReflection\Org\OrderRow
    row.org.tex_signature: FKSDB\Components\DatabaseReflection\Org\TexSignatureRow
    row.org.domain_alias: FKSDB\Components\DatabaseReflection\Org\DomainAliasRow
    row.org.contest_id: FKSDB\Components\DatabaseReflection\Org\ContestRow
