services:
    row.payment.price: FKSDB\Components\DatabaseReflection\Payment\PriceRow
    row.payment.state: FKSDB\Components\DatabaseReflection\Payment\StateRow
    row.payment.id: FKSDB\Components\DatabaseReflection\Payment\IdRow
