services:
    row.person_history.class: FKSDB\Components\DatabaseReflection\PersonHistory\ClassRow
    row.person_histroy.ac_year: FKSDB\Components\DatabaseReflection\PersonHistory\AcYearRow
    row.person_history.school_id: FKSDB\Components\DatabaseReflection\PersonHistory\SchoolIdRow
    row.person_history.study_year: FKSDB\Components\DatabaseReflection\PersonHistory\StudyYearRow
