services:
    row.person_info.academic_degree_prefix: FKSDB\Components\DatabaseReflection\PersonInfo\AcademicDegreePrefixRow
    row.person_info.academic_degree_suffix: FKSDB\Components\DatabaseReflection\PersonInfo\AcademicDegreeSuffixRow
    row.person_info.employer: FKSDB\Components\DatabaseReflection\PersonInfo\EmployerRow
    row.person_info.email: FKSDB\Components\DatabaseReflection\PersonInfo\EmailRow
    row.person_info.note: FKSDB\Components\DatabaseReflection\PersonInfo\NoteRow
    row.person_info.health_insurance: FKSDB\Components\DatabaseReflection\PersonInfo\HealthInsuranceRow
    row.person_info.linkedin_id: FKSDB\Components\DatabaseReflection\PersonInfo\LinkedinIdRow
    row.person_info.citizenship: FKSDB\Components\DatabaseReflection\PersonInfo\CitizenshipRow
    row.person_info.uk_login: FKSDB\Components\DatabaseReflection\PersonInfo\UkLoginRow
    row.person_info.account: FKSDB\Components\DatabaseReflection\PersonInfo\AccountRow
    row.person_info.homepage: FKSDB\Components\DatabaseReflection\PersonInfo\HomepageRow
    row.person_info.phone: FKSDB\Components\DatabaseReflection\PersonInfo\PhoneRow
    row.person_info.phone_parent_m: FKSDB\Components\DatabaseReflection\PersonInfo\PhoneParentMRow
    row.person_info.phone_parent_d: FKSDB\Components\DatabaseReflection\PersonInfo\PhoneParentDRow
    row.person_info.id_number: FKSDB\Components\DatabaseReflection\PersonInfo\IdNumberRow
    row.person_info.born: FKSDB\Components\DatabaseReflection\PersonInfo\BornRow
    row.person_info.born_id: FKSDB\Components\DatabaseReflection\PersonInfo\BornIdRow
    row.person_info.birthplace: FKSDB\Components\DatabaseReflection\PersonInfo\BirthplaceRow
    row.person_info.career: FKSDB\Components\DatabaseReflection\PersonInfo\CareerRow
    row.person_info.im: FKSDB\Components\DatabaseReflection\PersonInfo\ImRow
    row.person_info.agreed: FKSDB\Components\DatabaseReflection\PersonInfo\AgreedRow
    row.person_info.origin: FKSDB\Components\DatabaseReflection\PersonInfo\OriginRow


