{varType FKSDB\Models\Transitions\Holder\ParticipantHolder $holder}
{varType string[]|string[][] $linkArgs}
<p>
    Případné změny lze provádět až do {$holder->event->registration_end|date:'j. n. Y, H:i'} po <a n:href="//:Core:Authentication:login">přihlášení</a> v sekci <a n:href="//:Core:MyApplications:default">Moje přihlášky</a>
    nebo využitím soukromého odkazu níže:<br/>
    {var $link= $control->link(...$linkArgs)}
    <a href="{$link}">{$link}</a>.
</p>
