<p>
    Případné změny lze provádět po <a n:href="//:Authentication:login">přihlášení</a>
    nebo využitím soukromého odkazu níže:<br/>
    {var $link= $control->link(...$linkArgs)}
    <a href="{$link}">{$link}</a>
</p>
