{varType string[]|string[][] $linkArgs}
<p>
    Changes are possible until after
    <a n:href="//:Core:Authentication:login">sign in</a>
or by accessing via the private link below:<br/>
    {var $link = $control->link(...$linkArgs)}
    <a href="{$link}">{$link}</a>
</p>
