parameters:
    fyziklani14payment:
        symbolGenerator:
            variableSymbolStart: 7292000
            variableSymbolEnd: 7292999
            info:
                czk:
                    bank_account: 38330021/0100
                    bank_name: "Komerční banka, a.s."
                    recipient: "Univerzita Karlova"
                    iban: CZ91 0100 0000 0000 3833 0021
                eur:
                    bank_name: "Komerční banka, a.s."
                    recipient: "Charles University"
                    iban: CZ93 0100 0000 4373 0978 0297
                    swift: KOMBCZPPXXX

services:
    fyziklani14payment.symbolGenerator:
        factory: FKSDB\Models\Payment\SymbolGenerator\Generators\DefaultGenerator
        setup:
             - setUp(%fyziklani14payment.symbolGenerator.variableSymbolStart%, %fyziklani14payment.symbolGenerator.variableSymbolEnd%, %fyziklani14payment.symbolGenerator.info%)
transitions:
    fyziklani14payment:
        machine: FKSDB\Models\Transitions\Machine\PaymentMachine
        stateEnum: FKSDB\Models\ORM\Models\PaymentState
        decorator: FKSDB\Models\Transitions\TransitionsGenerator\PaymentTransitions()
        transitions:
            init->new:
                label: _('Create')
            new->waiting:
                label: _('Confirm payment')
                behaviorType: success
                beforeExecute:
                    - @fyziklani14payment.symbolGenerator
                    - @fyziklaniPayment.priceCalculator
                afterExecute:
                    - FKSDB\Models\Transitions\Callbacks\Payment\NewPaymentCallback()
            new|waiting->canceled:
                label: _('Cancel payment')
                behaviorType: danger
            waiting->received:
                behaviorType: success
                label: _('Paid')
                afterExecute:
                    - FKSDB\Models\Transitions\Callbacks\Payment\ReceivedPaymentCallback()
