parameters:
    fyziklani13payment:
        symbolGenerator:
            variableSymbolStart: 7292000
            variableSymbolEnd: 7292999
            info:
                czk:
                    bank_account: 38330021/0100
                    iban: CZ91 0100 0000 0000 3833 0021
                eur:
                    iban: CZ93 0100 0000 4373 0978 0297
                    swift: KOMBCZPPXXX


services:
    fyziklani13payment.symbolGenerator:
        factory: FKSDB\Models\Payment\SymbolGenerator\Generators\DefaultGenerator
        setup:
             - setUp(%fyziklani13payment.symbolGenerator.variableSymbolStart%, %fyziklani13payment.symbolGenerator.variableSymbolEnd%, %fyziklani13payment.symbolGenerator.info%)
    fyziklani13payment.machine:
        factory: FKSDB\Models\Transitions\Machine\PaymentMachine
        setup:
            - setEventId(137)
            - setScheduleGroupTypes([accommodation])

transitions:
    fyziklani13payment:
        machine: fyziklani13payment.machine
        stateEnum: FKSDB\Models\ORM\Models\PaymentState
        decorator: FKSDB\Models\Transitions\TransitionsGenerator\PaymentTransitions()
        transitions:
            init->in_progress:
                label: _('Create')
            in_progress->waiting:
                label: _('Confirm payment')
                behaviorType: success
                beforeExecute:
                    - @fyziklani13payment.symbolGenerator
                    - @fyziklaniPayment.priceCalculator
                afterExecute:
                    - FKSDB\Models\Transitions\Callbacks\Payment\NewPaymentCallback()
            in_progress|waiting->canceled:
                label: _('Cancel payment')
                behaviorType: danger
            waiting->received:
                behaviorType: success
                label: _('Paid')
                afterExecute:
                    - FKSDB\Models\Transitions\Callbacks\Payment\ReceivedPaymentCallback()
