parameters:
    fyziklani16payment:
            symbolGenerator:
                variableSymbolStart: 7292000
                variableSymbolEnd: 7292999
                info:
                    CZK:
                        bank_account: 38330021/0100
                        bank_name: "Komerční banka, a.s."
                        recipient: "Univerzita Karlova"
                        iban: CZ91 0100 0000 0000 3833 0021
                    EUR:
                        bank_name: "Komerční banka, a.s."
                        recipient: "Univerzita Karlova"
                        iban: CZ93 0100 0000 4373 0978 0297
                        swift: KOMBCZPPXXX
services:
    fyziklani16payment.symbolGenerator:
            factory: FKSDB\Models\Payment\SymbolGenerator\Generators\DefaultGenerator
            setup:
                 - setUp(%fyziklani16payment.symbolGenerator.variableSymbolStart%, %fyziklani16payment.symbolGenerator.variableSymbolEnd%, %fyziklani16payment.symbolGenerator.info%)

    fyziklani16payment.machine:
        factory: FKSDB\Models\Transitions\Machine\PaymentMachine
        setup:
            - setEventId(165)
            - setScheduleGroupTypes([accommodation])

transitions:
    fyziklani16payment:
        machine: fyziklani16payment.machine
        stateEnum: FKSDB\Models\ORM\Models\PaymentState
        decorator: FKSDB\Models\Transitions\TransitionsGenerator\PaymentTransitions()
        transitions:
            init->in_progress:
                label: _('Create')
            in_progress->waiting:
                label: _('Generate payment')
                behaviorType: success
                beforeExecute:
                    - @fyziklani16payment.symbolGenerator
                    - @fyziklaniPayment.priceCalculator
                afterExecute:
                    - FKSDB\Models\Transitions\Callbacks\Payment\NewPaymentCallback()
            in_progress|waiting->canceled:
                label: _('Cancel payment')
                behaviorType: danger
            waiting->received:
                behaviorType: success
                label: _('Paid')
                afterExecute:
                    - FKSDB\Models\Transitions\Callbacks\Payment\ReceivedPaymentCallback()
