parameters:
    fyziklani17payment:
            symbolGenerator:
                variableSymbolStart: 7292000
                variableSymbolEnd: 7292999
                info:
                    CZK:
                        bank_account: 38330021/0100
                        bank_name: "Komerční banka, a.s."
                        recipient: "Univerzita Karlova"
                        iban: CZ91 0100 0000 0000 3833 0021
                    EUR:
                        bank_name: "Komerční banka, a.s."
                        recipient: "Univerzita Karlova"
                        iban: CZ93 0100 0000 4373 0978 0297
                        swift: KOMBCZPPXXX
services:
    fyziklani17payment.symbolGenerator:
            factory: FKSDB\Models\Payment\SymbolGenerator\Generators\DefaultGenerator
            setup:
                 - setUp(%fyziklani17payment.symbolGenerator.variableSymbolStart%, %fyziklani17payment.symbolGenerator.variableSymbolEnd%, %fyziklani17payment.symbolGenerator.info%)

    fyziklani17payment.machine:
        factory: FKSDB\Models\Transitions\Machine\PaymentMachine
        setup:
            - setEventId(173)
            - setScheduleGroupTypes([accommodation])

transitions:
    fyziklani17payment:
        machine: fyziklani17payment.machine
        stateEnum: FKSDB\Models\ORM\Models\PaymentState
        decorator: FKSDB\Models\Payment\Transition\TransitionsGenerator\Fyziklani17Payment()
        transitions:
            init->new:
                label: _('Create')
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\DateBetween('2022-01-05', '2022-02-10')
            new->waiting:
                label: _('Generate payment')
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\DateBetween('2022-01-05', '2022-02-10')
                behaviorType: success
                beforeExecute:
                    - @fyziklani17payment.symbolGenerator
                    - @fyziklaniPayment.priceCalculator
                afterExecute:
                    - FKSDB\Models\Transitions\Callbacks\Payment\NewPaymentCallback()
            new|waiting->canceled:
                label: _('Cancel payment')
                behaviorType: danger
            waiting->received:
                behaviorType: success
                label: _('Paid')
                afterExecute:
                    - FKSDB\Models\Transitions\Callbacks\Payment\ReceivedPaymentCallback()
