{layout './@layout.latte'}
{block content}
    <ul class="list-group list-group-flush">
        {if $info}
            {control valuePrinterList__person_info__academic_degree_prefix $info,null,academic_degree_prefix}

            {control valuePrinterList__person_info__academic_degree_suffix $info,null,academic_degree_suffix}
        {/if}
    </ul>
{/block}
