{layout './@layout.latte'}
{block content}
    <ul class="list-group list-group-flush">
        {if $info}

            {control stringValue $info,_('Person Id'),person_id}

            {foreach $fields as $fieldName}
                {control valuePrinter__person_info__$fieldName $info,null,$fieldName}
            {/foreach}

            {control stringValue $info,_('Origin'),origin}

        {/if}
    </ul>
{/block}
