{layout './@layout.latte'}
{block content}
    <ul class="list-group list-group-flush">
        {if $info}

            {control valuePrinter__person_info__email $info,null,email}

            {control valuePrinter__person_info__phone $info,null,phone}

            {control valuePrinter__person_info__phone_parent_m $info,null,phone_parent_m}

            {control valuePrinter__person_info__phone_parent_d $info,null,phone_parent_d}

        {/if}
    </ul>
{/block}
