{layout './@layout.latte'}
{block content}
    <ul class="list-group list-group-flush">
        {if $info}

            {control valuePrinterStalking__person_info__email $info}

            {control valuePrinterStalking__person_info__phone $info}

            {control valuePrinterStalking__person_info__phone_parent_m $info}

            {control valuePrinterStalking__person_info__phone_parent_d $info}

        {/if}
    </ul>
{/block}
