{layout './@layout.latte'}
{block content}
    {if !is_null($login)}
        <ul class="list-group list-group-flush">
            {control stringValue $login,_('Login'),login}

            {control stringValue $login,_('Login Id'),login_id}

            {control isSetValue $login,_('Password'),hash}

            {control stringValue $login,_('Last logged'),last_login}
        </ul>
    {else}
        <div class="card-body">
            {control noRecords}
        </div>
    {/if}
{/block}
