{layout './@layout.latte'}
{block content}
    {if !is_null($login)}
        <ul class="list-group list-group-flush">
            {foreach ['login','login_id','hash','last_login'] as $field}
                {control valuePrinterList__login__$field $login}
            {/foreach}
        </ul>
    {else}
        <div class="card-body">
            {control noRecords}
        </div>
    {/if}
{/block}
