{layout './@layout.latte'}
{block content}
    {if count($roles)}
        <ul class="list-group list-group-flush">
            {foreach $roles as $grant}
                <li class="list-group-item">
                    <span class="col-3">{control contestBadge, $grant->getContestId()}</span>
                    <span class="col-3">{$grant->getRoleId()}</span>
                </li>
            {/foreach}
        </ul>
    {else}
        {control noRecords}
    {/if}
{/block}
