@import "../../../../../css/colors";

.fyziklani-presentation-results {
  color: black;

  .head-row {
    padding: 0 .5rem;
    color: var(--color-fof-main);
    font-weight: bold;
    border-bottom: solid var(--color-fof-main) 1px;
  }

  .team-row {
    border-bottom: solid #ccc 1px;

    &:nth-child(even) {
      background-color: #eee;
    }

    & > div {
      align-items: center;
      display: flex;
    }


    .team-name-col {
      text-align: justify;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .head-row, .team-row {
    text-align: center;
    padding: 0.3rem 0;
  }

  .progress {
    width: 100%;

    .progress-bar {
      &[data-points="5"] {
        background-color: var(--color-fof-points-5);
      }

      &[data-points="3"] {
        background-color: var(--color-fof-points-3);
      }

      &[data-points="2"] {
        background-color: var(--color-fof-points-2);
      }

      &[data-points="1"] {
        background-color: var(--color-fof-points-1);
      }
    }
  }
}
