{block outerContent}
    <div class="container mb-5">
        <div class="btn-group">
            <a href="{plink create}" class="btn btn-sm btn-outline-primary">{_'New application'}</a>
            <a n:href="mass" class="btn btn-outline-primary btn-sm">{_'Mass transitions'}</a>
            <a n:href="code" class="btn btn-outline-primary btn-sm">{_'Scan 2D code!'}</a>
        </div>
    </div>
    <div class="container">
        {control list}
    </div>
{/block}
