{varType bool $hasSchedule}
{varType FKSDB\Models\ORM\Models\EventModel $event}
{varType bool $rankVisible}
{varType FKSDB\Models\ORM\Models\Fyziklani\TeamModel2 $model}
{varType int $counter}
{varType bool $isOrganizer}

{define personSchedule}
    {varType FKSDB\Models\ORM\Models\PersonModel $person}
    {if $hasSchedule}
        <h3 class="mt-5 pull-left">{_'Schedule'}</h3>
        {control personScheduleGrid $person,$event}
    {/if}
{/define}

{block outerContent}
    <div class="panel color-auto">
        <div class="container">
            {control teamRestsControl $model}
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Info'}</h2>
            {var $fields = []}
    {switch $event->event_type_id}
                {case 1}
                {php $fields = [
                'fyziklani_team.fyziklani_team_id',
                'fyziklani_team.name',
                'fyziklani_team.state',
                'fyziklani_team.phone',
                'fyziklani_team.note',
                'fyziklani_team.password',
                'fyziklani_team.category',
                'fyziklani_team.created',
                'fyziklani_team.game_lang',
                'fyziklani_team.force_a',
                ]}
                {case 9}
                {php $fields = [
                'fyziklani_team.fyziklani_team_id',
                'fyziklani_team.name',
                'fyziklani_team.state',
                'fyziklani_team.category',
                'fyziklani_team.created',
                ]}
                {case 17}
                {php $fields = [
                'fyziklani_team.fyziklani_team_id',
                'fyziklani_team.name',
                'fyziklani_team.state',
                ]}
            {/switch}
            {control columnTable $fields,$model,1024}
        </div>
    </div>


    {if $rankVisible}
        <div class="panel color-auto">
            <div class="container">
                <h2>{_'Rank & points'}</h2>
                {control columnTable ['fyziklani_team.rank_category','fyziklani_team.rank_total','fyziklani_team.points'],$model,1024}
            </div>
        </div>
    {/if}
    {if $isOrganizer}
        <div class="panel color-auto">
            <div class="container">
                {control schoolCheck $model}
            </div>
        </div>
    {/if}
    {if $event->event_type_id === 1}
        {var $teacherCounter = 0;}
        {foreach $model->getTeachers() as $teacher}
            <div class="panel color-auto">
                <div class="container">
                    {php $teacherCounter++}
                    <h2>{_'Teacher'} #{$teacherCounter}</h2>
                    {varType FKSDB\Models\ORM\Models\Fyziklani\TeamTeacherModel $teacher}
                    {control columnTable ['person.person_link'], $teacher,1024}
                    {include personSchedule, person => $teacher->person,event=> $model->event}
                </div>
            </div>
        {/foreach}
    {/if}
    {var $counter = 0;}
    {foreach $model->getMembers() as $member}
        <div class="panel color-auto">
            <div class="container">
                {varType FKSDB\Models\ORM\Models\Fyziklani\TeamMemberModel $member}
                {php $counter++}
                <h2>{_'Parcipant'} #{$counter}</h2>
                {control columnTable ['person.person_link','person_history.study_year_new','school.school'],$member,1024}
                {control columnTable ['school.school'],$member->getPersonHistory(),1024}
                {include personSchedule, person => $member->person,event=>$model->event}
                {if $isOrganizer}
                    {control studySchoolTest $member->getPersonHistory()}
                {/if}
            </div>
        </div>
    {/foreach}

    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Actions'}</h2>
            <a href="{plink edit id => $model->getPrimary()}"
               class="btn btn-xs btn-sm btn-outline-primary">{_'Edit'}</a>
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Transitions'}</h2>
            {control applicationTransitions}
        </div>
    </div>
    {if $event->event_type_id === 1 && $isOrganizer}
        <div class="panel color-auto">
            <div class="container">
                <h2>{_'Seating'}</h2>
                {control seating:preview}
            </div>
        </div>
    {/if}
{/block}
