{block content}
    <div class="btn-group">
        <a href="{plink create}" class="btn btn-sm btn-outline-primary">{_'New application'}</a>
        <a n:href="transitions" class="btn btn-outline-primary btn-sm">{_'Mass transitions'}</a>
        <a n:href="transition" class="btn btn-outline-primary btn-sm">{_'Transitions by IDs'}</a>
    </div>
    {control grid}
{/block}
