{block outerContent}
    <div class="container mb-5">
        <div class="btn-group">
            <a href="{plink create}" class="btn btn-sm btn-outline-primary">{_'New application'}</a>
            <a n:href="transitions" class="btn btn-outline-primary btn-sm">{_'Mass transitions'}</a>
            <a n:href="transition" class="btn btn-outline-primary btn-sm">{_'Transitions by IDs'}</a>
        </div>
    </div>
    <div class="container">
        {control grid}
    </div>
{/block}
