{block content}
    <div class="btn-group">
        <a n:href=":Public:Application:default eventId => $event->getPrimary()"
                class="btn btn-sm btn-primary">{_'Nová přihláška'}</a>
        <a href="{plink import}" class="btn btn-sm btn-secondary">{_'Import přihlášek'}</a>
    </div>
    {control grid}
    <hr/>
    <h2>{_'Tímové prihlášky'}</h2>
    {control teamApplicationsTimeProgress}
    <h2>{_'Jednotlivé prihlášky'}</h2>
    {control singleApplicationsTimeProgress}
{/block}
