{block content}
    <div class="react-root" data-react-id="attendance.qr-code" data-data="" data-actions="{}"></div>
    <script src="https://dmla.github.io/jsqrcode/src/qr_packed.js"></script>
{/block}
