{block content}
    <div class="react-root" data-react-id="attendance.qr-code" data-data="" data-actions="{}"></div>
    {control jsLoader 'https://dmla.github.io/jsqrcode/src/qr_packed.js'}
{/block}
