* {
    margin:      0 0 0 0;
    padding:     0 0 0 0;
	border:      none;
	text-align:  left;
	word-wrap:   break-word;
	resize:      none;
	font-family: serif;
}

body {
    margin: 6em 0 0 6em;
}



/*
 * Main
*/

div#main {
    display:   block;
    width:     55em;
    position:  absolute;
}



/*
 * Menu
*/

div#menu {
     display:       block;
     float:         left;
     border-right:  4px double #BFC1F8;
     padding-right: 0.7%;
     margin-right:  1.5%;
     width:         14%;
}

div#menu div#list_of_actions, div#menu div#actions_with_actions {
     border-right: 1px solid #BFC1F8 ;
}

div#menu  h2.menu-header {
    display:       block;
    color:         #6A6EF8;
    border-bottom: 1px solid #BFC1F8;
    padding-top:   0.2em;
    padding-left:  0.3em;
    font-size:     1em;
    font-family:   Verdana, sans-serif;
}

div#menu ul {
    display:        block;
    margin-top:     0.5em;
    margin-bottom:  2em;
    margin-left:    1.5em;
    margin-right:   0em;
    padding-bottom: 0.5em;
	font-size:      0.85em;    
}

div#menu ul > li {
    list-style-type: none;
}

div#menu ul > li > a {
    display:   block;
    font-size: 1em;
}

div#menu ul > li > a:hover {
    text-decoration: none;
    color: black;
}

div#menu ul > li > a:link {
    text-decoration: none;
    color: black;
}

div#menu ul > li > a:visited {
    text-decoration: none;
    color: black;
}

div#menu div#list_of_actions ul > li > a {
    display:        block;
    margin-top:     0.1em;
    padding-top:    0.1em;
    padding-bottom: 0.1em;
    padding-left:   5%;
    width:          95%;
}

div#menu div#list_of_actions ul > li > a:hover,
div#menu div#list_of_actions ul > li > a.active {
    //background-image: linear-gradient(to left, #ffffff, #BFC1F8);
    background-color: #BFC1F8;
}

div#menu div#actions_with_actions {
}



/*
 * Content
*/

div#content {
    display:   block;
    float:     left;
	padding:   1%;
    width:     81.3%;
	font-size: 0.8em;
    background-color: #E0E1F9;
}

div#content .registred_user {
	background-color: #C2FFB9;
	padding:          0.1em;
}

div#content > h1 {
    text-align: center;
	margin-bottom: 0.5em;
}

div#content form  table {
	margin-left: 1.5em;
}


