.chart-game-team-timeline {
  g {
    &.active {
      opacity: 1
    }

    &.inactive {
      opacity: 0.1
    }
  }

  text {
    font-size: 10px;
    text-anchor: middle;
  }

  polyline {
    stroke: var(--polyline-color);
    stroke-linecap: round;
    stroke-width: 2;
  }
}
