{varType FKSDB\Models\UI\PageStyleContainer $pageStyleContainer}
{block main}
    <main class="{$pageStyleContainer->getMainContainerClassName()}">
        {control presentation}
    </main>
{/block}
{block nav}{/block}
{block footer}{/block}
