{block content}
    <a href="{link recalculate!}" class="btn btn-outline-secondary btn-sm">{_'Recalculate categories'}</a>
    <a href="{plink create}" class="btn btn-outline-primary">{_'Create'}</a>
    <hr/>
    {control grid}
{/block}
