{block outerContent}
    <div class="container">
        <a href="{link recalculate!}" class="btn btn-outline-secondary">{_'Recalculate categories'}</a>
        <a href="{plink create}" class="btn btn-outline-primary">{_'Create'}</a>
    </div>
    <div class="container">
        {control grid}
    </div>
{/block}
