{layout '../../app/Components/Controls/Events/layout.application.form.latte'}
{varType FKSDB\Models\Transitions\Holder\ParticipantHolder $holder}
{block content}

<p n:if="!$control->getPresenter()->getUser()->isLoggedIn()">
    {var $backlink = $control->getPresenter()->storeRequest()}
    Pokud máš vlastní účet, tak se před prosím vyplněním formuláře <a
            href="{plink Core:Authentication:login backlink => $backlink}">přihlas</a>.
    Ušetříš si tím práci při vyplňování formuláře.
</p>
<p>
    Registrace končí <strong>{$holder->getModel()->event->registration_end|date:'j. n. Y H:i:s'}</strong>.
</p>

{control form}
