{layout '../../app/Components/Controls/Events/layout.application.form.latte'}
{varType FKSDB\Models\Events\Model\Holder\BaseHolder $holder}
{block content}
<ul>
    <li>
        Podrobné informace jsou k nalezení na stránce <a href="https://dsef.cz/">Dne s experimentální fyzikou</a>.
    </li>
    <li n:if="!$control->getPresenter()->getUser()->isLoggedIn()">
        {var $backlink = $control->getPresenter()->storeRequest()}
        Pokud máš vlastní účet, tak se před prosím vyplněním formuláře <a
                href="{plink Core:Authentication:login backlink => $backlink}">přihlas</a>.
        Ušetříš si tím práci při vyplňování formuláře.
    </li>
    <li>
        Registrace končí <strong>{$holder->event->registration_end|date:'j. n. Y H:i:s'}</strong>.
    </li>
</ul>

{control form}
