{layout '../../app/Components/Grids/Events/ApplicationsGrid.@layout.latte'}

{block header}
<thead>
    <tr>
        <th>{_'Název týmu'}</th>
        <th>{_'Stav'}</th>
        <th>{_'Operace'}</th>
    </tr>
</thead>
{/block}

{block row}
<tr>
    <td>{$holder->getModel()->name}</td>
    <td>{control 'application_'.$key:inline state}</td>
    <td>{control 'application_'.$key:inline transitions}</td>
</tr>
{/block}