{layout '../../app/Components/Controls/Events/ApplicationComponent.form.latte'}

{block content}
{if !$control->isEventAdmin()}
<ul>
    <li n:if="$event->registration_end">
        Registrace končí <strong>{$event->registration_end|date:'j. n. Y H:i:s'}</strong>.
    </li>
</ul>

{/if}


{control form}
