{layout '../../app/Components/Controls/Events/layout.application.form.latte'}
{varType FKSDB\Models\Events\Model\Holder\BaseHolder $holder}
{block content}
<ul>
    <li>
        Potvrzením přihlášky se přihlašuješ <strong>na celé soustředění</strong>.
    </li>
    <li n:if="$holder->getParameter('deadline')">
        Uzávěrka pro vyjádření <strong>{$holder->getParameter('deadline')|date:'j. n. Y H:i:s'}</strong>.
    </li>
</ul>

{control form}
