{layout '../../app/Components/Controls/Events/layout.application.form.latte'}
{varType FKSDB\Models\Transitions\Holder\ParticipantHolder $holder}
{varType FKSDB\Components\Controls\Events\ApplicationComponent $control}
{block content}
<ul>
    <li>
        Podrobné informace jsou k nalezení na stránce <a href="https://tsaf.cz/">Týdne s experimentální fyzikou</a>.
    </li>
    <li n:if="!$control->getPresenter()->getUser()->isLoggedIn()">
        {var $backlink = $control->getPresenter()->storeRequest()}
        Pokud máš vlastní účet, tak se před prosím vyplněním formuláře <a
                href="{plink Core:Authentication:login backlink => $backlink}">přihlas</a>.
        Ušetříš si tím práci při vyplňování formuláře.
    </li>
    <li>
        Registrace končí <strong>{$holder->getModel()->event->registration_end|date:'j. n. Y H:i:s'}</strong>.
    </li>
</ul>

{control form}
