{var $state = $primaryMachine->getMachine()->getHolder()->getPrimaryHolder()->getModelState()}

{if $mode == 'state'}
   {if $state == Events\Machine\BaseMachine::STATE_INIT || $state == Events\Machine\BaseMachine::STATE_TERMINATED}
<em>&mdash;</em>
    {else}
    {$primaryMachine->getStateName($state)}
    {/if}
{elseif  $mode == 'transitions'}
    {if}
    {foreach $primaryMachine->getAvailableTransitions($state,Events\Machine\BaseMachine::EXECUTABLE | Events\Machine\BaseMachine::VISIBLE) as $transition}
{if $transition->isCreating()}
<a href="{plink :Public:Application:default eventId => $holder->getPrimaryHolder()->getEvent()->event_id}" class="btn btn-xs btn-success">{$transition->getLabel()}</a>
{elseif $transition->isDangerous()}
<a n:href="transition! $transition->getName()" class="btn btn-xs btn-sm btn-danger">{$transition->getLabel()}</a>
{else}
<a n:href="transition! $transition->getName()" class="btn btn-xs btn-sm btn-secondary">{$transition->getLabel()}</a>
{/if}
    {/foreach}
    {else}
<em>{_'žádné'}</em>
    {/if $iterations}
{elseif $mode == 'edit'}
<a n:if="$canEdit" href="{plink :Public:Application:default id => $primaryModel->getPrimary(), eventId => $holder->getPrimaryHolder()->getEvent()->event_id}" class="btn btn-xs btn-sm btn-primary">{_'Upravit'}</a>
{/if}
