{foreach $transitions as $transition}
    {continueIf $transition->isCreating()}
    {continueIf $transition->isTerminating()}
    <h3>{_($transition->getLabel())}</h3>
    <p>
        <small class="text-muted">{$transition->getMask()}</small>
    </p>
    <p> {*TODO *}
        {*var $className = $transition->isDangerous()?'btn btn-danger':'btn btn-secondary'*}
        <a class="btn btn-secondary" href="{link transition! $transition->getName()}">{_'Evalute'}</a>
    </p>
    <hr/>
{/foreach}
