parameters:
    domain:
        cz: fykos.local
        org: fykos.localen

    email:
        # On debug environment do no send any real e-mails.
        disabled: true

    astrid:
        host: astrid.fykos.cz
        user: _
        password: _
    googleOAuth2:
        clientId: _
        clientSecret: _
    #send blank emails by spamMailer
    spamMailer:
        enabled: true
        defaultLimit: 100

session:
    cookie_secure: true
database:
    default:
        dsn: 'mysql:host=127.0.0.1;dbname=fksdb'
        user: fksdb
        password: fksdb
    ro:
        dsn: 'mysql:host=127.0.0.1;dbname=fksdb'
        user: fksdb
        password: fksdb

# DO NOT UNCOMMENT ON PRODUCTION ENVIRONMENT -- SECURITY RISK!
#fksrouter:
#    disableSecured: true
