@mixin navigation-item($color,$background,$apply-hover : true) {
  height: 12rem;
  width: 12rem;
  text-align: center;
  color: $color;
  background-color: $background;
  transition-duration: 200ms;
  .icon {
    font-size: 5rem;
  }
  @if $apply-hover {
    &:hover, &:focus {
      transition-duration: 200ms;
      background-color: $color;
      color: $background;
    }
  } @else {
    &:hover, &:focus {
      background-color: $background;
      color: $color;
      transition-duration: 200ms;
      border-color: $color;
      border-width: 1px;
    }
  }

  @media (max-width: 767px) {
    text-align: start;
    height: initial;
    width: 100%;
    .icon, & {
      font-size: 1.2rem;
    }
  }
}
