{var $robots = noindex}

{block content}

<p>{_'K zobrazení stránky nemáte dostatečné oprávnění. Možná řešení:'}</p>
<ul>
    <li><a n:href=":Public:Register:">{_'Zaregistrovat se jako řešitel'}</a> ({_'je třeba doplnit školní a korespondenční údaje, případně se přihlásit do nového ročníku'}),</li>
    <li>{_'stát se organizátorem'},</li>
    <li>{_'požádat o přidělení role'}.</li>
</ul>

<p><small>{_'chyba'} 403</small></p>
