{layout '../@layout.v4.latte'}
{var $robots = noindex}

{block content}
<div class="row text-center mb-3">
    <div class="image-error">
        <img src="/images/404.svg" alt="404"/>
    </div>
</div>
<h2>{_('Ups! Mrzí nás to, ale požadovaná stránka neexistuje.')}<span class="badge badge-warning">#404</span></h2>
{*<!--<a class="btn btn-outline-secondary btn-lg btn-block mb-3" href="link Chooser:default">_'Pokračuj na rázcestník aktivít'</a>-->*}
