transitions:
    fol:
        machine: FKSDB\Models\Transitions\Machine\TeamMachine
        stateEnum: FKSDB\Models\ORM\Models\Fyziklani\TeamState
        decorator: null
        transitions:
            init->pending:
                label: _('Register team')
                afterExecute:
                    - FKSDB\Models\Transitions\Callbacks\Fol\TeamMemberMailCallback()
            pending->approved:
                behaviorType: success
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\ImplicitEventRole('organizer')
                label: _('Schválit účast')
            pending->spare:
                behaviorType: warning
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\ImplicitEventRole('organizer')
                label: _('Potvrdit jako náhradníka')
            approved|spare->participated:
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\Falsable()
                label: _('Prezentovat')
            approved|spare->missed:
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\Falsable()
                label: _('Nepřijel')
            pending|spare|approved->cancelled:
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\ImplicitEventRole('organizer')
                label: _('Zrušit tým')
                behaviorType: danger
    fof:
        machine: FKSDB\Models\Transitions\Machine\TeamMachine
        stateEnum: FKSDB\Models\ORM\Models\Fyziklani\TeamState
        decorator: null
        transitions:
            init->pending:
                label: _('Register team')
                afterExecute:
                    - FKSDB\Models\Transitions\Callbacks\Fof\TeamMemberMailCallback()
                    - FKSDB\Models\Transitions\Callbacks\Fof\TeamTeacherMailCallback()
            pending->approved:
                behaviorType: success
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\ImplicitEventRole('organizer')
                label: _('Schválit účast')
            pending->spare:
                behaviorType: warning
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\ImplicitEventRole('organizer')
                label: _('Potvrdit jako náhradníka')
            approved|spare->participated:
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\ImplicitEventRole('organizer')
                label: _('Prezentovat')
            approved|spare->missed:
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\ImplicitEventRole('organizer')
                label: _('Nepřijel')
            pending|spare|approved->cancelled:
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\ImplicitEventRole('organizer')
                label: _('Zrušit tým')
                behaviorType: danger
