
services:
    fyziklani.default.machine:
        factory: FKSDB\Models\Transitions\Machine\FyziklaniTeamMachine

transitions:
    fyziklani.default:
        machine: fyziklani.default.machine
        stateEnum: FKSDB\Models\ORM\Models\Fyziklani\TeamState
        #transitionsDecorator: FKSDB\Models\Payment\Transition\TransitionsGenerator\Fyziklani13Payment()
        transitions:
            init->pending:
                #condition: %events.fyziklani16.appCond%
                #condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\Falsable()
                label: _('Register team')
                afterExecute:
                    - FKSDB\Models\Transitions\Callbacks\TeamMemberMailCallback('fyziklani/fyziklani2019/payment/create',['blind_carbon_copy': 'Fyziklání <fyziklani@fykos.cz>','sender' : 'fyziklani@fykos.cz','subject' : 'Payment was created',]) #TODO
                    - FKSDB\Models\Transitions\Callbacks\TeamTeacherMailCallback('fyziklani/fyziklani2019/payment/create',['blind_carbon_copy': 'Fyziklání <fyziklani@fykos.cz>','sender' : 'fyziklani@fykos.cz','subject' : 'Payment was created',]) #TODO
            pending->approved:
                behaviorType: success
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\Falsable()
                #condition: role('admin')
                label: _('Schválit účast')
            pending->spare:
                behaviorType: warning
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\Falsable()
                    #condition: role('admin')
                label: _('Potvrdit jako náhradníka')
                #onExecuted:
                #    - FKSDB\Models\Events\Transitions\MailSender(fyziklani/fyziklani2022/spare,.secondary)
            approved|spare->participated:
                behaviorType: success
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\Falsable()
                    #condition: and(role('admin'),eventWas())
                label: _('Prezentovat')
            approved|spare->missed:
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\Falsable()
                    #condition: and(role('admin'),eventWas())
                label: _('Nepřijel')
                behaviorType: danger
            pending|spare|approved->cancelled:
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\Falsable()
                    #condition: role('admin')
                label: _('Zrušit tým')
                behaviorType: danger
            cancelled->__terminated:
                condition: FKSDB\Models\Transitions\Transition\Statements\Conditions\Falsable()
                    #condition: role('admin')
                label: _('Smazat tým')
