{layout '../layout.latte'}
{block body}
    <div>
        <p>
            Dear sir or madam,<br/>
            we have successfully received your payment {$model->getPaymentId()} for Fyziklani 2019 of
            <b>{$model->getPrice()->__toString()}</b>.
        </p>

        <p>
            The payment included the following:
        </p>

        {include './items.latte'}

        {include './signature.en.latte'}
    </div>
{/block}
