{layout './@layout.latte'}
{block content}
    <div class="row">
        <div class="col-9">
            {include inner-content}
        </div>
        <div class="col-3 list-group">
            {control navigationChooser:asideList 'Profile.Detail.default'}
        </div>
    </div>
{/block}
