{block outerContent}
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Change email'}</h2>
            {control changeEmailForm}
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Emails preferences'}</h2>
            {control emailPreferenceForm}
        </div>
    </div>
{/block}
