{block outerContent}
    <div class="container">
        <p class="alert alert-info">
            <i class="fas fa-info-circle me-1"></i>
            {_'Username for logging in to FKSDB and other systems'}
        </p>
        {control loginForm}
    </div>
{/block}
