{block content}
    <p class="alert alert-info">
        <i class="fas fa-info-circle me-1"></i>
        {_'Uživateľske meno na prihlásenie do FKSDB a systémov využívajúci spoločný login'}
    </p>
    {control loginForm}
{/block}
