{block outerContent}
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Permanent address'}</h2>
            {control permanentPostContactForm}
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Delivery addesss'}</h2>
            {control deliveryPostContactForm}
        </div>
    </div>
{/block}
