{layout './pages.latte'}
{block head}
    {include parent}
    <style>
        @media all {
            .page {
                width: 148mm;
                height: 210mm;
            }

            @page {
                size: A5 portrait;
            }
        }
    </style>
{/block}

