<div class="to-print">
    {foreach $items as $item}
        <div class="page page-{$format}" style="position: relative">
            {control page $item, $params}
        </div>
    {/foreach}
</div>
