{layout './pages.latte'}
{block head}
    {include parent}
    <style>
        @media all {
            .page {
                width: 176mm;
                height: 250mm;
            }

            @page {
                size: B5 portrait;
            }
        }
    </style>
{/block}
