{layout './pages.latte'}
{block head}
    {include parent}
    <style>
        @media all {
            .page {
                width: 148mm;

            }

            @page {
                size: A5 portrait;
                margin: 0;
            }
        }
    </style>
{/block}

