{layout './provider.latte'}
{block head}
    {include parent}
    <style media="print">
        .page {
            page-break-before: always;
            page-break-after: always;
            width: 176mm;
            /*height: 250  mm*/
            padding: 10mm;
            margin: 0 auto;
            background: white;
        }

        @page {
            size: B5 landscape;
            margin: 0;
        }
    </style>
{/block}
