{layout './SubmitTable.latte'}
{block submit-row}
    <td>
        {if !$submit}
            <span>-</span>
        {elseif is_null($submit->raw_points)}
            <span class="text-muted">NA</span>
        {elseif $submit->raw_points>$submit->getTask()->points}
            <b class="text-danger">{$submit->calc_points}</b>
        {else}
            <span>{$submit->calc_points}</span>
        {/if}
    </td>
{/block}
