.chart-legend.chart-legend-fyziklani {
  .chart-legend-item .icon.icon-circle {
    &[data-points="5"] {
      background-color: var(--color-fof-points-5);
    }

    &[data-points="3"] {
      background-color: var(--color-fof-points-3);
    }

    &[data-points="2"] {
      background-color: var(--color-fof-points-2);
    }

    &[data-points="1"] {
      background-color: var(--color-fof-points-1);
    }
  }
}
