{block outerContent}
    <div class="panel color-auto">
        <div class="container">
            {control correctedForm}
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            {control correctedTable}
        </div>
    </div>
{/block}
