{block outerContent}
    <div class="panel color-auto">
        <div class="container">
            {control checkControl}
        </div>
        <div class="container-fluid">
            {control submitsTableControl}
        </div>
    </div>
{/block}
