{varType FKSDB\Models\ORM\Models\Fyziklani\TeamModel2[] $teams}
{default string|null $dev = false}
{varType string $lang}
{embed
    './Rooms/pva24.latte'
    lang:$lang}
    {block seats}
        {foreach FKSDB\Components\Game\Seating\Place2024::getAll() as $place}
            {$place->html($teams[$place->label()]??null,$dev)}
        {/foreach}
    {/block}
{/embed}
