{block outerContent}
<div class="panel color-auto">
    <div class="container">
        <p class="alert alert-danger">
            <i class="fa-solid fa-skull-crossbones h1"></i>
        </p>
    </div>
</div>
<div class="panel color-auto">
    <div class="container">
        {control editForm}
    </div>
</div>
{/block}
