{block outerContent}
    <div class="panel color-auto">
        <div class="container">
            <a class="btn btn-outline-primary"
               href="{plink :EventSchedule:Person:create}">{_'Create person schedule'}</a>
        </div>
    </div>
    {control grid}
{/block}
