{varType FKSDB\Models\ORM\Models\PersonModel $person}
<div class="card">
    <div class="card-body">
        <h4 class="{($person->gender->value == 'F'?'text-pink':'text-primary') . ' card-title'}">{include card-title}</h4>
        {include card-body}
    </div>
</div>
