{layout '@layout.latte'}
{varType FKSDB\Models\ORM\Models\PersonModel $person}
{block card-title}{_'Payments'}{/block}
{block card-body}
    {var FKSDB\Models\ORM\Models\PaymentModel[] $payments = $person->getPayments()}
    {if count($payments)}
        {foreach $payments as $payment}
            <div n:class="'alert alert-' . $payment->state->getBehaviorType()">
                <div class="row">
                    <div class="col">
                        <div><strong>{control valuePrinter:templateString '@payment.payment_id', $payment,$userPermission}</strong></div>
                        <div>{control valuePrinter:templateString '@event.name', $payment,$userPermission}</div>
                    </div>
                    <div class="col">
                        <div>{control valuePrinter:templateString '@payment.price', $payment,$userPermission}</div>
                    </div>
                    <div class="col">
                        <a href="{plink ':Event:Payment:detail' eventId=>$payment->event_id, id=>$payment->payment_id}"
                           class="btn btn-sm btn-outline-secondary float-end">{_'Detail'}</a>
                    </div>
                </div>
            </div>
        {/foreach}
    {else}
        {FKSDB\Components\Badges\NoRecordsBadge::getHtml()}
    {/if}
{/block}
