{block outerContent}
    <div class="panel color-auto">
        <div class="container">
            <a class="btn btn-outline-secondary" href="{plink default}">{_'Go to the old submit system'}</a>
            <a class="btn btn-outline-info" href="{plink list}">{_'Submitted solutions'}</a>
        </div>
        <div class="container">
            {control submitContainer}
        </div>
    </div>
{/block}
