{block content}
    <a class="btn btn-outline-secondary" href="{plink default }">{_'Go to the old submit system'}</a>
    <a class="btn btn-outline-info" href="{plink list}">{_'Submitted solutions'}</a>
    <hr/>
    {control submitContainer}
{/block}
