{block content}
    <a class="btn btn-success" href="{plink ajax}">{_'New submit system'}</a>
    <a class="btn btn-info" href="{plink list}">{_'Submitted solutions'}</a>
    <hr/>
    {if $hasTasks}
        {control uploadForm}
    {else}
        <p class="alert alert-info">
            {_'No tasks available to submit.'}
        </p>
        {if $canRegister}
            <p>
                <a class="btn btn-primary" n:href=":Public:Register:contestant, year => $presenter->year + 1,contestId=>$presenter->contestId">{_'Register for the next year'}</a>
            </p>
        {elseif $hasForward}
            <p>
                <a class="btn btn-primary" n:href="this, year => $presenter->year + 1">{_'Next year'}</a>
            </p>
        {/if}
    {/if}
{/block}
