{varType bool $hasTasks}
{block titleBody}
    {include parent}
    <a class="btn btn-outline-secondary" href="{plink legacy}">{_'Go to the legacy submit system'}</a>
{/block}
{block outerContent}
    <div class="panel color-auto">
        <div class="container">
            {if $hasTasks}
                {control submitContainer}
            {else}
                <p class="alert alert-info">
                    {_'No tasks available to submit.'}
                </p>
            {/if}
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Submitted solutions'}</h2>
            {control submitsGrid}
        </div>
    </div>
{/block}
