{layout '../../../templates/@layout.latte'}
{block user-info}
    <li class="nav-item">
        <a href="{plink this darkMode=>!$darkMode}" class="nav-link">
            <b>{$darkMode?_('Light mode'):_('Dark mode')}</b>
        </a>
    </li>
    {include #parent}
{/block}
