{block content}
    {dump $charts}
    <ul>
        {foreach $charts as $chart}
            <li><a href="{plink $chart->getAction()}">{$chart->getTitle()}</a></li>
        {/foreach}
    </ul>
{/block}
