{block content}
<div class="row text-center mb-3">
    <div class="image-error">
        <img src="/images/410.svg" alt="410"/>
    </div>
</div>

<h2>{_'Gone!'}<span class="badge badge-warning">#410</span></h2>
<span>{_'This page is no longer available and will not be available again.'}</span>
