{varType FKSDB\Models\Transitions\Holder\FyziklaniTeamHolder $holder}
{var FKSDB\Models\ORM\Models\Fyziklani\TeamModel2 $team = $holder->getModel()}
<p>Ahoj,<br>
    byl(a) jsi úspěšně zaregistrován(a) na Fyziklání Online, jsi členem týmu <em>{$team->name}</em>.
</p>
{* TODO: přidat link na detail přihlášky místo úpravy *}
{include '../inc/eventEdit.cs.latte' event => $team->event, token => $token}
{include '../inc/closing.cs.latte'}
