{varType FKSDB\Models\Transitions\Holder\FyziklaniTeamHolder $holder}
{var FKSDB\Models\ORM\Models\Fyziklani\TeamModel2 $team = $holder->getModel()}
<p>
    Hello,<br>
    You have been successfully registered for Physics Brawl Online. You are now a member of the team <em>{$team->name}</em>.
</p>
{include 'inc/eventEdit.en.latte' event => $team->event, token => $token}
{include 'inc/closing.en.latte'}
