{block title}Vytvoření exportu{/block}

{block content}

{control composeForm}

{if $control->getStoredQuery()}
{control adhocResultsComponent}
{/if}

{/block}

{block scripts}
{include #parent}
<script src="{$baseUrl}/js/codemirror.min.js"></script>
<script src="{$baseUrl}/js/sqlconsole.js"></script>
{/block}



{block head}
{include #parent}
<link rel="stylesheet" media="screen,projection,tv" href="{$baseUrl}/css/codemirror.css" />
{/block}