{block title}Úprava exportu{/block}

{block user-info}
{include #parent}
{control seriesChooser}
{/block}

{block content}
{control editForm}

{if $control->getStoredQuery()}
    <h2>{_'Výsledek dotazu'}</h2>
    {control adhocResultsComponent}
{/if}

{/block}
