{layout ../@layout.v4.latte}
{block title}{$storedQuery->name}{if $storedQuery->qid} ({$storedQuery->qid}){/if}{/block}

{block user-info}
    {include #parent}
    {control seriesChooser}
{/block}

{block content}
    {control tagCloudDetail}
    {control resultsComponent}

{/block}
