{varType array $logs}
{varType FKSDB\Components\DataTest\Test[] $tests}
<div class="panel color-auto">
    <div class="container">
        {control form}
    </div>
</div>

{foreach $logs as $log}
    {varType FKSDB\Models\ORM\Models\PersonModel[]|Fykosak\Utils\Logging\Message[][][] $log}
    <div class="panel color-auto">
        <div class="container">
            <h2>
                <a href="{plink :Organizer:Person:detail id=>$log['model']->person_id}">{$log['model']->getFullName()}</a>
                <span class="badge bg-secondary">#{$log['model']->person_id}</span>
            </h2>
            {foreach $log['logs'] as $key => $testLogs}
                {include test-results from './single.latte' logs:$testLogs,test:$tests[$key]}
            {/foreach}
        </div>
    </div>
{/foreach}
