@import "../../../../../css/colors";

.chart-container.person-detail-timeline svg.chart {
  circle {
    stroke: black;
    stroke-width: 1;

    &[data-contest-id="2"] {
      fill: var(--color-vyfuk);
    }

    &[data-contest-id="1"] {
      fill: var(--color-fykos);
    }

    &[data-event-type-id="1"] {
      fill: var(--color-fof);
    }

    &[data-event-type-id="9"] {
      fill: var(--color-fol);
    }
  }

  rect {
    stroke: white;
    stroke-width: 1;
  }

  g[data-contest-id="1"] rect {
    fill: var(--color-fykos);
  }

  g[data-contest-id="2"] rect {
    fill: var(--color-vyfuk);
  }

  text {
    text-anchor: middle;
    alignment-baseline: middle;
    fill: white;
  }
}
