{layout '../@layout.v4.latte'}
{block content}
    <div class="btn-group">
        <a n:href=":Public:Application:default eventId => $event->getPrimary()"
                class="btn btn-sm btn-primary">{_'Nová přihláška'}</a>
        <a href="#import" class="btn btn-sm btn-secondary">{_'Import přihlášek'}</a>
    </div>
    {control applicationsGrid}

    <h2 id="import">Import přihlášek</h2>
    {control applicationsImport}
{/block}
