{layout '../layout.form.latte'}
{define #submit-row}
    <td>
        {if $submit }
            {var $name = 'submits['.$submit->submit_id.']'}
            {if ($submit->source === FKSDB\ORM\Models\ModelSubmit::SOURCE_QUIZ)}
                <span class="form-control">{$submit->raw_points}<span/>
            {else}
                <input type="number" class="form-control" min="0" step="1" name="{$name}" value="{$submit->raw_points}"/>
            {/if}
        {/if}
    </td>
{/define}
