{layout '../@layout.latte'}
{varType FKSDB\Models\DataTesting\TestLog[] $logs}
{block card-title}{_'Validation'}{/block}
{block card-body}
    {foreach $logs as $log}
        <div class="alert alert-{$log->level}">
                <span class="row">
                        <b class="col-5">{$log->testName}:</b>
                    <span class="col-7">{$log->text}</span>
                </span>
        </div>
    {/foreach}
{/block}
