<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html>
	<head>
		{control css "/css/homepage.css"}
	</head>
	<body>
		<div id="main">
			<div id="menu">
				{control listOfActions}
				{block #actionMenu}{/block}
			</div>
			<div id="content">
				{include #content}
			</div>
		</div>
	</body>
</html>
