{block outerContent}
    <div class="panel color-auto">
        <div class="container">
            {control navigationChooser:board 'Game.Dashboard.default'}
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            {control navigationChooser:board 'Game.Statistics.table'}
        </div>
    </div>
{/block}
