{varType string $lang}
{varType FKSDB\Models\ORM\Models\PaymentModel[] $payments}
{varType FKSDB\Models\ORM\Models\Schedule\PersonScheduleModel[][][] $rests}
{varType FKSDB\Models\ORM\Models\EventModel[] $events}
{varType FKSDB\Models\ORM\Models\PersonModel[] $persons}
{block outerContent}
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'On going payments'}</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {foreach $payments as $payment}
                    {continueIf $payment->state === FKSDB\Models\ORM\Models\PaymentState::CANCELED}
                    {continueIf $payment->state === FKSDB\Models\ORM\Models\PaymentState::RECEIVED}
                    {var $behavior = $payment->state->behaviorType()}
                    <div class="col">
                        <div class="card border-{$behavior}">
                            <h5 class="card-header">{_'Order No.'} {$payment->payment_id} {$payment->state->badge()}</h5>
                            <div class="card-body">
                                {if $payment->currency === Fykosak\Utils\Price\Currency::CZK}
                                    {control columnTable [
                                    'payment.constant_symbol',
                                    'payment.variable_symbol',
                                    'payment.bank_account',
                                    'payment.bank_name',
                                    'payment.recipient',
                                    'payment.iban',
                                    'payment.price',
                                    ],$payment,1024}
                                {else}
                                    {control columnTable [
                                    'payment.bank_name',
                                    'payment.recipient',
                                    'payment.iban',
                                    'payment.swift',
                                    'payment.price',
                                    ],$payment,1024}
                                {/if}
                                {var $event = $payment->getRelatedEvent()}
                                {if $event}
                                    <a class="btn btn-info"
                                       href="{plink :Shop:Events:detail eventId=>$event->event_id, id=>$payment->payment_id}">
                                        {_'Detail'}
                                    </a>
                                {/if}
                            </div>
                        </div>
                    </div>
                {/foreach}
            </div>
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Rests for events'}</h2>
            {foreach $rests as $eventId => $eventRests}
                <h3>{$events[$eventId]->getName()->getText($lang)}</h3>
                {foreach $eventRests as $personId => $personRests}
                    <h4>{$persons[$personId]->getFullName()}</h4>
                    {foreach $personRests as $personSchedule}
                        <div class="card mb-2">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-1">
                                        <i class="{$personSchedule->schedule_item->schedule_group->schedule_group_type->getIconName()}"></i>
                                    </div>
                                    <div class="col-2"><small class="text-muted">{_'Block'}
                                            : </small>{$personSchedule->schedule_item->schedule_group->name->getText($lang)}
                                    </div>
                                    <div class="col-3"><small class="text-muted">{_'Variant'}
                                            : </small>{$personSchedule->schedule_item->name->getText($lang)}</div>
                                    <div class="col-2">{$personSchedule->schedule_item->getPrice()}</div>
                                        <div class="col-2">
                                            <small class="text-muted">{_'Payment'}: </small>
                                            {control printer:column '@person_schedule.payment', $personSchedule,1024}
                                        </div>
                                </div>
                            </div>
                        </div>
                    {/foreach}
                {/foreach}
                <a class="btn btn-primary"
                   href="{plink :Shop:Events:create eventId=>$events[$eventId]->event_id}">{_'Create payment'}</a>
                <hr/>
            {/foreach}
        </div>
    </div>
{/block}