$fyziklaniMainColor: #f44336;
$fyziklaniDarkColor: #d7392e;

$folMainColor: #18f3bd;
$folBgColor: #18f3bd;
$folBg2Color: #18f3bd;

$fykosMainColor: #1175da;


$vyfukMainColor: #ff4800;
$vyfukAltColor: #9c3;
