@import "colors";
@import "mixins/navigation-item";

.btn-fykos {
  color: #fff;
  background-color: $fykosMainColor;
  border-color: darken($fykosMainColor, 5%);
}

.btn-fykos:hover {
  color: #fff;
  background-color: darken($fykosMainColor, 5%);
  border-color: $fykosMainColor;
}

.btn-vyfuk {
  color: #fff;
  background-color: $vyfukMainColor;
  border-color: darken($vyfukMainColor, 5%);
}

.btn-vyfuk:hover {
  color: #fff;
  border-color: $vyfukMainColor;
  background-color: darken($vyfukMainColor, 5%);
}

.bg-vyfuk-alt {
  background-color: $vyfukAltColor;
}

.bg-vyfuk-alt {
  background-color: $vyfukMainColor;
}

.bg-fykos {
  background-color: $fykosMainColor;
}

[data-contest~="fykos"] .navigation-item .card {
  @include navigation-item($fykosMainColor, white);
}

[data-contest~="vyfuk"] .navigation-item .card {
  @include navigation-item($vyfukMainColor, white);
}

body[data-contest="vyfuk"] {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Gloria Hallelujah', cursive;
  }
}

