@import "colors";
@import "mixins/navigation-item";

.btn-fykos {
  color: #fff;
  background-color: $fykosMainColor;
  border-color: darken($fykosMainColor, 5%);
}

.btn-fykos:hover {
  color: #fff;
  background-color: darken($fykosMainColor, 5%);
  border-color: $fykosMainColor;
}

.btn-vyfuk {
  color: #fff;
  background-color: $vyfukMainColor;
  border-color: darken($vyfukMainColor, 5%);
}

.btn-vyfuk:hover {
  color: #fff;
  border-color: $vyfukMainColor;
  background-color: darken($vyfukMainColor, 5%);
}

.bg-vyfuk-alt {
  background-color: $vyfukMainColor;
}

.bg-vyfuk {
  background-color: $vyfukAltColor;
}

.bg-fykos {
  background-color: $fykosMainColor;
}

.navigation-item .card {
  @include navigation-item(black, white);
}

[data-contest~="fykos"] .navigation-item .card {
  @include navigation-item($fykosMainColor, white);
}

[data-contest~="vyfuk"] .navigation-item .card {
  @include navigation-item($vyfukMainColor, white);
}

[data-contest~="common-black"] {
  .navigation-item .card {
    @include navigation-item(#2ed739, black);
  }
  color: #2ed739;
  main {
    background-color: black;
  }
  .bg-white-container {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

body[data-contest="vyfuk"] {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Gloria Hallelujah', cursive;
  }
}

