@import "colors";
@import "fyziklani/presentation";

main.no-bg {
  padding-top: 0;
  min-height: 100%;
}

.fyziklani-results, .fyziklani-statistics {
  h1 {
    color: $fyziklaniMainColor;
    font-weight: bold;
  }
  .inner-headline {
    background-image: url("/images/fof/prague-layout.svg");
    background-size: cover;
    .clock, .image-wp {
      color: white;
    }
    .clock-big {
      align-items: center;
      position: fixed;
      top: 0;
      height: 100%;
      width: 100%;
    }
    .image-wp {
      padding-top: 6rem;
    }
    .sponsors {
      img {
        max-width: 50%;
      }
    }
    .logo {
      padding-top: 7rem;
      display: block;
    }
  }
  .logo {
    display: none;
  }
  .clock {
    justify-content: space-between;
    padding: .25em;
    font-weight: bold;
    .time-value, .time-label {
      width: 100%;
      text-align: center;
    }
    & > span {
      display: flex;
      flex-wrap: wrap;

    }
    &.clock-small {
      & > span {
        flex-grow: initial;
      }
      font-size: 200%;
      display: flex;
      width: 100%;
      justify-content: center;
      background: white;
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 10000;
      .time-label {
        width: 100%;
        font-size: .75rem;
      }
    }
    &.clock-big {

      text-align: center;
      .time-value {
        font-size: 8rem;
      }
      .time-label {
        font-size: 2rem;
      }
    }
  }
  .image-wp, .clock {
    color: $fyziklaniDarkColor;
  }
  .image-wp {
    font-size: 4rem;
    text-align: center;
  }
  table {
    tbody {
      counter-reset: results-table;
      tr td {
        &[data-points="5"] {
          background-color: #2d7dd2;

        }

        &[data-points="3"] {
          background-color: #98cc04;

        }

        &[data-points="2"] {
          background-color: #eeb902;

        }

        &[data-points="1"] {
          background-color: #f45d01;

        }

        text-align: center;
        border: solid 1px #ccc;
        font-weight: bold;

        &:first-child::before {
          counter-increment: results-table;
          content: counter(results-table) ".";
        }
      }
    }
    thead tr th {
      &[data-task_label^="A"] {
        background-color: lighten($fyziklaniMainColor, 30%);
      }

      &[data-task_label^="B"] {
        background-color: lighten($fyziklaniMainColor, 20%);
      }

      &[data-task_label^="C"] {
        background-color: lighten($fyziklaniMainColor, 10%);
      }

      &[data-task_label^="D"] {
        background-color: $fyziklaniMainColor;
      }

      &[data-task_label^="E"] {
        background-color: darken($fyziklaniMainColor, 10%);
        color: white;
      }

      &[data-task_label^="F"] {
        background-color: darken($fyziklaniMainColor, 20%);
        color: white;
      }

      &[data-task_label^="G"] {
        background-color: darken($fyziklaniMainColor, 30%);
        color: white;
      }
    }

  }
}

.time-histogram {
  polygon {
    transition-duration: 1s;
  }
}

.time-line-histogram {
  .line {
    fill: none;
    stroke-width: 2px;
  }
  .area {
    opacity: .1;
  }
}
