@import "colors";
@import "mixins/navigation-item";
@import "mixins/callout";

[data-contest~="event-type-1"] main:not(.no-bg) {
  background: url('/images/fof/prague-layout.svg') no-repeat;
  h1 {
    font-weight: bold;
  }
}

[data-contest~="event-type-1"] .bd-callout {
  border-left-color: $fyziklaniMainColor;
}

[data-contest~="event-type-1"] .bd-callout h4 {
  color: $fyziklaniMainColor;
}

.event-type-1 {
  background-color: $fyziklaniMainColor;
}

.bd-callout-fyziklani {
  @include bd-callout($fyziklaniMainColor);
}

.bg-fyziklani {
  background-color: $fyziklaniMainColor;
}

[data-contest~="event-type-1"] .navigation-item .card {
  @include navigation-item($fyziklaniMainColor, white);
}

.btn-fyziklani:hover {
  color: #fff;
  background-color: $fyziklaniDarkColor;
  border-color: $fyziklaniMainColor;
}

.btn-fyziklani {
  color: #fff;
  background-color: $fyziklaniMainColor;
  border-color: $fyziklaniDarkColor;
}

.fyziklani-headline {
  color: black;
  font-weight: bold;
}

.fyziklani-headline-color {
  color: #f44336;
  font-weight: bold;
}
