#imageWP {
    text-align: center;
}

.last-update-info {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: .5em;
}

.legend-item .icon {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    border-radius: .5rem;
    margin-right: .5rem;
}

.legend-item:hover strong {
    text-decoration: underline;
}

.chart.points-in-time circle {
    stroke: white;
    stroke-width: 2.5;
}

.time-line.chart .tick line {
    stroke-dasharray: 10 10;
    stroke: #ccc;
}

.chart.points-in-time path.line {
    stroke: #1175da;
    stroke-width: 5px;
    fill: none;
}

@keyframes load-confirm-text {
    0% {
        opacity: 0;
        color: #ccc;
    }
    10% {
        opacity: 1;
        color: #5cb85c;
    }
    70% {
        opacity: 1;
        color: #5cb85c;
    }
    100% {
        color: #5cb85c;
        opacity: 0;
    }
}

.updated-confirm-text {
    animation: load-confirm-text 5s;
    opacity: 0;
    position: absolute;

}

.routing-room table td {
    width: 10rem;
    border: solid 1px #AAAAAA;
    height: 10rem;
}

.badge-category-A {
    background-color: #f00;
}

.badge-category-B {
    background-color: #0f0;
}

.badge-category-C {
    background-color: #00f;
}
