.brawl-results, .fyziklani-results {
  h1 {
    color: white;
  }
  .inner-headline {
    margin-top: 15%;
  }
  .clock {
    justify-content: space-between;
    color: #d7392e;
    padding: .25em;
    font-weight: bold;
    & > span {
      display: flex;
      flex-wrap: wrap;

    }
    &.small {
      font-size: 200%;
      background: white;
      position: fixed;
      bottom: 0;
      left: 0;
      .time-label {
        width: 100%;
        font-size: .75rem;
      }
    }
    &.big {

      text-align: center;
      position: initial;
      .time-value {
        width: 100%;
        font-size: 8rem;
      }
      .time-label {
        width: 100%;
        font-size: 2rem;
      }
    }
  }

  .image-wp {
    color: #d7392e;
    font-size: 5rem;
    text-align: center;
  }
  table {
    tbody {

      tr td {
        &[data-points="5"] {
          background-color: #2d7dd2;
        }

        &[data-points="3"] {
          background-color: #98cc04;
        }

        &[data-points="2"] {
          background-color: #eeb902;
        }

        &[data-points="1"] {
          background-color: #f45d01;
        }

        text-align: center;
        border: solid 1px #ccc;
        font-weight: bold;
      }
    }

    &.table-indexed {
      tbody {
        counter-reset: results-table;
        tr td {
          &:first-child::before {
            counter-increment: results-table;
            content: counter(results-table) ".";
          }
        }
      }
    }
    thead tr th {
      &[data-task_label^="A"] {
        background-color: lightgreen;
      }

      &[data-task_label^="B"] {
        background-color: lightyellow;
      }

      &[data-task_label^="C"] {
        background-color: lightgoldenrodyellow;
      }

      &[data-task_label^="D"] {
        background-color: lightsalmon;
      }

      &[data-task_label^="E"] {
        background-color: lightcoral;
      }

      &[data-task_label^="F"] {
        background-color: lightpink;
      }

      &[data-task_label^="G"] {
        background-color: lightskyblue;
      }
    }

  }
}

.fyziklani-chart-container {
  h3 {
    padding-bottom: 1rem;
    color: #d7392e;
    font-weight: bold;
  }
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px #d7392e;
}
