@import "colors";

.fyziklani-results,.fyziklani-statistics {
  h1 {
    color: $fyziklaniMainColor;
    font-weight: bold;
  }
  .inner-headline {
    margin-top: 15%;
  }
  .clock {
    justify-content: space-between;
    color: $fyziklaniDarkColor;
    padding: .25em;
    font-weight: bold;
    & > span {
      display: flex;
      flex-wrap: wrap;

    }
    &.small {
      font-size: 200%;
      background: white;
      position: fixed;
      bottom: 0;
      left: 0;
      .time-label {
        width: 100%;
        font-size: .75rem;
      }
    }
    &.big {

      text-align: center;
      position: initial;
      .time-value {
        width: 100%;
        font-size: 8rem;
      }
      .time-label {
        width: 100%;
        font-size: 2rem;
      }
    }
  }

  .image-wp {
    color: $fyziklaniDarkColor;
    font-size: 5rem;
    text-align: center;
  }
  table {
    tbody {
      counter-reset: results-table;
      tr td {
        &[data-points="5"] {
          background-color: #2d7dd2;

        }

        &[data-points="3"] {
          background-color: #98cc04;

        }

        &[data-points="2"] {
          background-color: #eeb902;

        }

        &[data-points="1"] {
          background-color: #f45d01;

        }

        text-align: center;
        border: solid 1px #ccc;
        font-weight: bold;

        &:first-child::before {
          counter-increment: results-table;
          content: counter(results-table) ".";
        }
      }
    }
    thead tr th {
      &[data-task_label^="A"] {
        background-color: lighten($fyziklaniMainColor, 30%);
      }

      &[data-task_label^="B"] {
        background-color: lighten($fyziklaniMainColor, 20%);
      }

      &[data-task_label^="C"] {
        background-color: lighten($fyziklaniMainColor, 10%);
      }

      &[data-task_label^="D"] {
        background-color: $fyziklaniMainColor;
      }

      &[data-task_label^="E"] {
        background-color: darken($fyziklaniMainColor, 10%);
        color: white;
      }

      &[data-task_label^="F"] {
        background-color: darken($fyziklaniMainColor, 20%);
        color: white;
      }

      &[data-task_label^="G"] {
        background-color: darken($fyziklaniMainColor, 30%);
        color: white;
      }
    }

  }
}
