/* use https://www.sassmeister.com/ */
@mixin navigation-item($color,$background) {
  border-color: $color;
  border-radius: 0;
  background-color: $background;
  transition-duration: 200ms;
  color: $color;
  a {
    color: $color;
  }
  &:hover, &:focus {
    transition-duration: 200ms;
    //border-color: $background;
    background-color: $color;
    color: $background;
    a {
      color: $background;
    }
  }
}

.navigation-item .card {
  height: 12rem;
  width: 12rem;

  &[data-background-id="0"] {
    @include navigation-item(#1175da, white);
  }

  &[data-background-id="1"] {
    @include navigation-item(#75da11, white);
  }

  &[data-background-id="2"] {
    @include navigation-item(#da1175, white);
  }

  &[data-background-id="3"] {
    @include navigation-item(#7511da, white);
  }

  &[data-background-id="4"] {
    @include navigation-item(#11da75, white);
  }

  &[data-background-id="5"] {
    @include navigation-item(#da7511, white);
  }
}

[data-contest~="event-type-1"] .navigation-item .card {
  @include navigation-item(#f44336, white);
}

[data-contest~="fykos"] .navigation-item .card {
  @include navigation-item(#1175da, white);
}

[data-contest~="vyfuk"] .navigation-item .card {
  @include navigation-item(#ff4800, white);
}

