{layout './layout.latte'}
{varType Fykosak\NetteORM\Model\Model[]|Nette\Database\Table\Selection $models}
{varType int $userPermission}
{block innerContent}
    {control table $models,true,$userPermission,'table table-sm table-hover table-striped'}
{/block}
