{varType FKSDB\Components\Grids\Components\BaseItem $control}
{varType Nette\Utils\Html|string $html}
{var $title = $control->getTitle()}
<span title="{$title?$title->title:''}">
        {$html|noescape}
</span>
