{block content}
    {varType FKSDB\Models\ORM\Models\Schedule\ScheduleItemModel $model}
    <div class="mb-3">
        {include '../Item/group.detail.latte' group=>$model}
    </div>
    <a class="btn btn-outline-primary btn-sm" href="{plink :Schedule:Group:list}">{_'List of groups'}</a>
    <a class="btn btn-outline-primary btn-sm" href="{plink :Schedule:Item:create}">{_'Create item'}</a>
    <hr/>
    {control itemsGrid}
{/block}
