{block content}
    {if in_array($eventType,$teamEvents)}
        <h2>Tímové prihlášky</h2>
        {control teamApplicationsTimeProgress}
    {/if}
    <h2>Jednotlivé prihlášky</h2>
    {control singleApplicationsTimeProgress}
{/block}
