{block content}
    {include './group.detail.latte' group=>$group}
    <hr/>
    <h2>{_'Schedule item'}</h2>

    <div class="mb-3">
        <div class="row">
            <b class="col-2">{_'Id'}</b>
            <span class="col-10">#{$model->schedule_item_id}</span>
        </div>
        {control valuePrinter:row 'schedule_item.price_eur', $model}
        {control valuePrinter:row 'schedule_item.price_czk',$model}

        {control valuePrinter:row 'schedule_item.name_cs', $model}
        {control valuePrinter:row 'schedule_item.name_en',$model}

        {control valuePrinter:row 'schedule_item.description_cs', $model}
        {control valuePrinter:row 'schedule_item.description_en', $model}

        {control valuePrinter:row 'schedule_item.capacity', $model}
        {control valuePrinter:row 'schedule_item.used_capacity', $model}
        {control valuePrinter:row 'schedule_item.free_capacity', $model}
        {control valuePrinter:row 'schedule_item.require_id_number', $model}
    </div>
    <a class="btn btn-primary" href="{plink ScheduleGroup:list}">{_'List of groups'}</a>
    <a class="btn btn-primary" href="{plink group id=>$model->schedule_group_id}"
       }>{sprintf(_('Schedule group #%s'),$model->schedule_group_id)}</a>
    <hr/>
    <h2>{_'Persons'}</h2>
    {control personsGrid}
{/block}
