{block content}
    {varType FKSDB\Models\ORM\Models\Schedule\ModelScheduleItem $model}
    {include './group.detail.latte' group=>$model->schedule_group}
    <hr/>
    <h2>{_'Schedule item'}</h2>

    <div class="mb-3">
        <div class="row">
            <b class="col-2">{_'Id'}</b>
            <span class="col-10">#{$model->schedule_item_id}</span>
        </div>
        {control valuePrinter:row 'schedule_item.price_eur', $model}
        {control valuePrinter:row 'schedule_item.price_czk',$model}

        {control valuePrinter:row 'schedule_item.name_cs', $model}
        {control valuePrinter:row 'schedule_item.name_en',$model}

        {control valuePrinter:row 'schedule_item.description_cs', $model}
        {control valuePrinter:row 'schedule_item.description_en', $model}

        {control valuePrinter:row 'schedule_item.capacity', $model}
        {control valuePrinter:row 'schedule_item.used_capacity', $model}
        {control valuePrinter:row 'schedule_item.free_capacity', $model}
        {control valuePrinter:row 'schedule_item.require_id_number', $model}
    </div>
    <a class="btn btn-outline-primary btn-sm" href="{plink ScheduleItem:edit}">{_'Edit item'}</a>
    <hr/>
    <h2>{_'Persons'}</h2>
    {control personsGrid}
{/block}
