{varType FKSDB\Models\ORM\Models\Schedule\ModelScheduleGroup $group}
<h2>{_'Schedule group'}</h2>
<div>
    <div class="row">
        <b class="col-2">{_'Id'}</b>
        <span class="col-10">#{$group->schedule_group_id}</span>
    </div>
    {control valuePrinter:row 'schedule_group.name_cs',$group}
    {control valuePrinter:row 'schedule_group.name_en', $group}
    {control valuePrinter:row 'schedule_group.schedule_group_type', $group}
    {control valuePrinter:row 'event.event_link', $group}
    {control valuePrinter:row 'schedule_group.start', $group}

    {control valuePrinter:row 'schedule_group.end', $group}
    <a class="btn btn-primary btn-sm" href="{plink ScheduleGroup:detail id=>$group->schedule_group_id}">{_('Detail of group')}</a>
    <a class="btn btn-primary btn-sm" href="{plink ScheduleGroup:edit id=>$group->schedule_group_id}">{_('Edit group')}</a>
</div>
