{var $robots = noindex}

{block content}
    <div class="row text-center mb-3">
        <div class="image-error">
            <img src="/images/404.svg" alt="404"/>
        </div>
    </div>
    <h2>{_('Whoooops! We are sorry, but the requested page does not exist.')}<span class="badge bg-warning">#404</span></h2>
    {*<!--<a class="btn btn-outline-secondary btn-lg btn-block mb-3" href="link Chooser:default">_'Pokračuj na rázcestník aktivít'</a>-->*}
{/block}
