{var $robots = noindex}

{block content}

<div class="row text-center mb-3">
    <div class="image-error">
        <img src="/images/404.svg" alt="405"/>
    </div>
</div>
<h2>{_'Zvolená metoda není pro tuto stránku podporována.'}<span class="badge badge-warning">#405</span></h2>
{/block}
