{varType bool $isSelf}
{block outerContent}
    <div class="container">
        {if $isSelf}
            <p class="alert alert-info">
                <a href="https://9gag.com/gag/agVYA4g/this-is-you-liking-your-own-fb-status">
                    {_'This is how you look, when you stalk yourself'}</a>
            </p>
        {/if}
    {control stalkingContainer}
    </div>
{/block}
