{layout '../../../templates/@layout.v4.latte'}
{block content}
    <div>
        <ul>
            <li><a href="{plink download}">{_'Download'}</a></li>
            <li><a href="{plink edit}">{_'Edit'}</a></li>
        </ul>
    </div>
{/block}
