{block content}
    <div>
        <h2>{_('Uzatváranie bodovaní tímov')}</h2>
        {control closeGrid}
        <h2>{_('Uzatváranie bodovaní celého fyzikláni')}</h2>
        <div class="btn-group">
            {control closeAForm}
            {control closeBForm}
            {control closeCForm}
            {control closeFForm}
            {control closeTotalForm}
        </div>
    </div>

{/block}
