<div style="height: 100%;font-size: 20px">
    <div style="position: absolute;top: 5rem;left: 5rem">{include sender}</div>
    <div style="position: absolute;bottom: 5rem;right: 5rem">{include recipient}</div>
</div>
