<div style="height: 100%;font-size: 1.25rem">
    <div style="position: absolute;top: 5rem;left: 5rem">{block sender/}</div>
    <div style="position: absolute;bottom: 5rem;right: 5rem">{block recipient/}</div>
</div>
