{layout ../../Controls/@layout.latte}
{varType FKSDB\Models\Transitions\Transition\Transition[] $transitions}

{block content}
    <p class="alert-info alert">{_'Automaticly redirect to detail'}</p>
    {control formControl}
{/block}
