{varType string $lang}
{block outerContent}
    {varType FKSDB\Models\ORM\Models\EventModel $event}
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Info'}</h2>
            <p>{$event->report->getText($lang)}</p>
            {control columnTable [
            'event.event_type',
            'event.year',
            'event.event_year',
            'event.begin',
            'event.end',
            'event.registration_begin',
            'event.registration_end',
            ], $event, 1024}
            <a class="btn btn-outline-secondary mt-3"
               href="{plink :Organizer:Event:edit id=>$event->event_id ,contestId => $event->event_type->contest_id, year=>$event->year}">{_'Edit event'}</a>
        </div>

    </div>
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Application'}</h2>
            {control navigationChooser:board 'Events.Dashboard.default#application'}
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Actions'}</h2>
            {control navigationChooser:board 'Events.Dashboard.default#other'}
        </div>
    </div>
{/block}
