{block content}
    {control settingsForm}
    <h2>{_'Preferred language'}</h2>
    {control preferredLangForm}
    <hr/>
    <h2>{_'Permanent address'}</h2>
    {control permanentPostContactForm}
    <hr/>
    <h2>{_'Delivery addesss'}</h2>
    {control deliveryPostContactForm}

{/block}
