{define description}
    {if $description}
        <a href="#" class="text-info" data-toggle="popover"
           title="{$title}"
           data-content="{$description}">
            <i class="fa fa fa-question-circle-o"></i>
        </a>
    {/if}
{/define}
{include content}
