{varType Fykosak\NetteORM\Model $model}
{varType int $userPermission}
{varType string $name}
<li class="list-group-item">
    <div class="row">
        <b class="col-6">
            {control $control:templateString '@' . $name . ':title',$model,$userPermission}
        </b>
        <span class="col-6">
                 {control $control:templateString '@' . $name,$model,$userPermission}
            </span>
    </div>
</li>
