{layout './layout.latte'}
{varType string $title}
{varType Nette\Utils\Html $html}
{define content}
    <div class="row mt-1">
        <b class="col-xl-4 col-lg-5 col-md-5 col-sm-6">{$title}
            {include description}
        </b>
        <span class="col-xl-8 col-lg-7 col-md-7 col-sm-6">
        {$html}
    </span>
    </div>
{/define}
