{layout './layout.latte'}
{varType string $title}
{varType Nette\Utils\Html $html}
{define content}
    <li class="list-group-item">
        <div class="row">
            <b class="col-6">{$title}
                {include description}
            </b>
            <span class="col-6">
                {$html}
            </span>
        </div>
    </li>
{/define}
