{varType Fykosak\NetteORM\Model\Model $model}
{varType int $userPermission}
{varType string[] $fields}

<table class="table table-hover">
    <tbody>
    {foreach $fields as $field}
        <tr>
            <th>{control printer:column '@' . $field . ':title', $model,$userPermission}</th>
            <td>{control printer:column '@' . $field . ':value', $model,$userPermission}</td>
        </tr>
    {/foreach}
    </tbody>
</table>
