{block outerContent}
    <a href="{plink print}">{_'Print'}</a>
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'By lang'}</h2>
        </div>
        <div class="container-fluid">
            {control preview 'lang'}
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'By category'}</h2>
        </div>
        <div class="container-fluid">
            {control preview 'category'}
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Edit'}</h2>
            {control form}
        </div>
    </div>
{/block}
