{block outerContent}
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'By lang'}</h2>
        </div>
        <div class="container-fluid">
            {control seatingPreview 'lang'}
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'By category'}</h2>
        </div>
        <div class="container-fluid">
            {control seatingPreview 'category'}
        </div>
    </div>
{/block}
