<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/assets/main.css" rel="stylesheet"/>
    <title></title>
</head>
<body class="print-area">
{foreach $control->getComponent('teamList')->getComponents() as $teamComponent}
    {varType FKSDB\Components\TeamSeating\Single $teamComponent}
    <div class="page page-a5-landscape" style="position: relative">
        {var $team = $teamComponent->team}
        ({$team->fyziklani_team_id}) {$team->name}
        {var $place = $team->getPlace()}
        {if $place}
            {$place->sectorName($lang)}: {$place->label()}
        {/if}
        {control $teamComponent}
        {var $rests = $team->getScheduleRest()}
        {if count($rests)}
            <b>{$team->game_lang === 'en'?'Payment necessary':'Nutná platba'}</b>
        {/if}
        <img src="{$basePath}/images/fyziklani/fyziklani_{$teamComponent->team->event->begin->format('Y')}_logo.png"
             alt=""
             style="float:right;max-width: 25%"/>
        <div style="columns: 2">
            {foreach $rests as $personRest}
                {foreach $personRest as $rest}
                    {if $team->game_lang === 'cs'}
                        &#9634; {$rest->person->family_name} &#8211; {$rest->schedule_item->getPrice()->czk->__toString()} &#8211; {$rest->schedule_item->name_cs}
                        <br>
                    {else}
                        &#9634; {$rest->person->family_name} &#8211; {$rest->schedule_item->getPrice()->czk->__toString()} &#8211; {$rest->schedule_item->name_en}
                        <br>
                    {/if}
                {/foreach}
            {/foreach}
        </div>
    </div>
{/foreach}
</body>
</html>
