{layout '../@layout.latte'}
{block card-title}{$headline}{/block}
{block card-body}
    {if is_null($model)}
        <div class="card-body">
            {FKSDB\Components\Badges\NoRecordsBadge::getHtml()}
        </div>
    {else}
        {foreach $rows as $field}
            {control valuePrinter:row $field, $model,$userPermission}
        {/foreach}
    {/if}
{/block}
