{varType FKSDB\Modules\Core\Language $lang}
{varType FKSDB\Models\ORM\Models\PersonModel $peron}
{varType string $newEmail}
{varType FKSDB\Models\ORM\Models\AuthTokenModel $token}
{var $link = $control->link('//:Profile:Email:confirm', ['at'=>$token->token])}

<h1>Potvrďte svou e-mailovou adresu.</h1>

<p>Je potebné previesť potvrdenie vašej novej emailovej adresy, k tomu slúži jedorázový odkaz.</p>

<a href="{$link}">{$link}</a>

<p>
    S pozdravem,<br/>
    FKSDB
</p>

