{varType FKSDB\Modules\Core\Language $lang}
{varType FKSDB\Models\ORM\Models\PersonModel $peron}
{varType string $newEmail}
<h1>Bolo požiadané o zmenu emailovej adresy</h1>

<p>Bolo požiadné o zmenu emailu na {FKSDB\Models\Utils\Utils::cryptEmail($newEmail)}.</p>
<p>Pokial ste nežiadali o zmenu emailovej adresy konktaktuje urýchlene správcu FKSDB
    <a href="mailto:webmaster@fykos.cz">webmaster@fykos.cz</a>
</p>

<p>
    S pozdravem,<br/>
    FKSDB
</p>
