{block content}
    <div>
        {control valuePrinter__fyziklani_submit__fyziklani_submit_id:row $model}

        {control valuePrinter__e_fyziklani_team__opened_submiting:row $model->getTeam()}

        {control valuePrinter__e_fyziklani_team__name:row $model->getFyziklaniTeam()}
        {control valuePrinter__e_fyziklani_team__e_fyziklani_team_id:row $model->getFyziklaniTeam()}
        <hr/>
        {control valuePrinter__fyziklani_task__fyziklani_task_id:row $model}
        {control valuePrinter__fyziklani_task__name:row $model->getTask()}
        {control valuePrinter__fyziklani_task__label:row $model->getTask()}
        <hr/>
        {control valuePrinter__fyziklani_submit__points:row $model}
        {control valuePrinter__fyziklani_submit__state:row $model}
        <hr/>
        {control valuePrinter__fyziklani_submit__created:row $model}
        {control valuePrinter__fyziklani_submit__modified:row $model}
    </div>
    <div class="my-3">
        {control checkForm}
    </div>
    <a class="btn btn-secondary" href="{plink edit id=>$model->fyziklani_submit_id}">{_'Edit'}</a>
{/block}
