<h2>{_'Schedule group'}</h2>
<div>
    <div class="row">
        <b class="col-2">{_'Id'}</b>
        <span class="col-10">#{$model->schedule_group_id}</span>
    </div>
    {control valuePrinter__schedule_group__name_cs:row $model}
    {control valuePrinter__schedule_group__name_en:row $model}
    {control valuePrinter__schedule_group__schedule_group_type:row $model}

    <div class="row">
        <b class="col-2">{_'Event'}</b>
        <span class="col-10">{$model->getEvent()->__toString()}
            <a class="btn btn-sm btn-secondary" href="{plink groups}" }>
                    {_'All groups'}</a>
                <a class="btn btn-sm btn-secondary" href="{plink :Event:Dashboard:}" }>
                    {_'Event detail'}</a>
            </span>
    </div>
    {control valuePrinter__schedule_group__start:row $model}

    {control valuePrinter__schedule_group__end:row $model}
</div>
