<h2>{_'Schedule group'}</h2>
<div>
    {control stringValue $model,_('Id'),schedule_group_id}

    {control stringValue $model,_('Group type'),schedule_group_type}

    <div class="row">
        <b class="col-2">{_'Event'}</b>
        <span class="col-10">{$model->getEvent()->__toString()}

    </div>

    {control dateValue $model,_('Start'),start,true,'d. m. Y H:i'}

    {control dateValue $model,_('End'),end,true,'d. m. Y H:i'}
    <a class="btn btn-sm btn-secondary" href="{plink groups}" }>
        {_'All groups'}</a>
    <a class="btn btn-sm btn-secondary" href="{plink :Event:Dashboard:}" }>
        {_'Event detail'}</a>
    </span>
    <hr/>
</div>
