<h2>{_'Schedule item'}</h2>
<div>
    <div class="row">
        <b class="col-2">{_'Id'}</b>
        <span class="col-10">#{$model->schedule_item_id}</span>
    </div>
    <div class="row">
        <b class="col-2">{_'Schedule group'}</b>
        <span class="col-10">
                <a href="{plink group id=>$model->schedule_group_id}" }>
                    {sprintf(_('Schedule group #%s'),$model->schedule_group_id)}</a>
        </span>
    </div>
    {control valuePrinter__schedule_item__price_eur:row $model}
    {control valuePrinter__schedule_item__price_czk:row $model}

    {control valuePrinter__schedule_item__name_cs:row $model}
    {control valuePrinter__schedule_item__name_en:row $model}

    {control valuePrinter__schedule_item__description_cs:row $model}
    {control valuePrinter__schedule_item__description_en:row $model}

    {control valuePrinter__schedule_item__capacity:row $model}
    {control valuePrinter__schedule_item__used_capacity:row $model}
    {control valuePrinter__schedule_item__free_capacity:row $model}
    {control valuePrinter__schedule_item__require_id_number:row $model}
</div>
