{layout '../../../Controls/FormComponent/layout.latte'}
{varType FKSDB\Modules\Core\Language|null $lang}
{block content}
    <ul>
        {if $lang->value === 'cs'}
            <li>
                Vyplněním této přihlášky přihlásíte tým na soutěž <strong>Fyziklání Online</strong>.
                Každý člen týmu je e-mailem informován o přihlášení a může přihlášku upravit.
            </li>
            <li>
                Při výběru školy zadejte několik prvních písmen a pokuste se ji najít v rozbalovací nabídce.
                Pokud školu nenajdete, můžete ji pomocí <a href={plink :Core:School:create}>formuláře</a> vytvořit.
            </li>
            <li>
                Informace, jak se přihlásit do herního systému, vám budou zaslány až během několika dní před soutěží.
            </li>
            <li>
                Další informace a pravidla naleznete na stránce <a href="https://online.fyziklani.cz/">Fyziklání
                    Online</a>.
            </li>
            <li>
                Registrace končí <strong>{$event->registration_end|date:'j. n. Y H:i:s'}</strong>.
            </li>
        {else}
            <li>
                By filling out this application, you will register the team for the <strong>Physics Brawl Online</strong>.
                Each team member will be notified by email about the registration and can modify this application.
            </li>
            <li>
                When choosing your school, type the first few letters and try to find it in the dropdown menu.
                If you have trouble finding your school, you can create it in another
                <a href={plink :Core:School:create}>form</a>.
            </li>
            <li>
                Information on how to log into the game system will be sent to you a few days before the competition.
            </li>
            <li>
                More information and rules are available at the <a href="https://physicsbrawl.org/">Online Physics
                    Brawl website</a>.
            </li>
            <li>
                Registration is open until <strong>{$event->registration_end|date:'r'}</strong>.
            </li>
        {/if}
    </ul>
    {include parent}
{/block}
