{varType Fykosak\NetteORM\Model|null $model}
{varType FKSDB\Models\ORM\FieldLevelPermissionValue|null $userPermission}
{foreach $control->getComponents() as $component}
    <div class="col">
        {control $component $model, $userPermission}
    </div>
{/foreach}

