{varType FKSDB\Components\Grids\Components\Container\TableRow $control}

{foreach $control->getComponents() as $name=> $component}
    {varType FKSDB\Components\Grids\Components\BaseItem $component}
    {continueIf $name === 'buttons'}
    <th>
        {if $component->title}
            {$component->title->toHtml()}
        {/if}
    </th>
{/foreach}
{if count($control->buttons->getComponents())}
    <th></th>
{/if}
