{varType Fykosak\NetteORM\Model $model}
{varType int $userPermission}
{varType FKSDB\Components\Grids\Components\Container\TableRow $control}
{foreach $control->getComponents() as $name=> $component}
    {continueIf $name === 'buttons'}
    <td>
        {control $component $model, $userPermission}
    </td>
{/foreach}
{if count($control->getButtonContainer()->getComponents())}
    <td>
        {control $control->getButtonContainer() $model,1024}
    </td>
{/if}
