.chart-legend.chart-legend-line-chart {
  .chart-legend-item {
    margin-bottom: 1rem;
    align-items: center;

    .icon {
      display: inline-block;

      &.icon-line {
        background-color: var(--item-color);
        border-width: 1rem;
        border-radius: 1rem;
        height: 2px;
      }

      &.icon-point {
        background-color: var(--item-color);
        border-width: 1em;
        border-radius: 1em;
        height: 1em;
        width: 1em;
      }

      &.icon-bar {
        background-color: var(--item-color);
        border-radius: 0;
        height: 1em;
        width: 1em;
      }
    }
  }
}
