.line-chart svg {
  circle {
    opacity: 0.1;
    fill: var(--point-color-inactive);

    &.active {
      fill: var(--point-color-active);
      opacity: 1;
    }
  }

  .line {
    fill: none;
    stroke-width: 2px;
  }

  .area {
    opacity: .1;
  }
}
