.line-chart svg {
  circle {
    &.active {
      opacity: 1;
    }

    &.inactive {
      opacity: 0.1;
    }
  }

  .line {
    fill: none;
    stroke-width: 2px;
  }

  .area {
    opacity: .1;
  }
}
