.line-chart svg {
  circle.point {
    opacity: 0.1;
    fill: var(--point-color);

    &.active {
      opacity: 1;
    }
  }

  .line {
    fill: none;
    stroke-width: 2px;
    stroke: var(--line-color);
  }

  .area {
    opacity: .1;
    stroke: var(--area-color);
    fill: var(--area-color);
  }
}
