{varType FKSDB\Models\ORM\Models\TeacherModel $model}
{block outerContent}
    <div class="container">
        {control columnTable [
        'person.person_link',
        'teacher.since',
        'teacher.until',
        'teacher.note',
        'teacher.number_brochures',
        'teacher.state'
        ], $model, 1024}
    </div>
{/block}
