person:
    other_name:
        required: true
    family_name:
        required: true
person_info:
    email:
        required: true
    id_number:
        required: true
    born:
        required: true
person_schedule:
    dsef_morning:
        required: true
    dsef_afternoon:
        required: true
    dsef_all_day:
        required: true
    accommodation:
        required: false
