{layout '../../Controls/@layout.latte'}

{varType FKSDB\Models\ORM\Models\Schedule\PersonScheduleModel $model}
{block content}
    {if $model->state}
        <p class="alert alert-info">{_'No transition available'}</p>
    {else}
        <a class="btn btn-success" href="{link attendance!}">{_'Attendance'}</a>
    {/if}
{/block}
