{varType FKSDB\Models\ORM\Models\Fyziklani\TeamModel2[] $teams}
{block content}
    {if count($teams)}
        {foreach $teams as $team}
            <div n:class="'alert alert-' . $team->state->getBehaviorType()">
                {foreach $control->getComponents() as $component}
                    {if $component instanceof FKSDB\Components\Grids\ListComponent\Row}
                        {control $component $team}
                    {/if}
                {/foreach}
                <ul class="list-group list-group-flush">
                    {foreach $team->getMembers() as $member}
                        {varType FKSDB\Models\ORM\Models\Fyziklani\TeamMemberModel $member}
                        <div class="list-group-item bg-transparent">
                            <div class="row">
                                <span class="col">{control valuePrinter:onlyValue 'person.full_name', $member}</span>
                                <span class="col">{control valuePrinter:onlyValue 'school.school', $member->getPersonHistory()}</span>
                                {*<span class="col">{control valuePrinter:onlyValue 'person_history.study_year', $member->getPersonHistory()}</span>*}
                            </div>
                        </div>
                    {/foreach}
                </ul>
                <strong>{_'Teacher'}</strong>
                <ul class="list-group list-group-flush">
                    {foreach $team->getTeachers() as $teacher}
                        {varType FKSDB\Models\ORM\Models\Fyziklani\TeamTeacherModel $teacher}
                        <div class="list-group-item bg-transparent">
                            <div class="row">
                                <span class="col">{control valuePrinter:onlyValue 'person.full_name', $teacher}</span>
                            </div>
                        </div>
                    {/foreach}
                </ul>
                <div class="row">
                    <div class="col">
                        <a href="{plink 'detail' id=>$team->getPrimary()}"
                           class="btn btn-outline-secondary float-end">{_'Detail'}</a>
                    </div>
                </div>
            </div>
        {/foreach}
    {else}
        {FKSDB\Components\Badges\NoRecordsBadge::getHtml()}
    {/if}
{/block}
