{layout '../@layout.latte'}
{varType FKSDB\Models\ORM\Models\ModelEvent $event}
{block seat}
    {varType FKSDB\Models\ORM\Models\Fyziklani\Seating\SeatModel $seat}
    {var $team = $seat->getTeamSeat($event)}
    {if $team}
        <g transform="translate(0,18)">
            <text>{$team->e_fyziklani_team_id}</text>
        </g>
        {include parent 'seat'=>$seat ,'className'=>'occupied'}
    {else}
        {include parent 'seat'=>$seat ,'className'=>'free'}
    {/if}
{/block}
