{layout '../@layout.latte'}
{varType FKSDB\Models\ORM\Models\ModelEvent $event}
{define seat seat FKSDB\Models\ORM\Models\Fyziklani\Seating\SeatModel $seat}
    {var $teamSeat = $seat->getTeamSeat($event)}
    {if $teamSeat}
        {include parent 'seat'=>$seat ,'className'=>('category-' . $teamSeat->getTeam()->category . ' occupied game-lang-' . $teamSeat->getTeam()->game_lang)}
        <g transform="translate(0,0)">
            <text>{$teamSeat->getTeam()->e_fyziklani_team_id}</text>
        </g>
    {else}
        {include parent 'seat'=>$seat ,'className'=>'free'}
    {/if}

    <g transform="translate(0,-25)">
        <text>{$seat->getPrimary()}</text>
    </g>
{/define}
