{block outerContent}
    <div class="panel color-auto">
        <div class="container">
            <p class="text-success">You can close this tab and continue ....</p>
        </div>
    </div>
{/block}
