{varType FKSDB\Modules\Core\BasePresenter $control}
{block outerContent}
    <div class="container mb-5">
        {if $control->authorized('create')}
            {var $pageTitle = $control->titleCreate()}
            <a href="{plink create}" class="btn btn-outline-primary"><i
                        class="{$pageTitle->icon} me-1"></i>{$pageTitle->title}</a>
        {/if}
    </div>
    <div class="container">
        {control tagCloud:list}
        {control grid}
    </div>
{/block}
