{block outerContent}
    {varType FKSDB\Models\ORM\Models\Schedule\ScheduleItemModel $model}
    <div class="panel color-auto">
        <div class="container">
            {include group from './group.detail.latte' group=>$model->schedule_group}
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Item'}</h2>
            {control columnTable [
            'schedule_item.schedule_item_id',
            'schedule_item.price_eur',
            'schedule_item.price_czk',
            'schedule_item.name',
            'schedule_item.description',
            'schedule_item.capacity',
            'schedule_item.used_capacity',
            'schedule_item.free_capacity',
            ],$model,1024}
            <a class="btn btn-outline-primary btn-sm" href="{plink :Schedule:Item:edit}">{_'Edit item'}</a>
            <a class="btn btn-outline-secondary btn-sm" href="{plink :Schedule:Item:code}">{_'button.scan2d'}</a>
        </div>
    </div>
    <div class="panel color-auto">
        <div class="container">
            <h2>{_'Persons'}</h2>
            {control personsGrid}
        </div>
    </div>
{/block}
