{varType FKSDB\Models\ORM\Models\Schedule\ScheduleGroupModel $group}
<h2>{_'Schedule group'}</h2>
<div>
    {foreach [
    '@schedule_group.schedule_group_id',
    '@schedule_group.name_cs',
    '@schedule_group.name_en',
    '@schedule_group.schedule_group_type',
    '@event.name',
    '@schedule_group.start',
    '@schedule_group.end',
    '@schedule_group.registration_begin',
    '@schedule_group.registration_end',
    '@schedule_group.modification_end'
    ] as $column}
        <div class="row">
            <b class="col-2">{control valuePrinter:templateString $column . ':title',$group,1024}</b>
            <span class="col-10">{control valuePrinter:templateString $column,$group,1024}</span>
        </div>
    {/foreach}
    <a class="btn btn-outline-primary btn-sm"
       href="{plink :Schedule:Group:detail id=>$group->schedule_group_id}">{_('Detail of group')}</a>
    <a class="btn btn-outline-primary btn-sm"
       href="{plink :Schedule:Group:edit id=>$group->schedule_group_id}">{_('Edit group')}</a>
</div>
