<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="{$robots}" n:ifset="$robots">
    <title>{block titleHeader}{$title} | FKSDB{/block}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {control cssLoader
        '//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css' => [screen],
        'css/style.css' => [screen],
        '//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/smoothness/jquery-ui.css' => [screen,projection,tv],
        'css/fyziklani.css' => [all],
        'css/font-awesome-4.5.0/css/font-awesome.min.css' => [all]
        }
    {block head}{/block}
</head>
<!-- Radnom background generator -->
<body data-bg="{rand(1,2)}">
{block body}
    <nav n:class="'fixed-top navbar navbar-expand-md ',isset($contestSymbol)?('bg-'.$contestSymbol.' navbar-dark'):('bg-light navbar-light')"
            role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{$basePath}/"><i class="fa fa-home" aria-hidden="true"></i> FKSDB</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            {block nav }
                {control navigation:navbar isset($navRoot)?$navRoot:''}
            {/block}

            {block user-info}
                <ul n:if="$user->isLoggedIn()" class="nav navbar-nav navbar-right">
                    {var $login => $user->getIdentity()}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-user"></span>
                            {if $login->getPerson()}
                                <b>{$login->getPerson()->getFullname()}</b>
                            {else}
                            {_'Uživatel'} <b>{$login->login}</b>{/if} <b class="caret"></b></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" n:href=":Settings:">{_'Nastavení'}</a>
                            <span class="dropdown-divider"></span>
                            <a class="dropdown-item" n:href=":Authentication:logout">{_'Odhlásit'}</a>
                        </div>
                    </li>
                </ul>
            {/block}

        </div><!-- /.navbar-collapse -->
    </nav>
    <div id="wrap" style="min-height:100%">
        <div class="container py-4 bg-white" style="height:100%">
            {control breadcrumbs}
            {block titleBody}
                <h1 class="page-header">{$title}
                <small class="text-secondary"> {$subtitle}</small></h1>{/block}
            {block flashes}
                <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{$flash->message}</div>
            {/block}
            {include #content}
        </div>
    </div> <!-- wrap -->
{/block body}
{block footer}
    <footer>
        <div class="container text-center text-light py-3">
        <span class="list-piped">
            <a class="text-light" href="http://fykos.cz/" title="Fyzikální korespondenční seminář MFF UK">FYKOS</a>
            <span>| </span>
            <a class="text-light" href="http://vyfuk.mff.cuni.cz/"
               title="Fyzikální korespondenční seminář MFF UK pro ZŠ a nižší ročníky gymnázií">Výfuk</a> |
            <span>{_'Správce systému'}: </span>
            <a class="text-light" href="m&#97;ilto:webmaster&#64;fykos.cz">webmaster&#64;fykos.cz</a>
        </span>
        </div>
    </footer>
{/block}

<div id="spinner"></div>
{block scripts}
    {*TODO store this library localy*}
    {control jsLoader
        'js/netteForms.js',
        'https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js',
        'https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js',
        'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js',
        'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js',
        'js/nette.ajax.js',
        'js/jquery.confirm.js',
        'js/main.js'
            }
    {control jsLoader:inline}
{/block}
{control cssLoader}
</body>
</html>
