<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="{$robots}" n:ifset="$robots">

        <title>FKSDB {include #title}</title>


        <script src="{$basePath}/js/netteForms.js"></script>
        <link rel="stylesheet" href="{$basePath}/css/screen.css" />
	{block head}{/block}
    </head>

    <body>
        <div class="navigation">
            <a n:href="Dashboard:">PPultík</a>
        </div>
    <h1>{include #title}</h1>
<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
<div n:if="$user->isLoggedIn()" class="user-info">
    <p>Přihlášen <em>{$user->getIdentity()->getFullname()}</em>
    <a n:href="authentication:logout">Odhlásit</a></p>
    <p>Rola orga:
        {foreach $control->getAvailableContests() as $contest}
    <a n:href="changeContest!, contestId => $contest->contest_id" n:tag-if="$contest->contest_id != $control->contestId"><b n:tag-if="$contest->contest_id == $control->contestId">{$contest->name}</b></a>
        {/foreach}

            {control formSelectYear}
    </p>
</div>
    {include #content}
</body>
</html>
