<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{block title}FKSDB{/block}</title>


	<script src="{$basePath}/js/netteForms.js"></script>
	{block head}{/block}
</head>

<body>
	<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

	{include #content}
</body>
</html>
