<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="{$robots}" n:ifset="$robots">

        <title>FKSDB {include #title}</title>

        <link rel="stylesheet" href="{$basePath}/css/screen.css" />


        <link rel="stylesheet" media="screen,projection,tv" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/smoothness/jquery-ui.css">
        
        {block head}{/block}
    </head>

    <body>
        <div class="navigation">
            <a n:href=":Org:Dashboard:">Pultík</a>
        </div>
        <h1>{include #title}</h1>
        <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
        <div n:if="$user->isLoggedIn()" class="user-info">
            <p>Přihlášen <em>{$user->getIdentity()->getPerson()->getFullname()}</em>
                <a n:href=":Authentication:logout">Odhlásit</a></p>
            <p n:if="$user->getIdentity()->getPerson()->getActiveOrgs($control->getYearCalculator())">Rola orga:
                {foreach $control->getAvailableContests() as $contest}
                <a n:href="changeContest!, contestId => $contest->contest_id" n:tag-if="$contest->contest_id != $control->contestId"><b n:tag-if="$contest->contest_id == $control->contestId">{$contest->name}</b></a>
                {/foreach}

                {control formSelectYear}
            </p>
        </div>
        {include #content}

        {block scripts}
        <script src="{$basePath}/js/netteForms.js"></script>
        <!-- jQuery and UI from Google CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
        
        <script src="{$basePath}/js/datePicker.js"></script>
        <script src="{$basePath}/js/submitFields.js"></script>
        {/block}
    </body>
</html>
