{varType FKSDB\Components\Charts\Core\Chart $chart}
{block outerContent}
    {var $description = $chart->getDescription()}
    {if $description}
        <div class="panel color-auto">
            <div class="container px-3">
                <p>
                    {$description|noescape}
                </p>
            </div>
        </div>
    {/if}
    <div class="panel color-auto">
        <div class="container-fluid px-3">
            {control chart}
        </div>
    </div>
{/block}
