{varType FKSDB\Components\Charts\Core\Chart[] $charts}
{block outerContent}
    <div class="container">
        <ul>
            {foreach $charts as $action=>$chart}
                <li><a href="{plink 'chart', 'chart'=>$action}">{$chart->getTitle()}</a></li>
            {/foreach}
        </ul>
    </div>
{/block}
