{block content}
    {foreach ['person_link','org_id','contest_id','since','until','role','order','contribution','tex_signature','domain_alias'] as $field}
        {control valuePrinterRow__org__$field $model}
    {/foreach}
{/block}
