{block content}
    {foreach ['org.org_id','referenced.person_link','contest.contestBadge','org.since','org.until','org.role','org.order','org.contribution','org.tex_signature','org.domain_alias'] as $field}
        {control valuePrinter:row $field, $model}
    {/foreach}
{/block}
