.fyziklani-results{
    margin-bottom: 2em;

}
.fyziklani-results table tbody tr td[data-points="5"]{
    background-color: aquamarine;
}
.fyziklani-results table tbody tr td[data-points="3"]{
    background-color: greenyellow;
}
.fyziklani-results table tbody tr td[data-points="2"]{
    background-color: orange;
}
.fyziklani-results table tbody tr td[data-points="1"]{
    background-color: red;
}
.fyziklani-results table tbody tr td{
    text-align: center;
}
.fyziklani-results table thead tr th[data-task_label^="A"]{
    background-color: lightgreen;
}
.fyziklani-results table thead tr th[data-task_label^="B"]{
    background-color: lightyellow ;

}
.fyziklani-results table thead tr th[data-task_label^="C"]{
    background-color: lightgoldenrodyellow;
}
.fyziklani-results table thead tr th[data-task_label^="D"]{
    background-color: lightsalmon;
}
.fyziklani-results table thead tr th[data-task_label^="E"]{
    background-color: lightcoral ;
}
.fyziklani-results table thead tr th[data-task_label^="F"]{
    background-color: lightpink;
}
.fyziklani-results table thead tr th[data-task_label^="G"]{
    background-color: lightskyblue;
}

.fyziklani-results table tbody tr td{
    border:solid 1px #ccc;
    font-weight: bold;
}
.clock{
    background: white;

    position: fixed;
    bottom: 0;
    left:0;
    padding: .25em;
    font-size: 200%;
}
.clock.big{
    text-align: center;
    position: initial;
    display: block;
    font-size: 400%;

}
#imageWP{
    text-align: center;
}


