.brawl-results {
    margin: 2em 0;
}

.brawl-results table tbody tr td[data-points="5"] {
    background-color: limegreen;
}

.brawl-results table tbody tr td[data-points="3"] {
    background-color: gold;
}

.brawl-results table tbody tr td[data-points="2"] {
    background-color: orange;
}

.brawl-results table tbody tr td[data-points="1"] {
    background-color: red;
}

.brawl-results table tbody tr td {
    text-align: center;
}

.brawl-results table thead tr th[data-task_label^="A"] {
    background-color: lightgreen;
}

.brawl-results table thead tr th[data-task_label^="B"] {
    background-color: lightyellow;
}

.brawl-results table thead tr th[data-task_label^="C"] {
    background-color: lightgoldenrodyellow;
}

.brawl-results table thead tr th[data-task_label^="D"] {
    background-color: lightsalmon;
}

.brawl-results table thead tr th[data-task_label^="E"] {
    background-color: lightcoral;
}

.brawl-results table thead tr th[data-task_label^="F"] {
    background-color: lightpink;
}

.brawl-results table thead tr th[data-task_label^="G"] {
    background-color: lightskyblue;
}

.brawl-results table tbody tr td {
    border: solid 1px #ccc;
    font-weight: bold;
}

.brawl-results table tbody {
    counter-reset: results-table;
}

.brawl-results table tbody tr td:first-child::before {
    counter-increment: results-table;
    content: counter(results-table) ".";
}

.clock {
    background: white;

    position: fixed;
    bottom: 0;
    left: 0;
    padding: .25em;
    font-size: 200%;
}

.clock.big {
    text-align: center;
    position: initial;
    display: block;
    font-size: 400%;
}

#imageWP {
    text-align: center;
}

.last-update-info {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: .5em;
}

.legend-item .icon {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    border-radius: .5rem;
    margin-right: .5rem;
}

.legend-item:hover strong {
    text-decoration: underline;
}

.chart.points-in-time circle {
    stroke: white;
    stroke-width: 2.5;
}

.time-line.chart .tick line {
    stroke-dasharray: 10 10;
    stroke: #ccc;
}

.chart.points-in-time path.line {
    stroke: #1175da;
    stroke-width: 5px;
    fill: none;
}

@keyframes load-confirm-text {
    0% {
        opacity: 0;
        color: #ccc;
    }
    10% {
        opacity: 1;
        color: #5cb85c;
    }
    70% {
        opacity: 1;
        color: #5cb85c;
    }
    100% {
        color: #5cb85c;
        opacity: 0;
    }
}

.updated-confirm-text {
    animation: load-confirm-text 5s;
    opacity: 0;
    position: absolute;

}

.routing-room table td {
    width: 10rem;
    border: solid 1px #AAAAAA;
    height: 10rem;
}

.badge-category-A {
    background-color: #f00;
}

.badge-category-B {
    background-color: #0f0;
}

.badge-category-C {
    background-color: #00f;
}
