body {
    background: url(/images/bg/1.jpg) 50% 50%;
    background: url(/images/bg/IMGP1847.JPG) 50% 50%;
    background: url(/images/bg/IMGP2127.JPG) 50% 50%;
    background: url(/images/bg/IMGP2147.JPG) 50% 50%;
    background: url(/images/bg/IMGP3099.JPG) 50% 50%;
    background-size: cover;
}

.form-signin {
    background-color: white;
    max-width: 330px;
    margin: 0 auto;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input.top {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input.bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin input.last {
    margin-bottom: 10px;
}
