a.later {
    color:#ccc;
}
.user-info {
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 10px;
    background-color: #fff;
}

.flash {
    background-color: #ffc;
    border: 1px solid #dda;
    padding: 10px;
}

.inbox-field {
    display: block;
    width: 100px;
    float: left;
    margin: 2px;
    background: #dda; /* debug*/
}

.inbox-field input {    
    width: 90px;
}

/*a.inboxField {
    width: 106px;
}*/

ul.inbox-swappable {
    list-style-type: none;
}

#spinner {
    background-image: url('../images/spinner.gif');
    position:fixed;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    display: none;
}