a.later {
    color:#ccc;
}
.user-info {
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 10px;
    background-color: #fff;
}

.flash {
    background-color: #ffc;
    border: 1px solid #dda;
    padding: 10px;
}