/* general setting */
.storedQueryTags a:hover, .storedQueryTags a:focus{
    text-decoration: none;
}

.storedQueryTag {
    color: black;
    background-color: silver;
}

.storedQueryTag-active, .storedQueryTag:hover, .storedQueryTag:focus {
    opacity: 0.5;
}

.storedQueryTag-active:hover, .storedQueryTag-active:focus {
    opacity: 1;
}

/* color palette from D3.js d3.scale.category10() */
/* style 1 */
.storedQueryTag-1, .label.storedQueryTag-1:hover, .label.storedQueryTag-1:focus {
    color: white;
    background-color: #1f77b4;
}

/* style 2 */
.storedQueryTag-2, .label.storedQueryTag-2:hover, .label.storedQueryTag-2:focus {
    color: black;
    background-color: #ff7f0e;
}

/* style 3 */
.storedQueryTag-3, .label.storedQueryTag-3:hover, .label.storedQueryTag-3:focus {
    color: white;
    background-color: #2ca02c;
}

/* style 4 */
.storedQueryTag-4, .label.storedQueryTag-4:hover, .label.storedQueryTag-4:focus {
    color: white;
    background-color: #d62728;
}

/* style 5 */
.storedQueryTag-5, .label.storedQueryTag-5:hover, .label.storedQueryTag-5:focus {
    color: white;
    background-color: #9467bd;
}

/* style 6 */
.storedQueryTag-6, .label.storedQueryTag-6:hover, .label.storedQueryTag-6:focus {
    color: white;
    background-color: #8c564b;
}

/* style 7 */
.storedQueryTag-7, .label.storedQueryTag-7:hover, .label.storedQueryTag-7:focus {
    color: black;
    background-color: #e377c2;
}

/* style 8 */
.storedQueryTag-8, .label.storedQueryTag-8:hover, .label.storedQueryTag-8:focus {
    color: black;
    background-color: #cccccc;
}

/* style 9 */
.storedQueryTag-9, .label.storedQueryTag-9:hover, .label.storedQueryTag-9:focus {
    color: black;
    background-color: #bcbd22;
}

/* style 10 */
.storedQueryTag-10, .label.storedQueryTag-10:hover, .label.storedQueryTag-10:focus {
    color: black;
    background-color: #17becf;
}

/* style 11 */
.storedQueryTag-11, .label.storedQueryTag-11:hover, .label.storedQueryTag-11:focus {
    color: white;
    background-color: #000000;
}