html, body {
    /*padding-top: 35px;*/
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    /* Negative indent footer by its height */
    margin: 0 auto -55px;
    /* Pad bottom by footer height */
    padding: 55px 0;
}

.list-piped > * {
    display: inline-block;
}

.list-piped > * + *:before {
    color: #CCCCCC;
    content: "| ";
    padding: 0;
}

.clear-referenced {
    position: absolute;
    right: 1em;
    top: -3em;
    z-index: 3;
}

.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 30px;
}

.right-inner-addon i {
    position: absolute;
    right: 0;
    padding: 8px 12px;
    cursor: pointer; /* TODO not general enough, might be a static icon */
}

.required .control-label:before {
    color: #b94a48;
    /*content: '* ';*/
    display: inline;
}

body[data-contest="vyfuk"] h1,
body[data-contest="vyfuk"] h2,
body[data-contest="vyfuk"] h3,
body[data-contest="vyfuk"] h4,
body[data-contest="vyfuk"] h5,
body[data-contest="vyfuk"] h6 {
    font-family: 'Gloria Hallelujah', cursive;
}

.task-code-container input.valid {
    color: #3c763d;
}

.task-code-container input.invalid {
    color: #a94442;
}

.task-code-container .team {
    width: 6em;
}

.task-code-container .task {
    width: 2em;
}

.task-code-container .control {
    width: 1em;
}

.task-code-container .control, .task-code-container .task, .task-code-container .team {
    border: none;
    outline-offset: 0;
    outline-color: transparent;
}

.task-code-container > div {
    font-size: 120%;
    border: 1px solid #66afe9;
}

.dispatch-logo {
    height: 10rem;
}

.btn-fykos {
    color: #fff;
    background-color: #1175da;
    border-color: #005CC1;
}

.btn-vyfuk {
    color: #fff;
    background-color: #ff4800;
    border-color: #E62F00;
}

.btn-fykos:hover {
    color: #fff;
    background-color: #005CC1;
    border-color: #0042A7;
}

.btn-vyfuk:hover {
    color: #fff;
    background-color: #E62F00;
    border-color: #CC1500;
}

.btn-brawl:hover {
    color: #fff;
    background-color: #5C00C1;
    border-color: #4200A7;
}

.btn-brawl {
    color: #fff;
    background-color: #7511da;
    border-color: #5C00C1;
}

.bg-vyfuk {
    background-color: #9c3;;
}

.bg-fykos {
    background-color: #1175da;
}

.bg-fyziklani {
    background-color: #d7392e;
}

.bg-fykos.event-id-134 {
    background-color: #d7392e;
}

.bg-error {
    background-color: #dc3545;
}

.link-fykos {
    color: #1175da;
}

.link-fykos:hover {
    color: #fff;
    background-color: #1175da;
    border-color: #005CC1;
}

.link-vyfuk {
    color: #ff4800;
}

.link-vyfuk:hover {
    color: #fff;
    background-color: #ff4800;
    border-color: #E62F00;
}

.image-error {
    width: 100%;
    text-align: center;
}

.image-error img {
    height: 20rem;
}

.card-columns {
    -webkit-column-count: 3;
    column-count: 2;
}

.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}

.bs-callout h4 {
    margin-top: 0;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code,
.bs-callout .highlight {
    background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}

.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}

.bs-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem
}

.bd-callout h4 {
    margin-top: 0;
    margin-bottom: .25rem
}

.bd-callout p:last-child {
    margin-bottom: 0
}

.bd-callout code {
    border-radius: .25rem
}

.bd-callout + .bd-callout {
    margin-top: -.25rem
}

.bd-callout-info {
    border-left-color: #5bc0de
}

.bd-callout-info h4 {
    color: #5bc0de
}

.bd-callout-warning {
    border-left-color: #f0ad4e
}

.bd-callout-warning h4 {
    color: #f0ad4e
}

.bd-callout-danger {
    border-left-color: #d9534f
}

.bd-callout-danger h4 {
    color: #d9534f
}

/** auto generated code */
/* use https://www.sassmeister.com/ */
.navigation-item .card {
    height: 12rem;
    width: 12rem;
}

.navigation-item .card[data-background-id="0"] {
    border-color: #1175da;
    background-color: white;
    transition-duration: 200ms;
    color: #1175da;
}

.navigation-item .card[data-background-id="0"] a {
    color: #1175da;
}

.navigation-item .card[data-background-id="0"]:hover, .navigation-item .card[data-background-id="0"]:focus {
    transition-duration: 200ms;
    background-color: #1175da;
    color: white;
}

.navigation-item .card[data-background-id="0"]:hover a, .navigation-item .card[data-background-id="0"]:focus a {
    color: white;
}

.navigation-item .card[data-background-id="1"] {
    border-color: #75da11;
    background-color: white;
    transition-duration: 200ms;
    color: #75da11;
}

.navigation-item .card[data-background-id="1"] a {
    color: #75da11;
}

.navigation-item .card[data-background-id="1"]:hover, .navigation-item .card[data-background-id="1"]:focus {
    transition-duration: 200ms;
    background-color: #75da11;
    color: white;
}

.navigation-item .card[data-background-id="1"]:hover a, .navigation-item .card[data-background-id="1"]:focus a {
    color: white;
}

.navigation-item .card[data-background-id="2"] {
    border-color: #da1175;
    background-color: white;
    transition-duration: 200ms;
    color: #da1175;
}

.navigation-item .card[data-background-id="2"] a {
    color: #da1175;
}

.navigation-item .card[data-background-id="2"]:hover, .navigation-item .card[data-background-id="2"]:focus {
    transition-duration: 200ms;
    background-color: #da1175;
    color: white;
}

.navigation-item .card[data-background-id="2"]:hover a, .navigation-item .card[data-background-id="2"]:focus a {
    color: white;
}

.navigation-item .card[data-background-id="3"] {
    border-color: #7511da;
    background-color: white;
    transition-duration: 200ms;
    color: #7511da;
}

.navigation-item .card[data-background-id="3"] a {
    color: #7511da;
}

.navigation-item .card[data-background-id="3"]:hover, .navigation-item .card[data-background-id="3"]:focus {
    transition-duration: 200ms;
    background-color: #7511da;
    color: white;
}

.navigation-item .card[data-background-id="3"]:hover a, .navigation-item .card[data-background-id="3"]:focus a {
    color: white;
}

.navigation-item .card[data-background-id="4"] {
    border-color: #11da75;
    background-color: white;
    transition-duration: 200ms;
    color: #11da75;
}

.navigation-item .card[data-background-id="4"] a {
    color: #11da75;
}

.navigation-item .card[data-background-id="4"]:hover, .navigation-item .card[data-background-id="4"]:focus {
    transition-duration: 200ms;
    background-color: #11da75;
    color: white;
}

.navigation-item .card[data-background-id="4"]:hover a, .navigation-item .card[data-background-id="4"]:focus a {
    color: white;
}

.navigation-item .card[data-background-id="5"] {
    border-color: #da7511;
    background-color: white;
    transition-duration: 200ms;
    color: #da7511;
}

.navigation-item .card[data-background-id="5"] a {
    color: #da7511;
}

.navigation-item .card[data-background-id="5"]:hover, .navigation-item .card[data-background-id="5"]:focus {
    transition-duration: 200ms;
    background-color: #da7511;
    color: white;
}

.navigation-item .card[data-background-id="5"]:hover a, .navigation-item .card[data-background-id="5"]:focus a {
    color: white;
}

.schedule-row {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: .5rem;
    border-bottom: #f44336 1px dashed;
}
.schedule-row:first-of-type{
    border-top: #f44336 1px dashed;
}

.schedule-line {
    width: 100%;
    border-bottom: #f44336 1px dashed;
    position: absolute;
}

.schedule-row-info {
    /*height: 100px;*/
}

.schedule-row-info .schedule-line {
    /*bottom: 50 px;*/
}

.schedule-row-chooser {
    /*height: 150px;*/
}

.schedule-row-chooser .schedule-line {
    /* bottom: 75 px;*/
}

.schedule-block {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.schedule-container, .info-container {
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}

.schedule-container {
    cursor: pointer;
}

.info-container {
    cursor: not-allowed;
}

.time-block {
    width: 20%;
}

.schedule-time {
    display: flex;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
    height: 100%;
}

.schedule-time > div {
    width: 100%;
}

.chooser-container, .info-container {
    width: 100%;
}

.chooser-container {
    border: solid 1px #f44336;
    padding: 1rem;
    border-radius: 1rem;
}

.chooser-container.active {
    color: white; /**/
    background-color: #f44336;
}

.chooser-check-container, .info-check-container {
    align-content: center;
    align-items: center;
    display: flex;
}

.schedule-field-container {
    color: #f44336;
}

