{block content}

    <h2>{_'Info'}</h2>
    <p>{$event->report}</p>
    <ul class="list-group mb-3">
        {foreach $fields as $fieldName}
            {control valuePrinter__event__$fieldName:listItem $event}
        {/foreach}
        <li class="list-group-item">
            <a class="col-12" href="{$webUrl}">{_'Event web-site'}</a>
        </li>
    </ul>
    <h2>{_'Actions'}</h2>
    {control navigation, "event.dashboard.default"}
    <h2>{_'Old system "fast" links'}</h2>
    <a class="btn btn-secondary"
       href="{plink :Org:Event:edit id=>$event->event_id ,contestId => $event->getEventType()->contest_id, year=>$event->year}">{_'Edit'}</a>
{/block}
