{foreach $data as $section}
    {if isset($section['headline'])}
        <h2>{_($section['headline'])}</h2>
    {/if}
    {foreach $section['fields'] as $field}
        {control valuePrinter:row $field, $model}
    {/foreach}
    <hr/>
{/foreach}
