{if $layout =='stalking'}
    <li class="list-group-item">
        <div class="row">
            <b class="col-5">{$title}</b>
            <span class="col-7">
           {$html}
        </span>
        </div>
    </li>
{else}
    <div class="row">
        <b class="col-xl-2 col-lg-4 col-md-5 col-sm-6">{$title}</b>
        <span class="col-xl-10 col-lg-8 col-md-7 col-sm-6">
        {$html}
    </span>
    </div>
{/if}
